<!DOCTYPE html>
<html lang="kg">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLBY00H8E3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GLBY00H8E3');
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(71709628, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
       });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/71709628" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '599827717918759');
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=599827717918759&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
<!-- /Yandex.Metrika counter -->
  <meta name="facebook-domain-verification" content="ok6b4dhnmdy33bx7n8kq1dldvbhrhi" />
  <meta charset="UTF-8"/>
  <meta name="description" content="None">
  <meta name="keywords" content="None">
  <meta property="og:title" content="None"/>
  <meta property="og:image"
        content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content="https://salymfinance.kg/kg/shares/"/>
  <meta name="author" content="MITAPP"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="theme-color" content="#ffffff"/>
  <link rel="shortcut icon" href="/static/img/svg/icon.svg"/>
  <link rel="stylesheet" href="/static/fonts/Montserrat/stylesheet.css"/>
  <link rel="stylesheet" href="/static/libs/owl-carousel2/owl-carousel2.css"/>
  <link rel="stylesheet" href="/static/libs/range-slider/ion.rangeSlider.min.css"/>
  <link rel="stylesheet" href="/static/css/style.css"/>
  
  
  <title>Акциялар - «Салым Финанс» МФК</title>





</head>
<body class="kg">
<style>
  .loan-purchase .guarantee-advantages .guarantee-card {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
  .navigation ul {
    margin-right: 20px;
}
</style>
<header class="header">
  <div class="header-desktop">
    <div class="nav-top">
      <div class="container">
        <div class="nav-top__content">
          <div class="nav-top-left">
            <a href="/kg/"><div class="logo"><img src="/static/img/svg/logo.svg" alt="load img"/></div></a>


            <div class="lang">
              <div class="lang-but open-dropdown">
                
                  <a class="kg">Кыргызча</a>
                
              </div>
              <div class="lang-but__content content-dropdown">
                
                  
                  <a class=""href="/ru/shares/">
                  
                    <a href="/ru/shares/">Русский</a>
                  
                
                  
                  <a class="active">
                  
                    <a class="active">Кыргызча</a>
                  
                
                  
                  <a class=""href="/templates/en/shares/">
                  
                    <a href="/templates/en/shares/">English</a>
                  
                
              </div>
            </div>
          </div>
          <div class="nav-top-right">
            <div class="header-tel">
              <div class="tel-but open-dropdown"><a>0 (555) 781 556</a></div>
              <div id="phone-dropdown" class="tel-but__content content-dropdown">
                
                  <a href="tel:0 (555) 781 556">0 (555) 781 556</a><br>
                
                  <a href="tel:0 (700) 781 556">0 (700) 781 556</a><br>
                
                  <a href="tel:0 (777) 781 556">0 (777) 781 556</a><br>
                
              </div>
            </div>
            <div class="header-local"><a class="ru" href="/kg/branch-network/?filter=all">Филиалдар</a></div>
            <div class="dropdown">
              <div class="title">Обратная связь<span class="icon"></span></div>
              <div class="drop-content">
                
                  <a class="item" href="https://salymfinance.kg/contacts/">Обратная связь</a>
                
              </div>
            </div>
          <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/"></a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/"></a>
        </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-bottom">
      <div class="container">
        <div class="nav-bottom__content">
          <div class="navigation">
            <ul>
              
                


<li><a href="/kg/">Башкы бет</a></li>
<li class="dropdown"><a >Компания жөнүндө</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/kg/about/company/"> Биз жөнүндө</a></li>
            <li><a href="/kg/about/partners/">Өнөктөштөр</a></li>
            <li><a href="/kg/about/shareholders/">Акционерлер</a></li>
          </ul>
          <ul>
            <li><a href="/kg/about/social/">Коомдук жоопкерчилик</a></li>
            <li><a href="/kg/about/license/">Лицензиялар</a></li>
            <li><a href="/kg/about/vacancy-list/">Вакансиялар</a></li>
          </ul>
          <ul>
            <li><a href="/kg/about/news/">Жаңылыктар</a></li>
            <li><a href="/kg/report/">Отчеттуулук</a></li>
          </ul>
          <ul>
          </ul>
        </div>
      </div>
    </div>
</li>
<li class="dropdown"><a >Кредиттер</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/kg/credit/">Бардык кредиттер</a></li>
          </ul>
          <ul>
            
            <li><a href="/kg/credit/ipoteka">Ипотека</a></li>
            
            
            <li><a href="/kg/credit/credit-za-chas">Бир саат ичинде кредит</a></li>
            
            
            <li><a href="/kg/credit/credit-na-obrazovanie">Билим алууга кредит</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/kg/credit/teplo-i-comfort">«Жылуулоо жана ыңгай» кредит</a></li>
            
            
            <li><a href="/kg/credit/potrebitelskij-kredit">Керектөөгө муктаждык үчүн кредиттер</a></li>
            
            
            <li><a href="/kg/credit/agrocredit">Агрокредит</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/kg/credit/stroitelstvo-i-remont">«Турак оңдоо жана куруу» кредит</a></li>
            
            
            <li><a href="/kg/credit/business-credit">Бизнести өнүктүрүү үчүн</a></li>
            
            
            <li><a href="/kg/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/kg/credit/credit-na-refinansirovanie">Кайра финансылоого кредит</a></li>
            
            
          
        </div>
      </div>
    </div>
</li>





















<li><a  href="/kg/deposit/deposit-salym/">Депозиттер</a></li>

<li><a  href="/kg/money-transfer/">Которуулар</a></li>
<li><a  href="/kg/guarantee/">Кепилдиктер</a></li>
<li class="dropdown"><a class="active">Баалуу кагаздар</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
              <li><a href="/kg/shares/">Акциялар</a></li>
              <li><a href="/kg/bonds/">Облигациялар</a></li>
          </ul>
        </div>
      </div>
    </div>
</li>



<li><a  href="/kg/payment-methods/">Төлөм ыкмалары</a></li>
<li><a  href="/kg/contacts/">Байланышуу</a></li>
              
            </ul>
          </div>
          <div class="header-search"><a href="/kg/search/"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-mobile">
    <div class="header-mobile__top">
      <div class="menu-hamburger">
        <div class="menu-hamburger__icon">
          <div class="icon-hamburger"><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <div class="logo"><a href="/kg/"><img src="/static/img/svg/logo.svg" alt="load img"/></a></div>
      <div class="header-search"><a href="/kg/search/"></a></div>
    </div>
    <div class="header-mobile-menu">
      <div class="navigation">
        <ul>
          

<li><a href="/kg/">Башкы бет</a></li>
<li class="dropdown"><a href="#">Кредиттер</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/kg/credit/">Кредиттер</a></li>
        
        <li><a href="/kg/credit/ipoteka">Ипотека</a></li>
        
        <li><a href="/kg/credit/credit-za-chas">Бир саат ичинде кредит</a></li>
        
        <li><a href="/kg/credit/credit-na-obrazovanie">Билим алууга кредит</a></li>
        
        <li><a href="/kg/credit/teplo-i-comfort">«Жылуулоо жана ыңгай» кредит</a></li>
        
        <li><a href="/kg/credit/potrebitelskij-kredit">Керектөөгө муктаждык үчүн кредиттер</a></li>
        
        <li><a href="/kg/credit/agrocredit">Агрокредит</a></li>
        
        <li><a href="/kg/credit/stroitelstvo-i-remont">«Турак оңдоо жана куруу» кредит</a></li>
        
        <li><a href="/kg/credit/business-credit">Бизнести өнүктүрүү үчүн</a></li>
        
        <li><a href="/kg/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
        
        <li><a href="/kg/credit/credit-na-refinansirovanie">Кайра финансылоого кредит</a></li>
        
      </ul>
    </div>
</li>











<li><a href="/kg/deposit/deposit-salym/">Депозиттер</a></li>


<li><a href="/kg/money-transfer/">Которуулар</a></li>
<li><a href="/kg/guarantee/">Кепилдиктер</a></li>
<li class="dropdown"><a href="#">Баалуу кагаздар</a>
    <div class="drop-down-hover">
      <ul>
          <li><a href="/kg/shares/">Акциялар</a></li>
          <li><a href="/kg/bonds/">Облигациялар</a></li>
      </ul>
    </div>
</li>

<li class="dropdown"><a href="#"> Биз жөнүндө</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/kg/about/company/">Компания жөнүндө</a></li>
        <li><a href="/kg/about/partners/">Өнөктөштөр</a></li>
        <li><a href="/kg/about/shareholders/">Акционерлер</a></li>
        <li><a href="/kg/about/social/">Коомдук жоопкерчилик</a></li>

        <li><a href="/kg/about/license/">Лицензиялар</a></li>
        <li><a href="/kg/about/vacancy-list/">Вакансиялар</a></li>
        <li><a href="/kg/about/news/">Жаңылыктар</a></li>

        <li><a href="/kg/report/">Отчеттуулук</a></li>
      </ul>
    </div>
</li>

<li><a  href="/kg/payment-methods/">Төлөм ыкмалары</a></li>
<li><a href="/kg/contacts/">Байланышуу</a></li>
        </ul>
      </div>
      <div class="lang">
        <div class="lang-but">
          <div class="dropdown">
            
              <a class="kg">Кыргызча</a>
            
            <div class="drop-content">
              
                
                
                  <a href="/ru/shares/">Русский</a>
                
              
                
                
                  <a >Кыргызча</a>
                
              
                
                
                  <a href="/templates/en/shares/">English</a>
                
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-tel">
        <div class="tel-but">
          <div class="dropdown"><a>0 (555) 781 556</a>
            <div class="drop-content">
              <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (700) 781 556">0 (700) 781 556</a>
              
                <a href="tel:0 (777) 781 556">0 (777) 781 556</a>
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-local"><a class="ru" href="/kg/branch-network/">Филиалдар</a></div>
    </div>
  </div>

</header>
<div class="modal-fixed">
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <h2>Арызыңызды тапшырыңыз</h2>
        <form action="">
          <div class="input-row">
            <div class="input">
              <input type="text" placeholder="Имя"/>
            </div>
            <div class="input">
              <input type="text" placeholder="Фамилия"/>
            </div>
          </div>
          <div class="input">
            <input type="text" placeholder="Отчество"/>
          </div>
          <div class="input">
            <input type="text" placeholder="E-mail"/>
          </div>
          <div class="input">
            <input type="text" placeholder="Телефон"/>
          </div>
          <div class="input">
            <textarea placeholder="Сообщение"></textarea>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="modal-checkbox"/>
            <label class="label" for="modal-checkbox"></label>
            <label>Мен маалыматты берүүнүн шарттарына макулмун</label>
          </div>
          <button type="submit">Жөнөтүү</button>
        </form>
        <div class="modal-close closeBut"></div>
      </div>
      <!--==============финишная модалка==============-->
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Арызыңызды тапшырыңыз</h3>
          <p>Бир күн ичинде биздин адистерибиз сиздин маалыматтарды иштеп чыгышат да, сиздин почтаӊызга жооп жөнөтүшөт.</p>
          <div class="modal-finish-close closeBut">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-fixed" id="finishmodal" >
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Кайтарым  байланыш</h3>
          <p>Жакында арада биздин адистер суранычыңызды карап чыгып, сиз менен байланышат.</p>
          <div class="modal-finish-close closeBut" onclick="hideModal()">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>





<main class="shares">
  <div class="crumb">
    <div class="container">
      <div class="crumb-content"><a href="/kg/">Башкы бет</a><a href="">Баалуу кагаздар</a><a href="">Акциялар</a></div>
    </div>
  </div>
  <div class="container">
    <section class="shares-content">
      <h1>Акциялар (IPO)</h1>
      <div class="shares-main-info">
        <div class="shares-text">
            <p><span style="font-size:12pt"><strong><span style="font-size:11.0pt"><span style="color:black">&laquo;Салым Финанс&raquo; МФК ААК</span></span></strong> &mdash; баалуу кагаздар рыногунда активдүү иштеген жана өз милдеттенмелерин өз убагында аткарууну, динамикалуу өнүгүүнү жана өз ишмердүүлүгүнүн ачыктыгын көрсөткөн аз сандагы каржылык-насыялык уюмдардын бири. 2020-жылдын сентябрында маанилүү окуя болуп өттү &ndash; Кыргызстанда биринчи жолу артыкчылыктуу акцияларды чыгаруу жана коомдук жайгаштыруу жүзөгө ашырылды. Эмитент болуп биздин компаниябыз чыкты, ал мурда облигациялардын 5 чыгарылышын ийгиликтүү жайгаштыруу тажрыйбасына ээ болгон. Артыкчылыктуу акцияларды жайгаштыруунун жыйынтыктары боюнча жаӊы акционерлердин саны 47ни түздү, алардын ичинде 2 юридикалык жактар бар.</span></p>
        </div>
        <div class="shares-documentation">
          <h3>Документация</h3>
          <ul>
            
                <li><a href="/media/%D0%A3%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F-%D0%BF%D1%80%D0%B5%D0%B4%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F_JxA0dmx.pdf">Сунуштоонун шарттары</a></li>
            
                <li><a href="/media/%D0%9F%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82-%D0%9E%D0%90%D0%9E-%D0%9C%D0%A4%D0%9A-%D0%A1%D0%B0%D0%BB%D1%8B%D0%BC-%D0%A4%D0%B8%D0%BD%D0%B0%D0%BD%D1%81_qtyzdTC.pdf">Эмиссиянын проспекти</a></li>
            
          </ul>
        </div>
      </div>
    </section>
    <section class="bonds-table">
      <h2>Артыкчылыктуу акцияларды биринчи ачык сунушталышынын негизги параметрлери:</h2>
      <div class="shareholders-table">
        <div class="shareholders-table-inner">
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Чыгарылыштын көлөмү</div>
            <div class="shareholders-table-column">50 000 000 сом</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Артыкчылыктуу акциялардын саны</div>
            <div class="shareholders-table-column">50 000 нуска</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Номиналдуу наркы</div>
            <div class="shareholders-table-column">1000 сом</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Жайгаштыруу баасы</div>
            <div class="shareholders-table-column">1100 сом</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Белгиленген кирешелүүлүгү</div>
            <div class="shareholders-table-column">Жылына 160 сом</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Дивиденддерди төлөө</div>
            <div class="shareholders-table-column">Финансалык жыл бүткөндөн кийин, Акционерлердин жалпы чогулушу аныктаган мөөнөттөрдө</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Сатуулардын минималдуу топтому</div>
            <div class="shareholders-table-column">25 нуска</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Ликвидациялык наркы</div>
            <div class="shareholders-table-column">1000 сом</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Чыгарылыштын андеррайтери</div>
            <div class="shareholders-table-column">«Сенти» Финансалык компаниясы ЖЧК</div>
          </div>
          
        </div>
      </div>
      <div class="info-for-shareholders"><p>Акционерлер &ndash;&nbsp;<strong>артыкчылыктуу акциялардын ээлери</strong>&nbsp;&ndash; коомдун кирешесинин өлчөмүнөн көз карандысыз ар жыл сайын дивиденддердин белгиленген өлчөмүн алууга алардын укугунан көрүнгөн&nbsp;<strong>артыкчылыкка</strong>&nbsp;ээ болушат, башкаруу маселелери боюнча акционерлердин жалпы чогулушунда добуш берүү укугунда&nbsp;<strong>чектөөлөргө&nbsp;</strong>да ээ болушат.</p></div>
    </section>
    <section class="mission-company">
      <h2>«Салым Финанс» МФК ААК – өз өлкөлүк капиталы бар эӊ ири микрофинансалык уюм:</h2>
    <ul>
	<li>Активдери &ndash;&nbsp;<u>3&nbsp;миллиард сом</u>;</li>
	<li>Насыя алуучулары, депозиторлору жана облигационерлери &ndash;&nbsp;<u>18&nbsp;000</u>;</li>
	<li>Кыргызстандын бүткүл аймагы боюнча филиалдары &ndash;&nbsp;<u>23 кеӊсе</u>;</li>
	<li><u>Персоналдын саны &ndash;&nbsp;</u><u>170 кызматкерлер</u>.</li>
</ul>

<p><em>&laquo;Салым Финанс&raquo; МФК ААКнун ишмердүүлүгүнүн жана артыкчылыктуу акцияларды сатып алуунун маселелери боюнча төмөнкү телефондорго кайрылууга болот:&nbsp;<a href="tel:+996558550809">+996(558)550809</a></em></p>
    </section>
    <section class="shares-tabs">
      <h2>Көп учурда берилүүчү суроолор:</h2>
      <div class="bonds-tabs">
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">Артыкчылыктуу акциялар деген эмне?</div>
          <div class="tabs-content">Акция – анын кармоочусуна (акционерге) кирешенин бир бөлүгүн дивиденддер түрүндө алууга, иштерди башкарууга катышууга жана жоюу учурунда мүлктүн бир бөлүгүнө укук берүүчү баалуу кагаз. Артыкчылыктуу акциялар – ар жыл сайын дивиденддердин белгиленген өлчөмүн алууга, жана жоюу учурунда мүлктүн бир бөлүгүнө укук беришет – алардын артыкчылыгы мына ушунда турат. Ушул акциялар боюнча коомду башкарууда чектөөлөр бар болот – мисалга алсак, башкаруу органдарын шайлай жана бюджетти аныктай алышпайт.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">Бир артыкчылыктуу акция канча турат?</div>
          <div class="tabs-content">Жайгаштыруу (сатуу) баасы 1100 сом, жана бир артыкчылыктуу акциянын номиналдуу наркы 1000 сомду түзөт (эсеп-кысап максаттары үчүн).</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">Бир артыкчылыктуу акцияга дивиденддин өлчөмү канчаны түзөт?</div>
          <div class="tabs-content">Бир артыкчылыктуу акциянын дивидендинин өлчөмү жылына 160 сомду же жылдык 16%ды түзөт.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">Артыкчылыктуу акцияларды сатып алуу үчүн эмне кылуу керек?</div>
          <div class="tabs-content">«СЕНТИ» компаниясынын Чүй пр. 219, 9-кабат дарегинде жайгашкан кеӊсесине паспорту менен келүү керек. Телефон номерлери +996 (312) 61 45 89; +996 (700) 61 00 25; +996 (559) 61 00 25.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">IPO деген эмне?</div>
          <div class="tabs-content">Бул акцияларды жалпы элдик сунуштоо демилгеси, б.а. компаниянын акциялары бардык кызыкдар тараптарга сатып алууга сунушталат.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">«Салым Финанс» эмне болгон компания?</div>
          <div class="tabs-content">Бул микрофинансалык компания – насыялоонун жана депозиттерди тартуунун үстүнөн иштейт:

- 13 жылдан бери иштейт;
- 3 миллиард сом активдери бар өлкөдөгү ири микрофинансалык уюмдардын бири;
- 18 000ден ашуун кардарларды тейлейт;
- өлкө боюнча 23 филиалы жана штатта 170 кызматкерлери бар;
- эл аралык фонддор менен кызматташат, эл аралык финасалык рейтингге ээ.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">«Салым Финанстын» акцияларына салынган каражаттарды кайтарып берүүнүн кепилдиктери кандай?</div>
          <div class="tabs-content">Компаниялардын акцияларына, анын ичинде «Салым Финанстын» акцияларына каражаттарды салганда – сатып алуучу компаниянын таржымалы жана коомдук бедели, ошондой эле каржылык абалы жөнүндө маалыматка таянуусу керек. Өз акцияларынын өтүмдүүлүгүн колдоо үчүн «Салым Финанс» бардык жайгаштырылган акциялардын 10%ына чейинкисин (30 миллион сомго чейин) сатып алууну пландаштырат, б.а. бул акциялардын ээлерине салынган каражаттарды ыкчам кайтарып алуу мүмкүнчүлүгүнө ээ болууга жол ачат (зарылдыгы болгондо). Мыйзам боюнча акцияларга салынган каражаттарды кайтарып алуу маселелери уюмдарды жоюуда аныкталган – артыкчылыктуу акциялардын ээлеринде жөнөкөй акциялардын ээлерине караганда мүлктү алууга кезектин артыкчылыктуу укугу бар.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">«Салым Финанс» МФК ААКнун түзүлүү таржымалын, финансалык  отчеттуулугун кайдан көрүүгө болот?</div>
          <div class="tabs-content">Компаниянын түзүлүү таржымалы, финансалык отчеттуулугу менен Компаниянын www.salymfinance.kg сайтынан, ошондой эле андеррайтердин www.senti.kg сайтынан таанышууга болот.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">Дивиденддер боюнча төлөөлөр качан болот?</div>
          <div class="tabs-content">Артыкчылыктуу акциялар боюнча дивиденддерди төлөөлөр ар жыл сайын, финасалык жыл бүткөндөн кийин Акционерлердин жалпы чогулушу өткөрүлгөн соӊ жүргүзүлөт.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">Мен өз дивиденддеримди кайдан ала алам?</div>
          <div class="tabs-content">Артыкчылыктуу акциялар боюнча дивиденддерди төлөө «Салым Финанс» МФК ААКнун Манас пр. 40 (Чүй пр. менен кесилишет) дарегиндеги кеӊсесинде жүзөгө ашырылат, же акциялардын ээсинин эсебине которулушу мүмкүн.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">Эгерде мен артыкчылыктуу акцияларды жайгаштыруу мезгилинн аягында сатып алсам, анда дивиденддер кандай эсептелет?</div>
          <div class="tabs-content">Биринчи дивиденддик мезгилдин мөөнөтү кыскарак экендигине карабай, сиз дивиденддерди толук көлөмдө бир акция үчүн 160 сом өлчөмүндө аласыз.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">Артыкчылыктуу акцияларды кандай түрдө чыгарышат?</div>
          <div class="tabs-content">Артыкчылыктуу акциялар документсиз формада, эсептердеги жазуулар түрүндө чыгарылышат.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">Бир артыкчылыктуу акциянын наркы канча турат?</div>
          <div class="tabs-content">Бир артыкчылыктуу акциянын ликвидациялык наркы 1000 сомду түзөт.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">Артыкчылыктуу акцияларды кармоочулардын кандай укуктары бар?</div>
          <div class="tabs-content">Акционер төмөнкү мүлктүк укуктарга ээ болот:
- коомдун ишмердүүлүгүнөн түшкөн кирешенин бир бөлүгүн жана аны жоюу учурунда мүлктүн бир бөлүгүн алуу;
- акцияларды же болбосо алардын бир бөлүгүн жарандарга, юридикалык жактарга, жана башка жактарга мураска калтыруу, сатуу, өткөрүп берүү (күрөөгө);
- коомдун уставына ылайык акционердик коом тарабынан чыгарылуучу акцияларды артыкчылыктуу иретте сатып алуу.

Акционер төмөнкү мүлктүк эмес укуктарга ээ болот:
- «Акционердик коомдор жөнүндө» КРнын Мыйзамында жана коомдун уставында аныкталган тартипте акционердик коомдун иштерин башкарууга катышуу;
- соттук тартипте өз укуктарын коргоо, соттук тартипте эмиссиянын чындыктуулугун талашуу;
- «Акционердик коомдор жөнүндө» КРнын Мыйзамында жана коомдун уставында алдын ала каралган тартипте коомдун ишмердүүлүгү жөнүндө маалымат алуу.</div>
        </div>
        
      </div>
    </section>
  </div>
</main>


<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__content">
        <div class="footer-top_contact">
          
            <div class="contact-block">
              <h4>Кабылдама</h4>
              <ul>
                
                  <li><a href="tel:0 (312) 610 513">0 (312) 610 513</a></li>
                
                  <li><a href="tel:0 (550) 781 537">0 (550) 781 537</a></li>
                
              </ul>
            </div>
          
            <div class="contact-block">
              <h4>Кредиттердин суроолору боюнча</h4>
              <ul>
                
                  <li><a href="tel:0 (555) 781 556">0 (555) 781 556</a></li>
                
                  <li><a href="tel:0 (700) 781 556">0 (700) 781 556</a></li>
                
                  <li><a href="tel:0 (777) 781 556">0 (777) 781 556</a></li>
                
              </ul>
            </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="footer-center">
    <div class="container">
      <div class="footer-center__content">
        <div class="footer-center__block">
          <h4>Кредиттер</h4>
          <ul>
            <li><a href="/kg/credit/">Бардык кредиттер</a></li>
            
              <li><a href="/kg/credit/ipoteka">Ипотека</a></li>
            
              <li><a href="/kg/credit/credit-za-chas">Бир саат ичинде кредит</a></li>
            
              <li><a href="/kg/credit/credit-na-obrazovanie">Билим алууга кредит</a></li>
            
              <li><a href="/kg/credit/teplo-i-comfort">«Жылуулоо жана ыңгай» кредит</a></li>
            
              <li><a href="/kg/credit/potrebitelskij-kredit">Керектөөгө муктаждык үчүн кредиттер</a></li>
            
              <li><a href="/kg/credit/agrocredit">Агрокредит</a></li>
            
              <li><a href="/kg/credit/stroitelstvo-i-remont">«Турак оңдоо жана куруу» кредит</a></li>
            
              <li><a href="/kg/credit/business-credit">Бизнести өнүктүрүү үчүн</a></li>
            
              <li><a href="/kg/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
            
              <li><a href="/kg/credit/credit-na-refinansirovanie">Кайра финансылоого кредит</a></li>
            
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>Компания жөнүндө</h4>
          <ul>
            <li><a href="/kg/about/company/"> Биз жөнүндө</a></li>
            <li><a href="/kg/about/partners/">Өнөктөштөр</a></li>
            <li><a href="/kg/about/shareholders/">Акционерлер</a></li>
            <li><a href="/kg/about/social/">Коомдук жоопкерчилик</a></li>

            <li><a href="/kg/about/license/">Лицензиялар</a></li>
            <li><a href="/kg/report/">Отчеттуулук</a></li>
            <li><a href="/kg/contacts/">Байланышуу</a></li>
            <li><a href="/kg/about/vacancy-list/">Вакансиялар</a></li>
            <li><a href="/kg/about/news/">Жаңылыктар</a></li>
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>Баалуу кагаздар</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/kg/bonds/">Облигациялар</a></li>
              <li><a href="/kg/shares/">Акциялар</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-center__block">
          <h4>Реквизиттери</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/kg/branch-network/?filter=all">Филиалдар</a></li>
              <li><a href="/kg/about/payment-methods/">Кредитти төлөөнүн ыкмалары</a></li>
              <li><a href="/kg/about/deposit/payment-methods/">Депозитти толуктоонун ыкмалары</a></li>
              <li><a href="/kg/bank-details/">Реквизиты оплаты кредита</a></li>
              <li><a href="/kg/bank-details/requisite/">Реквизиты пополнения депозита</a></li>
            </ul>
            <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/">Instagram</a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/">Facebook</a>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__content"><span>&quot;Салым Финанс&quot; МФК ААК © 2007-2022</span>
        
          <a href="https://salymfinance.kg/media/Prosedure_for_consideration_applications_KG.pdf" target="_blank"><span>Кайрылууларды кароо процедурасы</span></a>
        
        <a class="mitap" href="https://mitapp.pro/ru/">MITAPPта жасалган</a>

      </div>
    </div>
  </div>
</footer>

<script src="https://livechatv2.chat2desk.com/packs/ie-11-support.js"></script>

<script>
  window.chat24_token = "1d5e59d45f967ae224fbec78e1680a67";
  window.chat24_url = "https://livechatv2.chat2desk.com";
  window.chat24_socket_url ="wss://livechatv2.chat2desk.com/widget_ws_new";
  window.chat24_show_new_wysiwyg = "true";
  window.chat24_static_files_domain = "https://storage.chat2desk.com/";
  window.lang = "ru";
  window.fetch("".concat(window.chat24_url, "/packs/manifest.json?nocache=").concat(new Date().getTime())).then(function (res) {
    return res.json();
  }).then(function (data) {
    var chat24 = document.createElement("script");
    chat24.type = "text/javascript";
    chat24.async = true;
    chat24.src = "".concat(window.chat24_url).concat(data["application.js"]);
    document.body.appendChild(chat24);
  });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/vue/common.js"></script>
<script src="/static/js/libs.js"></script>
<script src="/static/libs/owl-carousel2/owl-carousel2.js"></script>
<script src="/static/libs/range-slider/ion.rangeSlider.min.js"></script>
<script src="/static/js/main.js"></script>

<script>
    $(document).ready(function () {
        $(".main-owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            nav: true,
            navContainerClass: 'owl-nav',

        });

    });
</script>
<script>
    function hideModal() {
        let elem = document.getElementById('finishmodal');
        elem.style.opacity = 0;
        elem.style.visibility = 'hidden';
    }
</script>

<script>
  $(document).ready(function () {
    $(".bonds-tabs__block .tabs-button").click(function () {
      $(this).siblings(".tabs-content").slideToggle()
    })
  })
</script>

</body>
</html>