<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLBY00H8E3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GLBY00H8E3');
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(71709628, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
       });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/71709628" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '599827717918759');
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=599827717918759&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
<!-- /Yandex.Metrika counter -->
  <meta name="facebook-domain-verification" content="ok6b4dhnmdy33bx7n8kq1dldvbhrhi" />
  <meta charset="UTF-8"/>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:title" content=""/>
  <meta property="og:image"
        content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content=""/>
  <meta name="author" content="MITAPP"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="theme-color" content="#ffffff"/>
  <link rel="shortcut icon" href="/img/svg/icon.svg"/>
  <link rel="stylesheet" href="/fonts/Montserrat/stylesheet.css"/>
  <link rel="stylesheet" href="/libs/owl-carousel2/owl-carousel2.css"/>
  <link rel="stylesheet" href="/libs/range-slider/ion.rangeSlider.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
  
  
  <title>Home - MFC "Salym Finance"</title>





</head>
<body >
<style>
  .loan-purchase .guarantee-advantages .guarantee-card {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
  .navigation ul {
    margin-right: 20px;
}
</style>
<header class="header">
  <div class="header-desktop">
    <div class="nav-top">
      <div class="container">
        <div class="nav-top__content">
          <div class="nav-top-left">
            <a href="/templates/enmplates/en"><div class="logo"><img src="/img/svg/logo.svg" alt="load img"/></div></a>


            <div class="lang">
              <div class="lang-but open-dropdown">
                
                  <a class="en">English</a>
                
              </div>
              <div class="lang-but__content content-dropdown">
                
                  
                  <a class=""href="/ru">
                  
                    <a href="/ru">Русский</a>
                  
                
                  
                  <a class=""href="/kg">
                  
                    <a href="/kg">Кыргызча</a>
                  
                
                  
                  <a class="active">
                  
                    <a class="active">English</a>
                  
                
              </div>
            </div>
          </div>
          <div class="nav-top-right">
            <div class="header-tel">
              <div class="tel-but open-dropdown"><a>0 (555) 781 556</a></div>
              <div id="phone-dropdown" class="tel-but__content content-dropdown">
                
                  <a href="tel:0 (555) 781 556">0 (555) 781 556</a><br>
                
                  <a href="tel:0 (700) 781 556">0 (700) 781 556</a><br>
                
                  <a href="tel:0 (777) 781 556">0 (777) 781 556</a><br>
                
              </div>
            </div>
            <div class="header-local"><a class="ru" href="/templates/enmplates/en/branch-network?filter=all">Branches</a></div>
            <div class="dropdown">
              <div class="title">Обратная связь<span class="icon"></span></div>
              <div class="drop-content">
                
                  <a class="item" href="https://salymfinance.kg/contacts/">Обратная связь</a>
                
              </div>
            </div>
          <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/"></a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/"></a>
        </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-bottom">
      <div class="container">
        <div class="nav-bottom__content">
          <div class="navigation">
            <ul>
              
                


<li><a href="/templates/enmplates/en">Home</a></li>
<li class="dropdown"><a >About company</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/templates/enmplates/en/about/company">About us</a></li>
            <li><a href="/templates/enmplates/en/about/partners">Partners</a></li>
            <li><a href="/templates/enmplates/en/about/shareholders">Shareholders</a></li>
          </ul>
          <ul>
            <li><a href="/templates/enmplates/en/about/social">Social Responsibility</a></li>
            <li><a href="/templates/enmplates/en/about/license">Licenses</a></li>
            <li><a href="/templates/enmplates/en/about/vacancy-list">Vacancies</a></li>
          </ul>
          <ul>
            <li><a href="/templates/enmplates/en/about/news">News</a></li>
            <li><a href="/templates/enmplates/en/report">Reports</a></li>
          </ul>
          <ul>
          </ul>
        </div>
      </div>
    </div>
</li>
<li class="dropdown"><a >Loans</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/templates/enmplates/en/credit">All loans</a></li>
          </ul>
          <ul>
            
            <li><a href="/templates/en/credit/ipoteka">Mortgage</a></li>
            
            
            <li><a href="/templates/en/credit/credit-za-chas">Credit per hour</a></li>
            
            
            <li><a href="/templates/en/credit/credit-na-obrazovanie">Education loan</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/templates/en/credit/teplo-i-comfort">Credit &quot;Heat and comfort&quot;</a></li>
            
            
            <li><a href="/templates/en/credit/potrebitelskij-kredit">Consumer credit</a></li>
            
            
            <li><a href="/templates/en/credit/agrocredit">Agrocredit</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/templates/en/credit/stroitelstvo-i-remont">Credit &quot;Construction and repair&quot;</a></li>
            
            
            <li><a href="/templates/en/credit/business-credit">For business development</a></li>
            
            
            <li><a href="/templates/en/credit/Business-Mortgage">Business-Mortgage</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/templates/en/credit/credit-na-refinansirovanie">Refinancing loan</a></li>
            
            
          
        </div>
      </div>
    </div>
</li>





















<li><a  href="/templates/enmplates/en/deposit/deposit-salym">Deposits</a></li>

<li><a  href="/templates/enmplates/en/money-transfer">Money transfer</a></li>
<li><a  href="/templates/enmplates/en/guarantee">Guarantees</a></li>
<li class="dropdown"><a >Stocks</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
              <li><a href="/templates/enmplates/en/shares">Shares</a></li>
              <li><a href="/templates/enmplates/en/bonds">Bonds</a></li>
          </ul>
        </div>
      </div>
    </div>
</li>



<li><a  href="/templates/enmplates/en/payment-methods">Payment methods</a></li>
<li><a  href="/templates/enmplates/en/contacts">Contacts</a></li>
              
            </ul>
          </div>
          <div class="header-search"><a href="/templates/enmplates/en/search"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-mobile">
    <div class="header-mobile__top">
      <div class="menu-hamburger">
        <div class="menu-hamburger__icon">
          <div class="icon-hamburger"><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <div class="logo"><a href="/templates/enmplates/en"><img src="/img/svg/logo.svg" alt="load img"/></a></div>
      <div class="header-search"><a href="/templates/enmplates/en/search"></a></div>
    </div>
    <div class="header-mobile-menu">
      <div class="navigation">
        <ul>
          

<li><a href="/templates/enmplates/en">Home</a></li>
<li class="dropdown"><a href="#">Loans</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/templates/enmplates/en/credit">Loans</a></li>
        
        <li><a href="/templates/en/credit/ipoteka">Mortgage</a></li>
        
        <li><a href="/templates/en/credit/credit-za-chas">Credit per hour</a></li>
        
        <li><a href="/templates/en/credit/credit-na-obrazovanie">Education loan</a></li>
        
        <li><a href="/templates/en/credit/teplo-i-comfort">Credit &quot;Heat and comfort&quot;</a></li>
        
        <li><a href="/templates/en/credit/potrebitelskij-kredit">Consumer credit</a></li>
        
        <li><a href="/templates/en/credit/agrocredit">Agrocredit</a></li>
        
        <li><a href="/templates/en/credit/stroitelstvo-i-remont">Credit &quot;Construction and repair&quot;</a></li>
        
        <li><a href="/templates/en/credit/business-credit">For business development</a></li>
        
        <li><a href="/templates/en/credit/Business-Mortgage">Business-Mortgage</a></li>
        
        <li><a href="/templates/en/credit/credit-na-refinansirovanie">Refinancing loan</a></li>
        
      </ul>
    </div>
</li>











<li><a href="/templates/enmplates/en/deposit/deposit-salym">Deposits</a></li>


<li><a href="/templates/enmplates/en/money-transfer">Money transfer</a></li>
<li><a href="/templates/enmplates/en/guarantee">Guarantees</a></li>
<li class="dropdown"><a href="#">Stocks</a>
    <div class="drop-down-hover">
      <ul>
          <li><a href="/templates/enmplates/en/shares">Shares</a></li>
          <li><a href="/templates/enmplates/en/bonds">Bonds</a></li>
      </ul>
    </div>
</li>

<li class="dropdown"><a href="#">About us</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/templates/enmplates/en/about/company">About company</a></li>
        <li><a href="/templates/enmplates/en/about/partners">Partners</a></li>
        <li><a href="/templates/enmplates/en/about/shareholders">Shareholders</a></li>
        <li><a href="/templates/enmplates/en/about/social">Social Responsibility</a></li>

        <li><a href="/templates/enmplates/en/about/license">Licenses</a></li>
        <li><a href="/templates/enmplates/en/about/vacancy-list">Vacancies</a></li>
        <li><a href="/templates/enmplates/en/about/news">News</a></li>

        <li><a href="/templates/enmplates/en/report">Reports</a></li>
      </ul>
    </div>
</li>

<li><a  href="/templates/enmplates/en/payment-methods">Payment methods</a></li>
<li><a href="/templates/enmplates/en/contacts">Contacts</a></li>
        </ul>
      </div>
      <div class="lang">
        <div class="lang-but">
          <div class="dropdown">
            
              <a class="en">English</a>
            
            <div class="drop-content">
              
                
                
                  <a href="/ru">Русский</a>
                
              
                
                
                  <a href="/kg">Кыргызча</a>
                
              
                
                
                  <a >English</a>
                
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-tel">
        <div class="tel-but">
          <div class="dropdown"><a>0 (555) 781 556</a>
            <div class="drop-content">
              <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (700) 781 556">0 (700) 781 556</a>
              
                <a href="tel:0 (777) 781 556">0 (777) 781 556</a>
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-local"><a class="ru" href="/templates/enmplates/en/branch-network">Branches</a></div>
    </div>
  </div>

</header>
<div class="modal-fixed">
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <h2>Submit your application</h2>
        <form action="">
          <div class="input-row">
            <div class="input">
              <input type="text" placeholder="Имя"/>
            </div>
            <div class="input">
              <input type="text" placeholder="Фамилия"/>
            </div>
          </div>
          <div class="input">
            <input type="text" placeholder="Отчество"/>
          </div>
          <div class="input">
            <input type="text" placeholder="E-mail"/>
          </div>
          <div class="input">
            <input type="text" placeholder="Телефон"/>
          </div>
          <div class="input">
            <textarea placeholder="Сообщение"></textarea>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="modal-checkbox"/>
            <label class="label" for="modal-checkbox"></label>
            <label>I agree to the terms of information transfer</label>
          </div>
          <button type="submit">Send</button>
        </form>
        <div class="modal-close closeBut"></div>
      </div>
      <!--==============финишная модалка==============-->
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Submit your application</h3>
          <p>During the day, our specialists will process your data and will send an answer to your e-mail.</p>
          <div class="modal-finish-close closeBut">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-fixed" id="finishmodal" >
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Feedback</h3>
          <p>Soon our specialists will process your request and contact you.</p>
          <div class="modal-finish-close closeBut" onclick="hideModal()">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>





    <main class="main">
      <section class="main-slider">
        <div class="owl-carousel main-owl-carousel">
          

            <div class="slider-img"><img src="/media/депозит_20_2_Kx8pjnx.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>&quot;Salym&quot; and &quot;Salym Plus&quot; Deposits</h2>
                            <p class="dark">Increase your capital with highly profitable deposits from Salym Finance!&nbsp;
<ul>
	<li>Yield up to 18% in soms!</li>
	<li>And up to 7.% in US dollars!</li>
	<li>Capitalization opportunity.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/en/deposit/deposit-salym/">Learn more</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/Баннер_кредит_на_рефинансирование.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Refinancing loan</h2>
                            <p class="dark">Reduce the amount of monthly payments or get extra money for necessary needs!
<ul>
	<li>Refinancing of loans and debts;</li>
	<li>Combining multiple loans into one;</li>
	<li>The opportunity to receive additional funds.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/en/credit/credit-na-refinansirovanie">Learn more</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/последний_OoYq6G7.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Business-Mortgage</h2>
                            <p class="dark">Acquire premises and land for business in a short time!
<ul>
	<li>Quick review;</li>
	<li>Early repayment of the loan without warning and commissions;</li>
	<li>Reduced percentages.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/en/credit/Business-Mortgage">Learn more</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/строительство_DmSA8h2.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Loan &quot;Construction and repair&quot;</h2>
                            <p class="dark">Staged funding of housing construction and renovation!
<ul>
	<li>Quick review of applications;</li>
	<li>Amount - up to 14&nbsp;000 000 soms;</li>
	<li>Possibility of phased financing.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/en/credit/stroitelstvo-i-remont">Learn more</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/ипотека_баннер_новый_QtxOeQ1.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Mortgage</h2>
                            <p class="dark">Mortgage from &quot;Salym Finance&quot; - real estate is now more affordable!
<ul>
	<li>Early loan repayment without warning and without commissions;</li>
	<li>Quick review of applications.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/en/credit/ipoteka">Learn more</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/кредит_за_час_баннер_d4ns9pK.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Credit per hour</h2>
                            <p class="dark">No collateral, no surety! For those who value their time!
<ul>
	<li>Loans for any purposes;</li>
	<li>Review period from 1 hour;</li>
	<li>Amount - up to 200 000 soms.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/en/credit/credit-za-chas">Learn more</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/образование_ulsqYSQ.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Education loan</h2>
                            <p class="dark">Start to learn new knowledge and acquire skills today with an education loan from &quot;Salym Finance&quot;!
<ul>
	<li>Reduced interest rates;</li>
	<li>Amount - up to 1,500,000 soms.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/en/credit/credit-na-obrazovanie">Learn more</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/бизнес_caKjuJy.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>For business development</h2>
                            <p class="dark">Loans for existing and start-up businesses!
<ul>
	<li>Quick review;</li>
	<li>Early loan repayment without warning and commissions.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/en/credit/business-credit">Learn more</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/тепло_и_комфорт_баннер.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Loan &quot;Warmth and comfort&quot;</h2>
                            <p class="dark">Do you want to insulate your home? Do you want to cross over to energy-saving types of heating or add a comfortable bathroom to the house? Do you want to replace windows and doors? With the loan &quot;Warmth and comfort&quot; from &quot;Salym Finance&quot;&nbsp; your plans will come true!
<ul>
	<li>Quick review of applications;</li>
	<li>Amount - up to 500,000 soms without deposit;</li>
	<li>Possibility of phased financing.</li>
</ul>
<br />
&nbsp;</p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/en/credit/teplo-i-comfort">Learn more</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/агро_FZx6jJc.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Agrocredit</h2>
                            <p class="dark">With vacations in payments!
<ul>
	<li>Quick review of applications;</li>
	<li>Individual loan repayment schedule;</li>
	<li>Holidays on payments with a flexible schedule are possible.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/en/credit/agrocredit">Learn more</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/последний_потреб_dppFy4J.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Consumer loan</h2>
                            <p class="dark">Don&#39;t put off your dream until tomorrow! With a consumer loan from &quot;Salym Finance&quot; you can make the necessary purchases faster!
<ul>
	<li>Early loan repayment without warning and without commissions;</li>
	<li>Amount - up to 500,000 soms without deposit;</li>
	<li>Fast review durations.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/en/credit/potrebitelskij-kredit">Learn more</a></div>
                        
                    </div>
                </div>
            </div>
          
        </div>
      </section>
      <div class="container">
        <section class="view-card">
          <div class="row">
            <div class="card large-card" style="background-image: url(/media/%D0%BA%D1%80%D0%B5%D0%B4%D0%B8%D1%82%D1%8B_ohccQH7.jpg.904x420_q85_box-0%2C0%2C902%2C420_crop_detail.jpg)">
              <h3>Loans</h3>
              <ul class="grid">
                
                <li><a href="/templates/en/credit/ipoteka">Mortgage</a></li>
                
                <li><a href="/templates/en/credit/credit-za-chas">Credit per hour</a></li>
                
                <li><a href="/templates/en/credit/credit-na-obrazovanie">Education loan</a></li>
                
                <li><a href="/templates/en/credit/teplo-i-comfort">Credit &quot;Heat and comfort&quot;</a></li>
                
                <li><a href="/templates/en/credit/potrebitelskij-kredit">Consumer credit</a></li>
                
                <li><a href="/templates/en/credit/agrocredit">Agrocredit</a></li>
                
                <li><a href="/templates/en/credit/stroitelstvo-i-remont">Credit &quot;Construction and repair&quot;</a></li>
                
                <li><a href="/templates/en/credit/business-credit">For business development</a></li>
                
                <li><a href="/templates/en/credit/Business-Mortgage">Business-Mortgage</a></li>
                
                <li><a href="/templates/en/credit/credit-na-refinansirovanie">Refinancing loan</a></li>
                
              </ul>
              <div class="btn-group">
                  <a class="btn-red button" href="https://salymfinance.kg/en/credit/">Learn more</a>
                  <a class="btn-black button" href="/templates/enmplates/en/about/payment-methods">Repayment methods</a>
              </div>
            </div>


            <div class="card small-card" style="background-image: url(/media/%D0%B3%D0%B0%D1%80%D0%B0%D0%BD%D1%82%D0%B8%D0%B8-%D0%B4%D0%BB%D1%8F-%D1%81%D0%B0%D0%B9%D1%82%D0%B0-%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9-2_dKpAdW8.webp.280x420_q85_box-0%2C60%2C1120%2C1743_crop_detail.jpg)"><a href="https://salymfinance.kg/en/guarantee/"></a>
              <h3>Guarantees</h3>
              <p>for private enterprises and legal entities</p>
            </div>
          </div>
          <div class="row">
            <div class="card large-card" style="background-image: url(/media/%D0%B4%D0%B5%D0%BF%D0%BE%D0%B7%D0%B8%D1%82_18_%D0%BB%D0%B8%D1%81%D1%82%D0%BE%D0%B2%D0%BA%D0%B8.png.592x450_q85_box-0%2C0%2C592%2C450_crop_detail.png)">
              <h3>Deposits</h3>
              <ul class="row-list">
                
                <li><a style="text-decoration: none">The most favorable interest rates;</a></li>
                
                <li><a style="text-decoration: none">Term up to 36 months;</a></li>
                
                <li><a style="text-decoration: none">Early closure;</a></li>
                
                <li><a style="text-decoration: none">Protection system in accordance with the Law of the KR.</a></li>
                
              </ul>
              <div class="btn-group">
                  <a class="btn-red button" href="https://salymfinance.kg/en/deposit/deposit-salym/">Learn more</a>
                  <a class="btn-black button" href="/templates/enmplates/en/about/deposit/payment-methods">Replenishment methods</a>
              </div>
            </div>
            <div class="card small-card" style="background-image: url(/media/%D0%B0%D0%BA%D1%86%D0%B8%D0%B8_LW8G7AF.jpg.280x450_q85_box-008391350_crop_detail.webp.280x450_q85_box-0%2C0%2C280%2C450_crop_detail.jpg)"><a href="https://salymfinance.kg/kg/shares/"></a>
              <h3>Shares</h3>
              <p>Initial public offering of the preference shares (IPO)</p>
            </div>
            <div class="card small-card" style="background-image: url(/media/%D0%BE%D0%B1%D0%BB%D0%B8%D0%B3%D0%B0%D1%86%D0%B8%D1%8F_%D0%B8_%D0%B0%D0%BA%D1%86%D0%B8%D1%8F_a9oWHa3.png.280x450_q85_box-0%2C0%2C839%2C1350_crop_detail.png)"><a href="https://salymfinance.kg/ru/bonds/"></a>
              <h3>Bonds</h3>
              <p>Registered high yield interest-bearing bonds</p>
            </div>
          </div>
        </section>
        
<section class="news-section">
  <div class="news-section__heading">
    <h2>News</h2>
    <div class="button"><a href="/templates/enmplates/en/about/news">All news</a></div>
  </div>
  <div class="card-all">
    
    <div class="card">
      <div class="news-section__card">
        <div class="date">July 27, 2022</div>
        <p>The Bishkek-Vostok branch moved to a new office at the address: Chui ave. 26/st. April 7th.</p><a href="/templates/enmplates/en/about/news/filial-bishkek-vostok-pereehal-v-novyj-ofis-po-adr"></a>
      </div>
    </div>
    
    <div class="card">
      <div class="news-section__card">
        <div class="date">July 18, 2022</div>
        <p>Opening of a new representative office in the village of At-Bashy.</p><a href="/templates/enmplates/en/about/news/otkrytie-novogo-predstavitelstva-v-s-bashy"></a>
      </div>
    </div>
    
    <div class="card">
      <div class="news-section__card">
        <div class="date">July 7, 2022</div>
        <p>Working hours for the upcoming holiday.</p><a href="/templates/enmplates/en/about/news/grafik-raboty-v-predstoyashij-prazdnik"></a>
      </div>
    </div>
    
    <div class="card">
      <div class="news-section__card">
        <div class="date">June 24, 2022</div>
        <p>Official opening of a new representative office of the MFC &quot;Salym Finance&quot; in Kochkor-Ata.</p><a href="/templates/enmplates/en/about/news/oficialnoe-otkrytie-novogo-predstavitelstva-mfk-sa"></a>
      </div>
    </div>
    
  </div>
</section>
        <section class="exchange-rates" id="checkboxForm">
          <div class="exchange-rates__content">
            
<div class="exchange-rates__tabs">
  <div class="calculate-credit__heading">
    <h2>Exchange rates</h2>
    <p>The course is relevant for Aug. 23, 2022, 8:55 a.m.</p>
  </div>
  <div class="exchange-rates__but-all">
    <div class="exchange-rates__but tabs-button-js">Cash</div>
      <div class="exchange-rates__but tabs-button-js">Non-Cash</div>
    <div class="exchange-rates__but tabs-button-js">NBKR</div>
  </div>
  <div class="exchange-rates__tabs-con-all">
    <div class="exchange-rates__tabs-con tabs-content-js">
      <div class="exchange-rates__row">
        <div class="currency">Сurrency</div>
        <div class="buy">Buy</div>
        <div class="sale">Sell</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">USD</div>
        <div class="buy">81.5000</div>
        <div class="sale">82.5000</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">EUR</div>
        <div class="buy">83.0000</div>
        <div class="sale">84.0000</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">RUB</div>
        <div class="buy">1.3000</div>
        <div class="sale">1.3700</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">KZT</div>
        <div class="buy">0.1100</div>
        <div class="sale">0.1900</div>
      </div>
    </div>
    
      <div class="exchange-rates__tabs-con tabs-content-js">
      <div class="exchange-rates__row">
        <div class="currency">Сurrency</div>
        <div class="buy">Buy</div>
        <div class="sale">Sell</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">USD</div>
        <div class="buy">81.5000</div>
        <div class="sale">82.5000</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">EUR</div>
        <div class="buy">83.0000</div>
        <div class="sale">84.0000</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">RUB</div>
        <div class="buy">1.3000</div>
        <div class="sale">1.3700</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">KZT</div>
        <div class="buy">0.1100</div>
        <div class="sale">0.1900</div>
      </div>
    </div>
    <div class="exchange-rates__tabs-con tabs-content-js">
      <div class="exchange-rates__row">
        <div class="currency">Сurrency</div>
        <div class="buy">Exchange</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">USD</div>
        <div class="buy" id="nbkr_usd">0</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">EUR</div>
        <div class="buy" id="nbkr_eur">0</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">RUB</div>
        <div class="buy" id="nbkr_rub">0</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">KZT</div>
        <div class="buy" id="nbkr_kzt">0</div>
      </div>
    </div>
  </div>
    <div class="exchange-rates-wrapper">
            <p>
                “Salym Finance” OJSC Microfinance Company reserves the right to set individual rates for the Company&#39;s clients.
            </p>
    </div>
</div>
            <div class="exchange-rates__right">
              <div class="calculate-credit__heading">
                <h2>Feedback</h2>
                <p>You can ask a question or leave a request, and we will answer you</p>
              </div>
              <form id="indexForm" method="POST" action="/templates/en/f/">
                <input type="hidden" name="csrfmiddlewaretoken" value="ikKsvLEQsynxWsuurKtbJ2lXmXoWPQtX90371PxhIXFpBge0xtKGI93XmEiQY1Gp">
                <div class="grid">
                  <div class="form-control">
                    <label>Name</label>
                    <input required placeholder="Please enter your name" name="name"/>
                  </div>
                  <div class="form-control">
                    <label>Last Name</label>
                    <input required placeholder="Please enter your last name" name="surname"/>
                  </div>
                </div>
                <div class="form-control">
                  <label>Phone-number</label>
                  <input required type="number" placeholder="+996 (000) 000 - 000" name="number"/>
                </div>
                <div class="form-control">
                  <label>Question</label>
                  <input required placeholder="Ask a question" name="message"/>
                </div>

                  <div class="checkbox" style="display:flex;">
                    <input type="checkbox" v-on:click="toggleCheckbox" :checked="isCheckbox" id="modal-checkbox-1"/>
                    <label class="label" for="modal-checkbox-1">
                      <div style="display:inline-block; margin-left: 5px; margin-bottom: 10px;">
                        I agree to the terms of processing and use of my personal data⠀
                      </div>
                    </label>
                  </div>
                <input id="recaptcha" type="hidden" name="g-recaptcha-response" />
                <button type="submit" :style="{background: isCheckbox ? '#8B98A7' : '#d3d3d3'}"
                    :disabled="!isCheckbox">Send</button>
              </form>
            </div>
          </div>
        </section>

        
        <section class="mortgage">
          <div class="mortgage-banner" style="background-image: url(/media/%D0%BD%D0%B8%D0%B6%D0%BD%D0%B8%D0%B9_%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80.png.1216x420_q85_box-0%2C0%2C5079%2C1762_crop_detail.png)">
            <h2>&quot;Salym&quot; and &quot;Salym Plus&quot; Deposits</h2>
            <p>Increase your capital with highly profitable deposits from Salym Finance! 
Yield up to 18% in soms!
And up to 7.% in US dollars!
Capitalization opportunity.</p>
            <div class="grid">
              
            </div><a href="https://salymfinance.kg/en/deposit/deposit-salym/">Learn more</a>
          </div>
        </section>
        


        <section class="our-awards">
          <div class="calculate-credit__heading">
            <h2>Our certificates</h2>
            <p>Confirmation of compliance</p>
          </div>
          <div class="our-awards__content">
            <div class="card-all" id="selector-gallery">
              
              <div class="card" data-src="/media/FR-certificate-Salym-Finance-Kyrgyz-republic-Sep19-1-1024x709_Q1gMo8c_YlpkNEH.webp">
                <div class="our-awards-img"><img src="/media/FR-certificate-Salym-Finance-Kyrgyz-republic-Sep19-1-1024x709_Q1gMo8c_YlpkNEH.webp" alt="load img"/></div>
              </div>
              
              <div class="card" data-src="/media/certificate_deposit_2xkobvB_J6TtQe8_SXiU8xI.webp">
                <div class="our-awards-img"><img src="/media/certificate_deposit_2xkobvB_J6TtQe8_SXiU8xI.webp" alt="load img"/></div>
              </div>
              
              <div class="card" data-src="/media/certificate-1024x778_OnJxVbx_QlvGTTF_yTuzdUy.webp">
                <div class="our-awards-img"><img src="/media/certificate-1024x778_OnJxVbx_QlvGTTF_yTuzdUy.webp" alt="load img"/></div>
              </div>
              
            </div>
          </div>
        </section>

      </div>
    </main>


<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__content">
        <div class="footer-top_contact">
          
            <div class="contact-block">
              <h4>Reception</h4>
              <ul>
                
                  <li><a href="tel:0 (312) 610 513">0 (312) 610 513</a></li>
                
                  <li><a href="tel:0 (550) 781 537">0 (550) 781 537</a></li>
                
              </ul>
            </div>
          
            <div class="contact-block">
              <h4>For lending</h4>
              <ul>
                
                  <li><a href="tel:0 (555) 781 556">0 (555) 781 556</a></li>
                
                  <li><a href="tel:0 (700) 781 556">0 (700) 781 556</a></li>
                
                  <li><a href="tel:0 (777) 781 556">0 (777) 781 556</a></li>
                
              </ul>
            </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="footer-center">
    <div class="container">
      <div class="footer-center__content">
        <div class="footer-center__block">
          <h4>Loans</h4>
          <ul>
            <li><a href="/templates/enmplates/en/credit">All loans</a></li>
            
              <li><a href="/templates/en/credit/ipoteka">Mortgage</a></li>
            
              <li><a href="/templates/en/credit/credit-za-chas">Credit per hour</a></li>
            
              <li><a href="/templates/en/credit/credit-na-obrazovanie">Education loan</a></li>
            
              <li><a href="/templates/en/credit/teplo-i-comfort">Credit &quot;Heat and comfort&quot;</a></li>
            
              <li><a href="/templates/en/credit/potrebitelskij-kredit">Consumer credit</a></li>
            
              <li><a href="/templates/en/credit/agrocredit">Agrocredit</a></li>
            
              <li><a href="/templates/en/credit/stroitelstvo-i-remont">Credit &quot;Construction and repair&quot;</a></li>
            
              <li><a href="/templates/en/credit/business-credit">For business development</a></li>
            
              <li><a href="/templates/en/credit/Business-Mortgage">Business-Mortgage</a></li>
            
              <li><a href="/templates/en/credit/credit-na-refinansirovanie">Refinancing loan</a></li>
            
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>About company</h4>
          <ul>
            <li><a href="/templates/enmplates/en/about/company">About us</a></li>
            <li><a href="/templates/enmplates/en/about/partners">Partners</a></li>
            <li><a href="/templates/enmplates/en/about/shareholders">Shareholders</a></li>
            <li><a href="/templates/enmplates/en/about/social">Social Responsibility</a></li>

            <li><a href="/templates/enmplates/en/about/license">Licenses</a></li>
            <li><a href="/templates/enmplates/en/report">Reports</a></li>
            <li><a href="/templates/enmplates/en/contacts">Contacts</a></li>
            <li><a href="/templates/enmplates/en/about/vacancy-list">Vacancies</a></li>
            <li><a href="/templates/enmplates/en/about/news">News</a></li>
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>Stocks</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/templates/enmplates/en/bonds">Bonds</a></li>
              <li><a href="/templates/enmplates/en/shares">Shares</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-center__block">
          <h4>Details</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/templates/enmplates/en/branch-network?filter=all">Branches</a></li>
              <li><a href="/templates/enmplates/en/about/payment-methods">Loan repayment methods</a></li>
              <li><a href="/templates/enmplates/en/about/deposit/payment-methods">Deposit replenishment methods</a></li>
              <li><a href="/templates/enmplates/en/bank-details">Реквизиты оплаты кредита</a></li>
              <li><a href="/templates/enmplates/en/bank-details/requisite">Реквизиты пополнения депозита</a></li>
            </ul>
            <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/">Instagram</a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/">Facebook</a>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__content"><span>OJSC MFC &quot;Salym Finance&quot; © 2007-2022</span>
        
          <a href="https://salymfinance.kg/media/Prosedure_for_consideration_applications_RU.pdf" target="_blank"><span>Prosedure for consideration applications</span></a>
        
        <a class="mitap" href="https://mitapp.pro/ru/">Made in MITAPP</a>

      </div>
    </div>
  </div>
</footer>

<script src="https://livechatv2.chat2desk.com/packs/ie-11-support.js"></script>

<script>
  window.chat24_token = "1d5e59d45f967ae224fbec78e1680a67";
  window.chat24_url = "https://livechatv2.chat2desk.com";
  window.chat24_socket_url ="wss://livechatv2.chat2desk.com/widget_ws_new";
  window.chat24_show_new_wysiwyg = "true";
  window.chat24_static_files_domain = "https://storage.chat2desk.com/";
  window.lang = "ru";
  window.fetch("".concat(window.chat24_url, "/packs/manifest.json?nocache=").concat(new Date().getTime())).then(function (res) {
    return res.json();
  }).then(function (data) {
    var chat24 = document.createElement("script");
    chat24.type = "text/javascript";
    chat24.async = true;
    chat24.src = "".concat(window.chat24_url).concat(data["application.js"]);
    document.body.appendChild(chat24);
  });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/vue/common.js"></script>
<script src="/js/libs.js"></script>
<script src="/libs/owl-carousel2/owl-carousel2.js"></script>
<script src="/libs/range-slider/ion.rangeSlider.min.js"></script>
<script src="/js/main.js"></script>

<script>
    $(document).ready(function () {
        $(".main-owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            nav: true,
            navContainerClass: 'owl-nav',

        });

    });
</script>
<script>
    function hideModal() {
        let elem = document.getElementById('finishmodal');
        elem.style.opacity = 0;
        elem.style.visibility = 'hidden';
    }
</script>

<script>
    grecaptcha.ready(function () {
        $('#indexForm').submit(function (e) {
            var form = this;
            e.preventDefault()
            grecaptcha.execute('6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd', {action: 'indexForm'}).then(function (token) {
                $('#recaptcha').val(token)
                form.submit()
            });
        })
    });
</script>
<script>
function load_nbkr() {
  $.ajax({
        url: '/en/get_nbkr',
        method: 'get',
        success: function (data) {
            $('#nbkr_usd').text(data.usd)
            $('#nbkr_eur').text(data.eur)
            $('#nbkr_rub').text(data.rub)
            $('#nbkr_kzt').text(data.kzt)
        },
        error: function (request, errorThrown, errorObject) {
            console.log(errorObject);
        }
    });
}
load_nbkr()
</script>
<script>
      $('#selector-gallery').lightGallery({
          selector: '.card'
      });
      $(document).ready(function () {
          $(".main-owl-carousel").owlCarousel({
              items: 1,
              loop: true,
              nav: true,
              navContainerClass: 'owl-nav',

          });

      });
      $(document).ready(function () {
          var $range = $(".js-range-slider"),
              $input = $(".js-input"),
              instance,
              min = 1000,
              max = 100000;

          $range.ionRangeSlider({
              skin: "big",
              min: min,
              max: max,
              step: 1000,
              hide_min_max: true,
              hide_from_to: true,
              onStart: function (data) {
                  $input.prop("value", data.from);
              },
              onChange: function (data) {
                  $input.prop("value", data.from);
              }
          });

          instance = $range.data("ionRangeSlider");

          $input.on("change keyup", function () {
              var val = $(this).prop("value");

              if (val < min) {
                  val = min;
              } else if (val > max) {
                  val = max;
              }

              instance.update({
                  from: val
              });
          });

      });
      $(document).ready(function () {
          var $range = $(".js-range-slider2"),
              $input = $(".js-input2"),
              instance,
              min = 1,
              max = 36;

          $range.ionRangeSlider({
              skin: "big",
              min: min,
              max: max,
              step: 1,
              hide_min_max: true,
              hide_from_to: true,
              onStart: function (data) {
                  $input.prop("value", data.from);
              },
              onChange: function (data) {
                  $input.prop("value", data.from);
              }
          });

          instance = $range.data("ionRangeSlider");

          $input.on("change keyup", function () {
              var val = $(this).prop("value");

              if (val < min) {
                  val = min;
              } else if (val > max) {
                  val = max;
              }

              instance.update({
                  from: val
              });
          });

      });
    </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/js/vue/form_controller.js"></script>


</body>
</html>