<!DOCTYPE html>
<html lang="kg">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLBY00H8E3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GLBY00H8E3');
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(71709628, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
       });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/71709628" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '599827717918759');
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=599827717918759&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
<!-- /Yandex.Metrika counter -->
  <meta name="facebook-domain-verification" content="ok6b4dhnmdy33bx7n8kq1dldvbhrhi" />
  <meta charset="UTF-8"/>
  <meta name="description" content="None">
  <meta name="keywords" content="None">
  <meta property="og:title" content="None"/>
  <meta property="og:image"
        content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content="https://salymfinance.kg/kg/money-transfer/"/>
  <meta name="author" content="MITAPP"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="theme-color" content="#ffffff"/>
  <link rel="shortcut icon" href="/static/img/svg/icon.svg"/>
  <link rel="stylesheet" href="/static/fonts/Montserrat/stylesheet.css"/>
  <link rel="stylesheet" href="/static/libs/owl-carousel2/owl-carousel2.css"/>
  <link rel="stylesheet" href="/static/libs/range-slider/ion.rangeSlider.min.css"/>
  <link rel="stylesheet" href="/static/css/style.css"/>
  
  
  <title>Акча которуу - «Салым Финанс» МФК</title>





</head>
<body class="kg">
<style>
  .loan-purchase .guarantee-advantages .guarantee-card {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
  .navigation ul {
    margin-right: 20px;
}
</style>
<header class="header">
  <div class="header-desktop">
    <div class="nav-top">
      <div class="container">
        <div class="nav-top__content">
          <div class="nav-top-left">
            <a href="/kg/"><div class="logo"><img src="/static/img/svg/logo.svg" alt="load img"/></div></a>


            <div class="lang">
              <div class="lang-but open-dropdown">
                
                  <a class="kg">Кыргызча</a>
                
              </div>
              <div class="lang-but__content content-dropdown">
                
                  
                  <a class=""href="/ru/money-transfer/">
                  
                    <a href="/ru/money-transfer/">Русский</a>
                  
                
                  
                  <a class="active">
                  
                    <a class="active">Кыргызча</a>
                  
                
                  
                  <a class=""href="/templates/en/money-transfer/">
                  
                    <a href="/templates/en/money-transfer/">English</a>
                  
                
              </div>
            </div>
          </div>
          <div class="nav-top-right">
            <div class="header-tel">
              <div class="tel-but open-dropdown"><a>0 (555) 781 556</a></div>
              <div id="phone-dropdown" class="tel-but__content content-dropdown">
                
                  <a href="tel:0 (555) 781 556">0 (555) 781 556</a><br>
                
                  <a href="tel:0 (700) 781 556">0 (700) 781 556</a><br>
                
                  <a href="tel:0 (777) 781 556">0 (777) 781 556</a><br>
                
              </div>
            </div>
            <div class="header-local"><a class="ru" href="/kg/branch-network/?filter=all">Филиалдар</a></div>
            <div class="dropdown">
              <div class="title">Обратная связь<span class="icon"></span></div>
              <div class="drop-content">
                
                  <a class="item" href="https://salymfinance.kg/contacts/">Обратная связь</a>
                
              </div>
            </div>
          <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/"></a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/"></a>
        </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-bottom">
      <div class="container">
        <div class="nav-bottom__content">
          <div class="navigation">
            <ul>
              
                


<li><a href="/kg/">Башкы бет</a></li>
<li class="dropdown"><a >Компания жөнүндө</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/kg/about/company/"> Биз жөнүндө</a></li>
            <li><a href="/kg/about/partners/">Өнөктөштөр</a></li>
            <li><a href="/kg/about/shareholders/">Акционерлер</a></li>
          </ul>
          <ul>
            <li><a href="/kg/about/social/">Коомдук жоопкерчилик</a></li>
            <li><a href="/kg/about/license/">Лицензиялар</a></li>
            <li><a href="/kg/about/vacancy-list/">Вакансиялар</a></li>
          </ul>
          <ul>
            <li><a href="/kg/about/news/">Жаңылыктар</a></li>
            <li><a href="/kg/report/">Отчеттуулук</a></li>
          </ul>
          <ul>
          </ul>
        </div>
      </div>
    </div>
</li>
<li class="dropdown"><a >Кредиттер</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/kg/credit/">Бардык кредиттер</a></li>
          </ul>
          <ul>
            
            <li><a href="/kg/credit/ipoteka">Ипотека</a></li>
            
            
            <li><a href="/kg/credit/credit-za-chas">Бир саат ичинде кредит</a></li>
            
            
            <li><a href="/kg/credit/credit-na-obrazovanie">Билим алууга кредит</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/kg/credit/teplo-i-comfort">«Жылуулоо жана ыңгай» кредит</a></li>
            
            
            <li><a href="/kg/credit/potrebitelskij-kredit">Керектөөгө муктаждык үчүн кредиттер</a></li>
            
            
            <li><a href="/kg/credit/agrocredit">Агрокредит</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/kg/credit/stroitelstvo-i-remont">«Турак оңдоо жана куруу» кредит</a></li>
            
            
            <li><a href="/kg/credit/business-credit">Бизнести өнүктүрүү үчүн</a></li>
            
            
            <li><a href="/kg/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/kg/credit/credit-na-refinansirovanie">Кайра финансылоого кредит</a></li>
            
            
          
        </div>
      </div>
    </div>
</li>





















<li><a  href="/kg/deposit/deposit-salym/">Депозиттер</a></li>

<li><a class="active" href="/kg/money-transfer/">Которуулар</a></li>
<li><a  href="/kg/guarantee/">Кепилдиктер</a></li>
<li class="dropdown"><a >Баалуу кагаздар</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
              <li><a href="/kg/shares/">Акциялар</a></li>
              <li><a href="/kg/bonds/">Облигациялар</a></li>
          </ul>
        </div>
      </div>
    </div>
</li>



<li><a  href="/kg/payment-methods/">Төлөм ыкмалары</a></li>
<li><a  href="/kg/contacts/">Байланышуу</a></li>
              
            </ul>
          </div>
          <div class="header-search"><a href="/kg/search/"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-mobile">
    <div class="header-mobile__top">
      <div class="menu-hamburger">
        <div class="menu-hamburger__icon">
          <div class="icon-hamburger"><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <div class="logo"><a href="/kg/"><img src="/static/img/svg/logo.svg" alt="load img"/></a></div>
      <div class="header-search"><a href="/kg/search/"></a></div>
    </div>
    <div class="header-mobile-menu">
      <div class="navigation">
        <ul>
          

<li><a href="/kg/">Башкы бет</a></li>
<li class="dropdown"><a href="#">Кредиттер</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/kg/credit/">Кредиттер</a></li>
        
        <li><a href="/kg/credit/ipoteka">Ипотека</a></li>
        
        <li><a href="/kg/credit/credit-za-chas">Бир саат ичинде кредит</a></li>
        
        <li><a href="/kg/credit/credit-na-obrazovanie">Билим алууга кредит</a></li>
        
        <li><a href="/kg/credit/teplo-i-comfort">«Жылуулоо жана ыңгай» кредит</a></li>
        
        <li><a href="/kg/credit/potrebitelskij-kredit">Керектөөгө муктаждык үчүн кредиттер</a></li>
        
        <li><a href="/kg/credit/agrocredit">Агрокредит</a></li>
        
        <li><a href="/kg/credit/stroitelstvo-i-remont">«Турак оңдоо жана куруу» кредит</a></li>
        
        <li><a href="/kg/credit/business-credit">Бизнести өнүктүрүү үчүн</a></li>
        
        <li><a href="/kg/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
        
        <li><a href="/kg/credit/credit-na-refinansirovanie">Кайра финансылоого кредит</a></li>
        
      </ul>
    </div>
</li>











<li><a href="/kg/deposit/deposit-salym/">Депозиттер</a></li>


<li><a href="/kg/money-transfer/">Которуулар</a></li>
<li><a href="/kg/guarantee/">Кепилдиктер</a></li>
<li class="dropdown"><a href="#">Баалуу кагаздар</a>
    <div class="drop-down-hover">
      <ul>
          <li><a href="/kg/shares/">Акциялар</a></li>
          <li><a href="/kg/bonds/">Облигациялар</a></li>
      </ul>
    </div>
</li>

<li class="dropdown"><a href="#"> Биз жөнүндө</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/kg/about/company/">Компания жөнүндө</a></li>
        <li><a href="/kg/about/partners/">Өнөктөштөр</a></li>
        <li><a href="/kg/about/shareholders/">Акционерлер</a></li>
        <li><a href="/kg/about/social/">Коомдук жоопкерчилик</a></li>

        <li><a href="/kg/about/license/">Лицензиялар</a></li>
        <li><a href="/kg/about/vacancy-list/">Вакансиялар</a></li>
        <li><a href="/kg/about/news/">Жаңылыктар</a></li>

        <li><a href="/kg/report/">Отчеттуулук</a></li>
      </ul>
    </div>
</li>

<li><a  href="/kg/payment-methods/">Төлөм ыкмалары</a></li>
<li><a href="/kg/contacts/">Байланышуу</a></li>
        </ul>
      </div>
      <div class="lang">
        <div class="lang-but">
          <div class="dropdown">
            
              <a class="kg">Кыргызча</a>
            
            <div class="drop-content">
              
                
                
                  <a href="/ru/money-transfer/">Русский</a>
                
              
                
                
                  <a >Кыргызча</a>
                
              
                
                
                  <a href="/templates/en/money-transfer/">English</a>
                
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-tel">
        <div class="tel-but">
          <div class="dropdown"><a>0 (555) 781 556</a>
            <div class="drop-content">
              <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (700) 781 556">0 (700) 781 556</a>
              
                <a href="tel:0 (777) 781 556">0 (777) 781 556</a>
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-local"><a class="ru" href="/kg/branch-network/">Филиалдар</a></div>
    </div>
  </div>

</header>
<div class="modal-fixed">
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <h2>Арызыңызды тапшырыңыз</h2>
        <form action="">
          <div class="input-row">
            <div class="input">
              <input type="text" placeholder="Имя"/>
            </div>
            <div class="input">
              <input type="text" placeholder="Фамилия"/>
            </div>
          </div>
          <div class="input">
            <input type="text" placeholder="Отчество"/>
          </div>
          <div class="input">
            <input type="text" placeholder="E-mail"/>
          </div>
          <div class="input">
            <input type="text" placeholder="Телефон"/>
          </div>
          <div class="input">
            <textarea placeholder="Сообщение"></textarea>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="modal-checkbox"/>
            <label class="label" for="modal-checkbox"></label>
            <label>Мен маалыматты берүүнүн шарттарына макулмун</label>
          </div>
          <button type="submit">Жөнөтүү</button>
        </form>
        <div class="modal-close closeBut"></div>
      </div>
      <!--==============финишная модалка==============-->
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Арызыңызды тапшырыңыз</h3>
          <p>Бир күн ичинде биздин адистерибиз сиздин маалыматтарды иштеп чыгышат да, сиздин почтаӊызга жооп жөнөтүшөт.</p>
          <div class="modal-finish-close closeBut">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-fixed" id="finishmodal" >
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Кайтарым  байланыш</h3>
          <p>Жакында арада биздин адистер суранычыңызды карап чыгып, сиз менен байланышат.</p>
          <div class="modal-finish-close closeBut" onclick="hideModal()">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>





<main class="money-transfer">
  <div class="crumb">
    <div class="container">
      <div class="crumb-content"><a href="/kg/">Башкы бет</a><a>Акча которуу</a></div>
    </div>
  </div>
  <div class="container">
    <section class="money-transfer__info">
      <h1>Акча которуулар</h1>
      <div class="grid">
        
          <div class="item"><img src="/media/logo-ru_a9iTEgp.png"/></div>
        
          <div class="item"><img src="/media/Bereke-300x124_LIpIFEJ.png"/></div>
        
          <div class="item"><img src="/media/logo_ru_wDJevoC.png"/></div>
        
          <div class="item"><img src="/media/RIA-300x160_79Al0lj.png"/></div>
        
          <div class="item"><img src="/media/logo_QAcYVi5.png"/></div>
        
          <div class="item"><img src="/media/zk-logotype-clr_zwOLdSt.png"/></div>
        
      </div>
      <div class="ck-editor">
        <div class="custom_marker">
<p style="text-align:center"><span style="font-size:14px"><strong><span style="color:black">ДҮЙНӨНҮН КААЛАГАН ЧЕКИТИНЕ АКЧА КОТОРУУЛАР!</span></strong></span></p>

<p style="text-align:center"><span style="font-size:14px"><em><strong><span style="color:black">Ылдам жана коопсуз!</span></strong></em></span></p>

<p style="text-align:center"><span style="font-size:14px"><strong>Эл аралык акча которуулар</strong>&nbsp;&ndash; бул акча каражаттарын эсеп ачпастан жөнөтүүнүн жана алуунун ылдам жана коопсуз ыгы.</span></p>

<p><span style="font-size:14px"><strong>Валютасы:</strong>&nbsp;USD, EUR, RUB, KZT.<br />
<strong>Өлкөлөрү:</strong>&nbsp;алыскы жана жакынкы чет өлкөлөр.<br />
<strong>Тарифтери:</strong>&nbsp;0,95%дан баштап жана андан жогору которуунун суммасынан көз каранды болот.<br />
<strong>Которуунун ылдамдыгы</strong>&nbsp;&ndash; жөнөткөндөн бир секунддан кийин алууга болот<br />
<strong>Дарексиздик</strong>&nbsp;&ndash; которууну тариздөөдө которуу жөнөтүлүүчү өлкөнү жана шаарды гана көрсөтүү зарыл<br />
<strong>SMS-билдирүү</strong>&nbsp;которуунун макамы жөнүндө<br />
&nbsp;</span></p>

<p><span style="font-size:14px"><strong><span style="color:black">Акча которууларын жөнөтүү жана алуу пункттары:</span></strong></span></p>

<ul>
	<li><span style="font-size:14px"><span style="color:black">Бишкек ш., Операциялык башкармалык, Манас пр. 40, иштөө графиги: саат 09:00дөн 17:00гө чейин</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Бишкек ш., №1 Бишкек Филиалы, Киев көч.&nbsp;199, иштөө графиги: саат 09:00дөн 17:00гө чейин</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Бишкек ш., &quot;Бишкек-ЮГ&quot; филиалы, Ахунбаев көч.&nbsp;109, иштөө графиги: саат 09:00дөн 17:00гө чейин</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Бишкек ш., &quot;Бишкек-ВОСТОК&quot; филиалы, Чуй пр.&nbsp;121, иштөө графиги: саат 09:00дөн 17:00гө чейин</span></span></li>
</ul>

<h3 style="text-align:center"><span style="font-size:14px"><strong><strong><span style="color:black">Золотая Корона</span></strong></strong></span></h3>

<p><span style="font-size:14px"><span style="color:black">&quot;Золотая Корона&quot; акча которуулары &ndash; бул акча каражаттарын эсеп ачпастан жөнөтүүнүн жана алуунун ылдам жана коопсуз ыгы. Россия, КМШ жана алыскы чет өлкөлөр боюнча көз ирмемде которуулар жасоо мүмкүн.<br />
Тарифтери: которуунун суммасынан 0,95 %ы<br />
Золотая Корона кепилдейт:</span></span></p>

<ul>
	<li><span style="font-size:14px"><span style="color:black">которуунун ылдамдыгын &ndash; аны жөнөткөндөн бир секунддан кийин алууга болот;</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">дарексиздик &ndash; которууну тариздөөдө которуу жөнөтүлүүчү өлкөнү жана шаарды гана көрсөтүү зарыл;</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">SMS-билдирүү которуунун макамы жөнүндө;</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">тутумдун сайтында которуунун абалын on-line шарттамда көзөмөлдөө мүмкүнчүлүгү.</span></span></li>
</ul>

<p style="text-align:center"><span style="font-size:14px"><span style="color:black">&nbsp;<strong>MONEY GRAM</strong></span></span></p>

<p style="text-align:center"><a class="button" href="https://salymfinance.kg/media/Moneygram.pdf" style="padding:11px 32px; box-sizing:border-box; display:inline-block; text-decoration:none; cursor:pointer; outline:none; text-align:center; border:none; border-radius:4px; font-weight:bold; color:#ffffff; background-color:#eb0101; background-image:-webkit-linear-gradient(top, #eb0101 0%, #b30000 100%); box-shadow:#bababa 0px 0px 2px, #ffffff 0px 0px 1px inset">Тариф</a></p>

<p><span style="font-size:14px"><span style="color:black">Money Gram &ndash; бул жөнөкөй, ылдам жана ишеничтүү акча которуулар, алар бүткүл дүйнө боюнча акча каражаттарын жөнөтүүгө жана алууга жол беришет. Money Gram кызмат көрсөтүүлөрү дүйнөнүн 200 өлкөсүндө көрсөтүлөт. Money Gram дүйнөнүн түрдүү өлкөлөрүндөгү коммерциялык жана мамлекеттик банктар, улуттук почта кызматтары, тармактык супермаркеттер, чекене соода дүкөндөрү жана тармактары, туристтик бюролор ж.б.у.с. менен кызматташат.</span></span></p>

<p style="text-align:center"><span style="font-size:14px"><span style="color:black">&nbsp;<strong>RIA</strong></span></span></p>

<p><span style="font-size:14px"><span style="color:black">RIA &ndash; Европага, жакынкы жана алыскы чет өлкөлөргө, АКШга пайдалуу тарифтер боюнча ылдам жана ишеничтүү акча которуулар.<br />
Riaнын артыкчылыктары:</span></span></p>

<ul>
	<li><span style="font-size:14px"><span style="color:black">Акча которуулар жөнөтүүдөн саналуу мүнөттөрдөн кийин төлөөгө жеткиликтүү.</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Чет элдик которууларды жөнөтүү жана төлөө евродо/АКШ долларында жүзөгө ашырылат.</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Комиссия которуунун суммасынан 1-3 %ды түзөт. Алуучудан комиссия өндүрүлбөйт.</span></span></li>
</ul>

<p style="text-align:center"><span style="font-size:14px"><span style="color:black">&nbsp;<strong>Contact</strong></span></span></p>

<p style="text-align:center"><a class="button" href="https://salymfinance.kg/media/Contact.pdf" style="padding:11px 32px; box-sizing:border-box; display:inline-block; text-decoration:none; cursor:pointer; outline:none; text-align:center; border:none; border-radius:4px; font-weight:bold; color:#ffffff; background-color:#eb0101; background-image:-webkit-linear-gradient(top, #eb0101 0%, #b30000 100%); box-shadow:#bababa 0px 0px 2px, #ffffff 0px 0px 1px inset">Тариф</a></p>

<p><span style="font-size:14px"><span style="color:black">CONTACT &ndash; бул эсеп ачпастан акча которууларды рубль, АКШ доллары, евро менен ылдам жана арзан жөнөтүүгө жол берүүчү россиялык акча которуулар тутуму.<br />
CONTACTтын кызмат көрсөтүүлөрүн Россиянын, жакынкы жана алыскы чет өлкөлөрдүн аймагындагы тутумдун 500&nbsp;000ден ашуун пункттарынан колдонууга болот.</span></span></p>

<p style="text-align:center"><span style="font-size:14px"><span style="color:black">&nbsp;<strong>Береке</strong></span></span></p>

<p style="text-align:center"><a class="button" href="https://salymfinance.kg/media/Bereke.pdf" style="padding:11px 32px; box-sizing:border-box; display:inline-block; text-decoration:none; cursor:pointer; outline:none; text-align:center; border:none; border-radius:4px; font-weight:bold; color:#ffffff; background-color:#eb0101; background-image:-webkit-linear-gradient(top, #eb0101 0%, #b30000 100%); box-shadow:#bababa 0px 0px 2px, #ffffff 0px 0px 1px inset">Тариф</a></p>

<p><span style="font-size:14px"><span style="color:black">&laquo;БЕРЕКЕ&raquo; акча которуулар тутумунун өзгөчөлүктөрү:</span></span></p>

<ul>
	<li><span style="font-size:14px"><span style="color:black">Акча которуу банктык эсеп ачпастан жүзөгө ашырылат.</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Акча которууну алуу 5 мүнөттүн ичинде, ал кайда жана кайдан жөнөтүлгөнүнө карабай.</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Комиссияны акча которууну жөнөтүүчү гана төлөйт.</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Которууну &laquo;Дос-Кредобанк&raquo; ААКнун, Айыл Банктын, Кыргыз Инвестициялык-Насыя банкынын, Кыргыз-Швейцар Банкынын, Кыргызкоммерцбанктын, Капитал Банктын, Кыргыз Насыя Банктын каалаган бөлүмүнөн алууга болот,&nbsp;которуу кайсыл бөлүмдөн жөнөтүлгөнүнө карабай.</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Которуулар улуттук дагы, чет элдик дагы валюталарда жүзөгө ашырылат.</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Бир которуунун максималдуу өлчөмү 900&nbsp;000 KGSду башка валюталардагы: EURO, USD,&nbsp;RUB, KZT эквивалентти түзөт.</span></span></li>
</ul>

<p style="text-align:center"><span style="font-size:14px"><strong><span style="color:black">ЮНИСТРИМ</span></strong></span></p>

<p><span style="font-size:14px"><span style="color:black">ЮНИСТРИМ &ndash; бул физикалык жактар үчүн эсеп ачпастан мөөнөттүү акча которуулардын эл аралык тутуму. Бул тутумдун артыкчылыктары: тарифтердин төмөндүгү, которууну алуунун 15 мүнөттөн баштап ылдамдыгы; алуучу эч кандай чыгаша тартпайт; которууну тариздөөнүн ыӊгайлуулугу жана жөнөкөйлүгү; бардык акча которуулар которуунун валютасында накталай кабыл алынат жана берилет.</span></span></p>

<p><span style="font-size:14px"><span style="color:black">Жөнөтүүдөгү комиссия:</span></span></p>

<ul>
	<li><span style="font-size:14px"><span style="color:black">300&nbsp;000ге чейинки РФ рубль, 5000 доллар/евро &ndash; 0,95%</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">300&nbsp;000ден 600&nbsp;000ге чейинки РФ рубль, 5000ден 10&nbsp;000ге чейинки доллар/евро &ndash; 990 РФ рубли; 30 доллар/евро</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">600&nbsp;000 миӊден баштап РФ рубль, 10&nbsp;000ден баштап доллар/евро &ndash; 750 РФ рубли; 25 доллар/евро</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Которуунун суммасы 900&nbsp;000 РФ рублинен, 20&nbsp;000 АКШ долларынан,&nbsp; 15&nbsp;000 евродон ашпоого тийиш.</span></span></li>
</ul>

<p><span style="font-size:14px"><strong><span style="color:black">Которууну жөнөтүү үчүн зарыл:</span></strong></span></p>

<ul>
	<li><span style="font-size:14px"><span style="color:black">Кассанын адиси алуучунун ФААын көрсөтүү менен толтурган &laquo;Которууга арызга&raquo; кол коюу;</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Кассага которуунун суммасын төгүү жана комиссияны төлөө;</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Адистен которуунун кодун алуу.</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">Алуучуга которуунун кодун жана суммасын билдирүү.</span></span></li>
</ul>

<p><span style="font-size:14px"><strong><span style="color:black">Которууну алуу үчүн зарыл:</span></strong></span></p>

<ul>
	<li><span style="font-size:14px"><span style="color:black">Кассанын адисине паспортун көрсөтүү жана которуунун кодун билдирүү.</span></span></li>
	<li><span style="font-size:14px"><span style="color:black">&laquo;Которууну алууга арызга&raquo; кол коюу жана которууну алуу.</span></span></li>
</ul>

<p><span style="font-size:14px"><strong><span style="color:black">Маанилүү!&nbsp;</span></strong><span style="color:black">Жөнөтүүчү транзакция жөнүндө маалыматты (ФАА жана/же которуунун номерин жана/же чектин көчүрмөсүн) алуучудан башка эч кимге билдирбөөгө <strong>ТИЙИШ</strong>! Алдамчылардан жана шектүү операцияларды жүргүзүүдөн сак болуӊуздар!</span></span></p>

<p>&nbsp;</p>
</div>
      </div>
    </section>
  </div>
</main>


<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__content">
        <div class="footer-top_contact">
          
            <div class="contact-block">
              <h4>Кабылдама</h4>
              <ul>
                
                  <li><a href="tel:0 (312) 610 513">0 (312) 610 513</a></li>
                
                  <li><a href="tel:0 (550) 781 537">0 (550) 781 537</a></li>
                
              </ul>
            </div>
          
            <div class="contact-block">
              <h4>Кредиттердин суроолору боюнча</h4>
              <ul>
                
                  <li><a href="tel:0 (555) 781 556">0 (555) 781 556</a></li>
                
                  <li><a href="tel:0 (700) 781 556">0 (700) 781 556</a></li>
                
                  <li><a href="tel:0 (777) 781 556">0 (777) 781 556</a></li>
                
              </ul>
            </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="footer-center">
    <div class="container">
      <div class="footer-center__content">
        <div class="footer-center__block">
          <h4>Кредиттер</h4>
          <ul>
            <li><a href="/kg/credit/">Бардык кредиттер</a></li>
            
              <li><a href="/kg/credit/ipoteka">Ипотека</a></li>
            
              <li><a href="/kg/credit/credit-za-chas">Бир саат ичинде кредит</a></li>
            
              <li><a href="/kg/credit/credit-na-obrazovanie">Билим алууга кредит</a></li>
            
              <li><a href="/kg/credit/teplo-i-comfort">«Жылуулоо жана ыңгай» кредит</a></li>
            
              <li><a href="/kg/credit/potrebitelskij-kredit">Керектөөгө муктаждык үчүн кредиттер</a></li>
            
              <li><a href="/kg/credit/agrocredit">Агрокредит</a></li>
            
              <li><a href="/kg/credit/stroitelstvo-i-remont">«Турак оңдоо жана куруу» кредит</a></li>
            
              <li><a href="/kg/credit/business-credit">Бизнести өнүктүрүү үчүн</a></li>
            
              <li><a href="/kg/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
            
              <li><a href="/kg/credit/credit-na-refinansirovanie">Кайра финансылоого кредит</a></li>
            
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>Компания жөнүндө</h4>
          <ul>
            <li><a href="/kg/about/company/"> Биз жөнүндө</a></li>
            <li><a href="/kg/about/partners/">Өнөктөштөр</a></li>
            <li><a href="/kg/about/shareholders/">Акционерлер</a></li>
            <li><a href="/kg/about/social/">Коомдук жоопкерчилик</a></li>

            <li><a href="/kg/about/license/">Лицензиялар</a></li>
            <li><a href="/kg/report/">Отчеттуулук</a></li>
            <li><a href="/kg/contacts/">Байланышуу</a></li>
            <li><a href="/kg/about/vacancy-list/">Вакансиялар</a></li>
            <li><a href="/kg/about/news/">Жаңылыктар</a></li>
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>Баалуу кагаздар</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/kg/bonds/">Облигациялар</a></li>
              <li><a href="/kg/shares/">Акциялар</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-center__block">
          <h4>Реквизиттери</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/kg/branch-network/?filter=all">Филиалдар</a></li>
              <li><a href="/kg/about/payment-methods/">Кредитти төлөөнүн ыкмалары</a></li>
              <li><a href="/kg/about/deposit/payment-methods/">Депозитти толуктоонун ыкмалары</a></li>
              <li><a href="/kg/bank-details/">Реквизиты оплаты кредита</a></li>
              <li><a href="/kg/bank-details/requisite/">Реквизиты пополнения депозита</a></li>
            </ul>
            <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/">Instagram</a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/">Facebook</a>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__content"><span>&quot;Салым Финанс&quot; МФК ААК © 2007-2022</span>
        
          <a href="https://salymfinance.kg/media/Prosedure_for_consideration_applications_KG.pdf" target="_blank"><span>Кайрылууларды кароо процедурасы</span></a>
        
        <a class="mitap" href="https://mitapp.pro/ru/">MITAPPта жасалган</a>

      </div>
    </div>
  </div>
</footer>

<script src="https://livechatv2.chat2desk.com/packs/ie-11-support.js"></script>

<script>
  window.chat24_token = "1d5e59d45f967ae224fbec78e1680a67";
  window.chat24_url = "https://livechatv2.chat2desk.com";
  window.chat24_socket_url ="wss://livechatv2.chat2desk.com/widget_ws_new";
  window.chat24_show_new_wysiwyg = "true";
  window.chat24_static_files_domain = "https://storage.chat2desk.com/";
  window.lang = "ru";
  window.fetch("".concat(window.chat24_url, "/packs/manifest.json?nocache=").concat(new Date().getTime())).then(function (res) {
    return res.json();
  }).then(function (data) {
    var chat24 = document.createElement("script");
    chat24.type = "text/javascript";
    chat24.async = true;
    chat24.src = "".concat(window.chat24_url).concat(data["application.js"]);
    document.body.appendChild(chat24);
  });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/vue/common.js"></script>
<script src="/static/js/libs.js"></script>
<script src="/static/libs/owl-carousel2/owl-carousel2.js"></script>
<script src="/static/libs/range-slider/ion.rangeSlider.min.js"></script>
<script src="/static/js/main.js"></script>

<script>
    $(document).ready(function () {
        $(".main-owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            nav: true,
            navContainerClass: 'owl-nav',

        });

    });
</script>
<script>
    function hideModal() {
        let elem = document.getElementById('finishmodal');
        elem.style.opacity = 0;
        elem.style.visibility = 'hidden';
    }
</script>


</body>
</html>