<!DOCTYPE html>
<html lang="kg">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLBY00H8E3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GLBY00H8E3');
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(71709628, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
       });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/71709628" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '599827717918759');
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=599827717918759&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
<!-- /Yandex.Metrika counter -->
  <meta name="facebook-domain-verification" content="ok6b4dhnmdy33bx7n8kq1dldvbhrhi" />
  <meta charset="UTF-8"/>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:title" content=""/>
  <meta property="og:image"
        content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content=""/>
  <meta name="author" content="MITAPP"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="theme-color" content="#ffffff"/>
  <link rel="shortcut icon" href="/static/img/svg/icon.svg"/>
  <link rel="stylesheet" href="/static/fonts/Montserrat/stylesheet.css"/>
  <link rel="stylesheet" href="/static/libs/owl-carousel2/owl-carousel2.css"/>
  <link rel="stylesheet" href="/static/libs/range-slider/ion.rangeSlider.min.css"/>
  <link rel="stylesheet" href="/static/css/style.css"/>
  
  
  <title>Башкы бет - «Салым Финанс» МФК</title>





</head>
<body class="kg">
<style>
  .loan-purchase .guarantee-advantages .guarantee-card {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
  .navigation ul {
    margin-right: 20px;
}
</style>
<header class="header">
  <div class="header-desktop">
    <div class="nav-top">
      <div class="container">
        <div class="nav-top__content">
          <div class="nav-top-left">
            <a href="/kg/"><div class="logo"><img src="/static/img/svg/logo.svg" alt="load img"/></div></a>


            <div class="lang">
              <div class="lang-but open-dropdown">
                
                  <a class="kg">Кыргызча</a>
                
              </div>
              <div class="lang-but__content content-dropdown">
                
                  
                  <a class=""href="/ru/">
                  
                    <a href="/ru/">Русский</a>
                  
                
                  
                  <a class="active">
                  
                    <a class="active">Кыргызча</a>
                  
                
                  
                  <a class=""href="/templates/en/">
                  
                    <a href="/templates/en/">English</a>
                  
                
              </div>
            </div>
          </div>
          <div class="nav-top-right">
            <div class="header-tel">
              <div class="tel-but open-dropdown"><a>0 (555) 781 556</a></div>
              <div id="phone-dropdown" class="tel-but__content content-dropdown">
                
                  <a href="tel:0 (555) 781 556">0 (555) 781 556</a><br>
                
                  <a href="tel:0 (700) 781 556">0 (700) 781 556</a><br>
                
                  <a href="tel:0 (777) 781 556">0 (777) 781 556</a><br>
                
              </div>
            </div>
            <div class="header-local"><a class="ru" href="/kg/branch-network/?filter=all">Филиалдар</a></div>
            <div class="dropdown">
              <div class="title">Обратная связь<span class="icon"></span></div>
              <div class="drop-content">
                
                  <a class="item" href="https://salymfinance.kg/contacts/">Обратная связь</a>
                
              </div>
            </div>
          <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/"></a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/"></a>
        </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-bottom">
      <div class="container">
        <div class="nav-bottom__content">
          <div class="navigation">
            <ul>
              
                


<li><a href="/kg/">Башкы бет</a></li>
<li class="dropdown"><a >Компания жөнүндө</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/kg/about/company/"> Биз жөнүндө</a></li>
            <li><a href="/kg/about/partners/">Өнөктөштөр</a></li>
            <li><a href="/kg/about/shareholders/">Акционерлер</a></li>
          </ul>
          <ul>
            <li><a href="/kg/about/social/">Коомдук жоопкерчилик</a></li>
            <li><a href="/kg/about/license/">Лицензиялар</a></li>
            <li><a href="/kg/about/vacancy-list/">Вакансиялар</a></li>
          </ul>
          <ul>
            <li><a href="/kg/about/news/">Жаңылыктар</a></li>
            <li><a href="/kg/report/">Отчеттуулук</a></li>
          </ul>
          <ul>
          </ul>
        </div>
      </div>
    </div>
</li>
<li class="dropdown"><a >Кредиттер</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/kg/credit/">Бардык кредиттер</a></li>
          </ul>
          <ul>
            
            <li><a href="/kg/credit/ipoteka">Ипотека</a></li>
            
            
            <li><a href="/kg/credit/credit-za-chas">Бир саат ичинде кредит</a></li>
            
            
            <li><a href="/kg/credit/credit-na-obrazovanie">Билим алууга кредит</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/kg/credit/teplo-i-comfort">«Жылуулоо жана ыңгай» кредит</a></li>
            
            
            <li><a href="/kg/credit/potrebitelskij-kredit">Керектөөгө муктаждык үчүн кредиттер</a></li>
            
            
            <li><a href="/kg/credit/agrocredit">Агрокредит</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/kg/credit/stroitelstvo-i-remont">«Турак оңдоо жана куруу» кредит</a></li>
            
            
            <li><a href="/kg/credit/business-credit">Бизнести өнүктүрүү үчүн</a></li>
            
            
            <li><a href="/kg/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/kg/credit/credit-na-refinansirovanie">Кайра финансылоого кредит</a></li>
            
            
          
        </div>
      </div>
    </div>
</li>





















<li><a  href="/kg/deposit/deposit-salym/">Депозиттер</a></li>

<li><a  href="/kg/money-transfer/">Которуулар</a></li>
<li><a  href="/kg/guarantee/">Кепилдиктер</a></li>
<li class="dropdown"><a >Баалуу кагаздар</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
              <li><a href="/kg/shares/">Акциялар</a></li>
              <li><a href="/kg/bonds/">Облигациялар</a></li>
          </ul>
        </div>
      </div>
    </div>
</li>



<li><a  href="/kg/payment-methods/">Төлөм ыкмалары</a></li>
<li><a  href="/kg/contacts/">Байланышуу</a></li>
              
            </ul>
          </div>
          <div class="header-search"><a href="/kg/search/"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-mobile">
    <div class="header-mobile__top">
      <div class="menu-hamburger">
        <div class="menu-hamburger__icon">
          <div class="icon-hamburger"><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <div class="logo"><a href="/kg/"><img src="/static/img/svg/logo.svg" alt="load img"/></a></div>
      <div class="header-search"><a href="/kg/search/"></a></div>
    </div>
    <div class="header-mobile-menu">
      <div class="navigation">
        <ul>
          

<li><a href="/kg/">Башкы бет</a></li>
<li class="dropdown"><a href="#">Кредиттер</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/kg/credit/">Кредиттер</a></li>
        
        <li><a href="/kg/credit/ipoteka">Ипотека</a></li>
        
        <li><a href="/kg/credit/credit-za-chas">Бир саат ичинде кредит</a></li>
        
        <li><a href="/kg/credit/credit-na-obrazovanie">Билим алууга кредит</a></li>
        
        <li><a href="/kg/credit/teplo-i-comfort">«Жылуулоо жана ыңгай» кредит</a></li>
        
        <li><a href="/kg/credit/potrebitelskij-kredit">Керектөөгө муктаждык үчүн кредиттер</a></li>
        
        <li><a href="/kg/credit/agrocredit">Агрокредит</a></li>
        
        <li><a href="/kg/credit/stroitelstvo-i-remont">«Турак оңдоо жана куруу» кредит</a></li>
        
        <li><a href="/kg/credit/business-credit">Бизнести өнүктүрүү үчүн</a></li>
        
        <li><a href="/kg/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
        
        <li><a href="/kg/credit/credit-na-refinansirovanie">Кайра финансылоого кредит</a></li>
        
      </ul>
    </div>
</li>











<li><a href="/kg/deposit/deposit-salym/">Депозиттер</a></li>


<li><a href="/kg/money-transfer/">Которуулар</a></li>
<li><a href="/kg/guarantee/">Кепилдиктер</a></li>
<li class="dropdown"><a href="#">Баалуу кагаздар</a>
    <div class="drop-down-hover">
      <ul>
          <li><a href="/kg/shares/">Акциялар</a></li>
          <li><a href="/kg/bonds/">Облигациялар</a></li>
      </ul>
    </div>
</li>

<li class="dropdown"><a href="#"> Биз жөнүндө</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/kg/about/company/">Компания жөнүндө</a></li>
        <li><a href="/kg/about/partners/">Өнөктөштөр</a></li>
        <li><a href="/kg/about/shareholders/">Акционерлер</a></li>
        <li><a href="/kg/about/social/">Коомдук жоопкерчилик</a></li>

        <li><a href="/kg/about/license/">Лицензиялар</a></li>
        <li><a href="/kg/about/vacancy-list/">Вакансиялар</a></li>
        <li><a href="/kg/about/news/">Жаңылыктар</a></li>

        <li><a href="/kg/report/">Отчеттуулук</a></li>
      </ul>
    </div>
</li>

<li><a  href="/kg/payment-methods/">Төлөм ыкмалары</a></li>
<li><a href="/kg/contacts/">Байланышуу</a></li>
        </ul>
      </div>
      <div class="lang">
        <div class="lang-but">
          <div class="dropdown">
            
              <a class="kg">Кыргызча</a>
            
            <div class="drop-content">
              
                
                
                  <a href="/ru/">Русский</a>
                
              
                
                
                  <a >Кыргызча</a>
                
              
                
                
                  <a href="/templates/en/">English</a>
                
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-tel">
        <div class="tel-but">
          <div class="dropdown"><a>0 (555) 781 556</a>
            <div class="drop-content">
              <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (700) 781 556">0 (700) 781 556</a>
              
                <a href="tel:0 (777) 781 556">0 (777) 781 556</a>
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-local"><a class="ru" href="/kg/branch-network/">Филиалдар</a></div>
    </div>
  </div>

</header>
<div class="modal-fixed">
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <h2>Арызыңызды тапшырыңыз</h2>
        <form action="">
          <div class="input-row">
            <div class="input">
              <input type="text" placeholder="Имя"/>
            </div>
            <div class="input">
              <input type="text" placeholder="Фамилия"/>
            </div>
          </div>
          <div class="input">
            <input type="text" placeholder="Отчество"/>
          </div>
          <div class="input">
            <input type="text" placeholder="E-mail"/>
          </div>
          <div class="input">
            <input type="text" placeholder="Телефон"/>
          </div>
          <div class="input">
            <textarea placeholder="Сообщение"></textarea>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="modal-checkbox"/>
            <label class="label" for="modal-checkbox"></label>
            <label>Мен маалыматты берүүнүн шарттарына макулмун</label>
          </div>
          <button type="submit">Жөнөтүү</button>
        </form>
        <div class="modal-close closeBut"></div>
      </div>
      <!--==============финишная модалка==============-->
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Арызыңызды тапшырыңыз</h3>
          <p>Бир күн ичинде биздин адистерибиз сиздин маалыматтарды иштеп чыгышат да, сиздин почтаӊызга жооп жөнөтүшөт.</p>
          <div class="modal-finish-close closeBut">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-fixed" id="finishmodal" >
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Кайтарым  байланыш</h3>
          <p>Жакында арада биздин адистер суранычыңызды карап чыгып, сиз менен байланышат.</p>
          <div class="modal-finish-close closeBut" onclick="hideModal()">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>





    <main class="main">
      <section class="main-slider">
        <div class="owl-carousel main-owl-carousel">
          

            <div class="slider-img"><img src="/media/%D0%B4%D0%B5%D0%BF%D0%BE%D0%B7%D0%B8%D1%82_20_2_Kx8pjnx.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>&quot;Салым&quot; жана &quot;Салым Плюс&quot; депозиттер</h2>
                            <p class="dark">&laquo;Салым Финанстан&raquo; жогору кирешелүү депозиттер менен өз капиталыңызды көбөйтүңүз!<br />
&nbsp;&nbsp;
<ul>
	<li>Кирешелүүлүк сом менен 18%га чейин жана АКШ доллары менен 7%га чейин!;&nbsp;</li>
	<li>Капиталдаштыруу мүмкүнчүлүгү.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/kg/deposit/deposit-salym/">Кененирээк</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/%D0%91%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%BA%D1%80%D0%B5%D0%B4%D0%B8%D1%82_%D0%BD%D0%B0_%D1%80%D0%B5%D1%84%D0%B8%D0%BD%D0%B0%D0%BD%D1%81%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Кайра финансылоого кредит</h2>
                            <p class="dark">Ар ай сайынкы төлөмдөрдүн өлчөмүн азайтыңыз же зарыл муктаждыктарга кошумча акча алыңыз!
<ul>
	<li>Кредиттерди жана карыздарды кайра финансылоо;</li>
	<li>Бир нече кредитти бирөөнө бириктирүү;</li>
	<li>Кошумча акча каражаттарын алуу мүмкүнчүлүгү.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/kg/credit/credit-na-refinansirovanie">Кененирээк</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B8%D0%B9_OoYq6G7.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Бизнес-Ипотека</h2>
                            <p class="dark">Бизнес үчүн имараттарды жана жерлерди кыска мөөнөттө сатып алыңыз!
<ul>
	<li>Ылдам карап чыгуу;</li>
	<li>Эскертүүсүз жана комиссиясыз мөөнөтүнөн мурда төлөп кутулуу;</li>
	<li>Азайтылган пайыздар.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/kg/credit/Business-Mortgage">Кененирээк</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/%D1%81%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE_DmSA8h2.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>&quot;Турак оңдоо жана куруу&quot; кредит</h2>
                            <p class="dark">Турак-жай курууну жана оңдоону этабы менен финансылоо!
<ul>
	<li>Өтүнмөлөрдү ылдам карап чыгуу;</li>
	<li>Суммасы &ndash; 14&nbsp;000&nbsp;000 сомго чейин;</li>
	<li>Этап-этабы менен каржылоо мүмкүнчүлүгү.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/ky/credit/stroitelstvo-i-remont">Кененирээк</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/%D0%B8%D0%BF%D0%BE%D1%82%D0%B5%D0%BA%D0%B0_%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9_QtxOeQ1.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Ипотека</h2>
                            <p class="dark">&quot;Салым Финанс&quot;&nbsp; ипотека &ndash; кыймылсыз мүлк эми жеткиликтүүрөөк!
<ul>
	<li>Эскертүүсүз жана комиссиясыз мөөнөтүнөн мурда төлөп кутулуу;</li>
	<li>Өтүнмөлөрдү ылдам карап чыгуу.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/kg/credit/ipoteka">Кененирээк</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/%D0%BA%D1%80%D0%B5%D0%B4%D0%B8%D1%82_%D0%B7%D0%B0_%D1%87%D0%B0%D1%81_%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_d4ns9pK.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Кредит бир эле саатта</h2>
                            <p class="dark">Күрөөсүз, кепилдиксиз! Өз убактысын баалагандар үчүн!
<ul>
	<li>Ар кандай максаттарга кредиттер;</li>
	<li>Карап чыгуу мөөнөтү 1 сааттан баштап;</li>
	<li>Суммасы &ndash; 200 000 сомго чейин.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/kg/credit/credit-za-chas">Кененирээк</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_ulsqYSQ.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Билим алууга кредит</h2>
                            <p class="dark">&quot;Салым Финанс&quot;&nbsp; билим алууга кредит менен чогуу бүгүнтөн баштап жаӊы билимдерди тааный жана жаӊы көндүмдөргө ээ боло баштаӊыз!
<ul>
	<li>Азайтылган пайыздык коюмдар;</li>
	<li>Суммасы &ndash; 1&nbsp;500&nbsp;000 сомго чейин.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/kg/credit/credit-na-obrazovanie">Кененирээк</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81_caKjuJy.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Бизнести өнүктүрүү үчүн</h2>
                            <p class="dark">Иштеп жаткан жана стартта турган бизнеске кредиттер!
<ul>
	<li>Ылдам карап чыгуу;</li>
	<li>Эскертүүсүз жана комиссиясыз мөөнөтүнөн мурда төлөп кутулуу.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/kg/credit/business-credit">Кененирээк</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/%D1%82%D0%B5%D0%BF%D0%BB%D0%BE_%D0%B8_%D0%BA%D0%BE%D0%BC%D1%84%D0%BE%D1%80%D1%82_%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>&quot;Жылуулоо жана ыңгай&quot; кредит</h2>
                            <p class="dark">Өз турагыӊызды жылуулоону каалайсызбы? Жылытуунун кубатты үнөмдөөчү түрлөрүнө өткүӊүз же үйгө абаттандырылган сантүйүн кургуӊуз келеби? Терезе, эшиктерди жаӊырткыӊыз келеби? &quot;Салым Финанс&quot; &quot;Жылуулоо жана ыӊгай&quot; кредити менен сиздин пландарыӊыз жүзөгө ашат!
<ul>
	<li>Өтүнмөлөрдү ылдам карап чыгуу;</li>
	<li>Суммасы &ndash; күрөөсү жок 500&nbsp;000 сомго чейин;</li>
	<li>Этап-этабы менен каржылоо мүмкүнчүлүгү.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/kg/credit/teplo-i-comfort">Кененирээк</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/%D0%B0%D0%B3%D1%80%D0%BE_FZx6jJc.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Агрокредит</h2>
                            <p class="dark">Төлөмдөр боюнча каникулдары менен!
<ul>
	<li>Өтүнмөлөрдү ылдам карап чыгуу;</li>
	<li>Жекече төлөп кутулуу графиги;</li>
	<li>Кайтаруу төлөмдөрү үчүн тыныгуу.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/kg/credit/agrocredit">Кененирээк</a></div>
                        
                    </div>
                </div>
            </div>
          

            <div class="slider-img"><img src="/media/%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B8%D0%B9_%D0%BF%D0%BE%D1%82%D1%80%D0%B5%D0%B1_dppFy4J.png" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Керетөөгө муктаждык үчүн кредиттер</h2>
                            <p class="dark">Кыялыӊызды эртеӊкиге калтырбаӊыз! &quot;Салым Финанс&quot; керектөөчүлүк кредит менен сиз зарыл сатып<br />
алууларды ылдамырак жүзөгө<br />
ашыра аласыз!
<ul>
	<li>Эскертүүсүз жана комиссиясыз мөөнөтүнөн мурда төлөп кутулуу;</li>
	<li>Суммасы &ndash; күрөөсү жок 500&nbsp;000 сомго чейин;</li>
	<li>Ылдам карап чыгуу.</li>
</ul></p>
                        </div>
                        
                            <div><a href="https://salymfinance.kg/kg/credit/potrebitelskij-kredit">Кененирээк</a></div>
                        
                    </div>
                </div>
            </div>
          
        </div>
      </section>
      <div class="container">
        <section class="view-card">
          <div class="row">
            <div class="card large-card" style="background-image: url(/media/%D0%BA%D1%80%D0%B5%D0%B4%D0%B8%D1%82%D1%8B_ohccQH7.jpg.904x420_q85_box-0%2C0%2C902%2C420_crop_detail.jpg)">
              <h3>Кредиттер</h3>
              <ul class="grid">
                
                <li><a href="/kg/credit/ipoteka">Ипотека</a></li>
                
                <li><a href="/kg/credit/credit-za-chas">Бир саат ичинде кредит</a></li>
                
                <li><a href="/kg/credit/credit-na-obrazovanie">Билим алууга кредит</a></li>
                
                <li><a href="/kg/credit/teplo-i-comfort">«Жылуулоо жана ыңгай» кредит</a></li>
                
                <li><a href="/kg/credit/potrebitelskij-kredit">Керектөөгө муктаждык үчүн кредиттер</a></li>
                
                <li><a href="/kg/credit/agrocredit">Агрокредит</a></li>
                
                <li><a href="/kg/credit/stroitelstvo-i-remont">«Турак оңдоо жана куруу» кредит</a></li>
                
                <li><a href="/kg/credit/business-credit">Бизнести өнүктүрүү үчүн</a></li>
                
                <li><a href="/kg/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
                
                <li><a href="/kg/credit/credit-na-refinansirovanie">Кайра финансылоого кредит</a></li>
                
              </ul>
              <div class="btn-group">
                  <a class="btn-red button" href="https://salymfinance.kg/kg/credit/">Кененирээк</a>
                  <a class="btn-black button" href="/kg/about/payment-methods/">Төлөөнүн ыкмалары</a>
              </div>
            </div>


            <div class="card small-card" style="background-image: url(/media/%D0%B3%D0%B0%D1%80%D0%B0%D0%BD%D1%82%D0%B8%D0%B8-%D0%B4%D0%BB%D1%8F-%D1%81%D0%B0%D0%B9%D1%82%D0%B0-%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9-2_dKpAdW8.webp.280x420_q85_box-0%2C60%2C1120%2C1743_crop_detail.jpg)"><a href="https://salymfinance.kg/kg/guarantee/"></a>
              <h3>Кепилдиктер</h3>
              <p>ЖИлер жана юридикалык жактар үчүн</p>
            </div>
          </div>
          <div class="row">
            <div class="card large-card" style="background-image: url(/media/%D0%B4%D0%B5%D0%BF%D0%BE%D0%B7%D0%B8%D1%82_18_%D0%BB%D0%B8%D1%81%D1%82%D0%BE%D0%B2%D0%BA%D0%B8.png.592x450_q85_box-0%2C0%2C592%2C450_crop_detail.png)">
              <h3>Депозиттер</h3>
              <ul class="row-list">
                
                <li><a style="text-decoration: none">Эң пайдалуу пайыздык чендер;</a></li>
                
                <li><a style="text-decoration: none">Мөөнөтү 36 айга чейин;</a></li>
                
                <li><a style="text-decoration: none">Мөөнөтүнөн эрте жабылуу;</a></li>
                
                <li><a style="text-decoration: none">•	Кыргыз Республикасынын Мыйзамына ылайык коргоо тутуму.</a></li>
                
              </ul>
              <div class="btn-group">
                  <a class="btn-red button" href="https://salymfinance.kg/kg/deposit/deposit-salym/">Кененирээк</a>
                  <a class="btn-black button" href="/kg/about/deposit/payment-methods/">Толуктоонун ыкмалары</a>
              </div>
            </div>
            <div class="card small-card" style="background-image: url(/media/%D0%B0%D0%BA%D1%86%D0%B8%D0%B8_LW8G7AF.jpg.280x450_q85_box-008391350_crop_detail.webp.280x450_q85_box-0%2C0%2C280%2C450_crop_detail.jpg)"><a href="https://salymfinance.kg/kg/shares/"></a>
              <h3>Акциялар</h3>
              <p>Артыкчылыктуу акцияларды алгачкы ачык сунуштоо (IPO)</p>
            </div>
            <div class="card small-card" style="background-image: url(/media/%D0%BE%D0%B1%D0%BB%D0%B8%D0%B3%D0%B0%D1%86%D0%B8%D1%8F_%D0%B8_%D0%B0%D0%BA%D1%86%D0%B8%D1%8F_a9oWHa3.png.280x450_q85_box-0%2C0%2C839%2C1350_crop_detail.png)"><a href="https://salymfinance.kg/kg/bonds/"></a>
              <h3>Облигациялар</h3>
              <p>Катталган жогорку кирешелүү пайыздык облигациялар</p>
            </div>
          </div>
        </section>
        
<section class="news-section">
  <div class="news-section__heading">
    <h2>Жаңылыктар</h2>
    <div class="button"><a href="/kg/about/news/">Бардык жаңылыктар</a></div>
  </div>
  <div class="card-all">
    
    <div class="card">
      <div class="news-section__card">
        <div class="date">Июль 27, 2022</div>
        <p>«Бишкек-Восток» филиалы Чүй пр., 26/7 апрель дарегиндеги жаңы кеңсесине көчүрүлдү.</p><a href="/kg/about/news/filial-bishkek-vostok-pereehal-v-novyj-ofis-po-adr/"></a>
      </div>
    </div>
    
    <div class="card">
      <div class="news-section__card">
        <div class="date">Июль 18, 2022</div>
        <p>Ат-Башы а. өкулчүлүгүнүн ачылышы</p><a href="/kg/about/news/otkrytie-novogo-predstavitelstva-v-s-bashy/"></a>
      </div>
    </div>
    
    <div class="card">
      <div class="news-section__card">
        <div class="date">Июль 7, 2022</div>
        <p>Келе жаткан майрамга карата жумуш убактысы.</p><a href="/kg/about/news/grafik-raboty-v-predstoyashij-prazdnik/"></a>
      </div>
    </div>
    
    <div class="card">
      <div class="news-section__card">
        <div class="date">Июнь 24, 2022</div>
        <p>&quot;Салым Финанс&quot; МФКнын Кочкор-Ата шаарындагы жаңы өкүлчүлүгүнүн расмий ачылышы.</p><a href="/kg/about/news/oficialnoe-otkrytie-novogo-predstavitelstva-mfk-sa/"></a>
      </div>
    </div>
    
  </div>
</section>
        <section class="exchange-rates" id="checkboxForm">
          <div class="exchange-rates__content">
            
<div class="exchange-rates__tabs">
  <div class="calculate-credit__heading">
    <h2>Курстары:</h2>
    <p>Курс актуалдуу Авг. 23, 2022, 8:55 д.п.</p>
  </div>
  <div class="exchange-rates__but-all">
    <div class="exchange-rates__but tabs-button-js">Нак</div>
      <div class="exchange-rates__but tabs-button-js">Нак эмес</div>
    <div class="exchange-rates__but tabs-button-js">КР Улуттук банктын курстары</div>
  </div>
  <div class="exchange-rates__tabs-con-all">
    <div class="exchange-rates__tabs-con tabs-content-js">
      <div class="exchange-rates__row">
        <div class="currency">Валюта</div>
        <div class="buy">Алуу</div>
        <div class="sale">Сатуу</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">USD</div>
        <div class="buy">81.5000</div>
        <div class="sale">82.5000</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">EUR</div>
        <div class="buy">83.0000</div>
        <div class="sale">84.0000</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">RUB</div>
        <div class="buy">1.3000</div>
        <div class="sale">1.3700</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">KZT</div>
        <div class="buy">0.1100</div>
        <div class="sale">0.1900</div>
      </div>
    </div>
    
      <div class="exchange-rates__tabs-con tabs-content-js">
      <div class="exchange-rates__row">
        <div class="currency">Валюта</div>
        <div class="buy">Алуу</div>
        <div class="sale">Сатуу</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">USD</div>
        <div class="buy">81.5000</div>
        <div class="sale">82.5000</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">EUR</div>
        <div class="buy">83.0000</div>
        <div class="sale">84.0000</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">RUB</div>
        <div class="buy">1.3000</div>
        <div class="sale">1.3700</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">KZT</div>
        <div class="buy">0.1100</div>
        <div class="sale">0.1900</div>
      </div>
    </div>
    <div class="exchange-rates__tabs-con tabs-content-js">
      <div class="exchange-rates__row">
        <div class="currency">Валюта</div>
        <div class="buy">Курс</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">USD</div>
        <div class="buy" id="nbkr_usd">0</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">EUR</div>
        <div class="buy" id="nbkr_eur">0</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">RUB</div>
        <div class="buy" id="nbkr_rub">0</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">KZT</div>
        <div class="buy" id="nbkr_kzt">0</div>
      </div>
    </div>
  </div>
    <div class="exchange-rates-wrapper">
            <p>
                «Салым Финанс» МФКсы Компаниянын кардарлары үчүн жекече курстарды аныктоо укугун өзүнө калтырат.
            </p>
    </div>
</div>
            <div class="exchange-rates__right">
              <div class="calculate-credit__heading">
                <h2>Кайтарым  байланыш</h2>
                <p>Сиз суроо же өтүнмө калтыра аласыз да, биз сизге жооп беребиз</p>
              </div>
              <form id="indexForm" method="POST" action="/kg/f/">
                <input type="hidden" name="csrfmiddlewaretoken" value="aOJTrQs8JbIjici0FBALaMI6cOCLolCk1u2yXUlzZA0bX02wLkRg9Tq6cvwFxwPM">
                <div class="grid">
                  <div class="form-control">
                    <label>Аты</label>
                    <input required placeholder="Атыңызды жазыӊыз" name="name"/>
                  </div>
                  <div class="form-control">
                    <label>Фамилиясы</label>
                    <input required placeholder="Фамилияӊызды жазыӊыз" name="surname"/>
                  </div>
                </div>
                <div class="form-control">
                  <label>Телефон</label>
                  <input required type="number" placeholder="+996 (000) 000 - 000" name="number"/>
                </div>
                <div class="form-control">
                  <label>Суроо</label>
                  <input required placeholder="Суроо бериңиз" name="message"/>
                </div>

                  <div class="checkbox" style="display:flex;">
                    <input type="checkbox" v-on:click="toggleCheckbox" :checked="isCheckbox" id="modal-checkbox-1"/>
                    <label class="label" for="modal-checkbox-1">
                      <div style="display:inline-block; margin-left: 5px; margin-bottom: 10px;">
                        Мен, менин жеке маалыматтарымды иштетүү жана пайдалануу шарттарына макулмун⠀
                      </div>
                    </label>
                  </div>
                <input id="recaptcha" type="hidden" name="g-recaptcha-response" />
                <button type="submit" :style="{background: isCheckbox ? '#8B98A7' : '#d3d3d3'}"
                    :disabled="!isCheckbox">Жөнөтүү</button>
              </form>
            </div>
          </div>
        </section>

        
        <section class="mortgage">
          <div class="mortgage-banner" style="background-image: url(/media/%D0%BD%D0%B8%D0%B6%D0%BD%D0%B8%D0%B9_%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80.png.1216x420_q85_box-0%2C0%2C5079%2C1762_crop_detail.png)">
            <h2>&quot;Салым&quot; жана &quot;Салым Плюс&quot; депозиттер</h2>
            <p>«Салым Финанстан» жогору кирешелүү депозиттер менен өз капиталыңызды көбөйтүңүз!
  
Кирешелүүлүк сом менен 18%га чейин жана АКШ доллары менен 7%га чейин!; 
Капиталдаштыруу мүмкүнчүлүгү.</p>
            <div class="grid">
              
            </div><a href="https://salymfinance.kg/kg/deposit/deposit-salym/">Кененирээк</a>
          </div>
        </section>
        


        <section class="our-awards">
          <div class="calculate-credit__heading">
            <h2>Биздин тастыктамаларыбыз</h2>
            <p>Шайкештик жөнүндө тастыктоолор</p>
          </div>
          <div class="our-awards__content">
            <div class="card-all" id="selector-gallery">
              
              <div class="card" data-src="/media/FR-certificate-Salym-Finance-Kyrgyz-republic-Sep19-1-1024x709_Q1gMo8c_YlpkNEH.webp">
                <div class="our-awards-img"><img src="/media/FR-certificate-Salym-Finance-Kyrgyz-republic-Sep19-1-1024x709_Q1gMo8c_YlpkNEH.webp" alt="load img"/></div>
              </div>
              
              <div class="card" data-src="/media/certificate_deposit_2xkobvB_J6TtQe8_SXiU8xI.webp">
                <div class="our-awards-img"><img src="/media/certificate_deposit_2xkobvB_J6TtQe8_SXiU8xI.webp" alt="load img"/></div>
              </div>
              
              <div class="card" data-src="/media/certificate-1024x778_OnJxVbx_QlvGTTF_yTuzdUy.webp">
                <div class="our-awards-img"><img src="/media/certificate-1024x778_OnJxVbx_QlvGTTF_yTuzdUy.webp" alt="load img"/></div>
              </div>
              
            </div>
          </div>
        </section>

      </div>
    </main>


<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__content">
        <div class="footer-top_contact">
          
            <div class="contact-block">
              <h4>Кабылдама</h4>
              <ul>
                
                  <li><a href="tel:0 (312) 610 513">0 (312) 610 513</a></li>
                
                  <li><a href="tel:0 (550) 781 537">0 (550) 781 537</a></li>
                
              </ul>
            </div>
          
            <div class="contact-block">
              <h4>Кредиттердин суроолору боюнча</h4>
              <ul>
                
                  <li><a href="tel:0 (555) 781 556">0 (555) 781 556</a></li>
                
                  <li><a href="tel:0 (700) 781 556">0 (700) 781 556</a></li>
                
                  <li><a href="tel:0 (777) 781 556">0 (777) 781 556</a></li>
                
              </ul>
            </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="footer-center">
    <div class="container">
      <div class="footer-center__content">
        <div class="footer-center__block">
          <h4>Кредиттер</h4>
          <ul>
            <li><a href="/kg/credit/">Бардык кредиттер</a></li>
            
              <li><a href="/kg/credit/ipoteka">Ипотека</a></li>
            
              <li><a href="/kg/credit/credit-za-chas">Бир саат ичинде кредит</a></li>
            
              <li><a href="/kg/credit/credit-na-obrazovanie">Билим алууга кредит</a></li>
            
              <li><a href="/kg/credit/teplo-i-comfort">«Жылуулоо жана ыңгай» кредит</a></li>
            
              <li><a href="/kg/credit/potrebitelskij-kredit">Керектөөгө муктаждык үчүн кредиттер</a></li>
            
              <li><a href="/kg/credit/agrocredit">Агрокредит</a></li>
            
              <li><a href="/kg/credit/stroitelstvo-i-remont">«Турак оңдоо жана куруу» кредит</a></li>
            
              <li><a href="/kg/credit/business-credit">Бизнести өнүктүрүү үчүн</a></li>
            
              <li><a href="/kg/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
            
              <li><a href="/kg/credit/credit-na-refinansirovanie">Кайра финансылоого кредит</a></li>
            
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>Компания жөнүндө</h4>
          <ul>
            <li><a href="/kg/about/company/"> Биз жөнүндө</a></li>
            <li><a href="/kg/about/partners/">Өнөктөштөр</a></li>
            <li><a href="/kg/about/shareholders/">Акционерлер</a></li>
            <li><a href="/kg/about/social/">Коомдук жоопкерчилик</a></li>

            <li><a href="/kg/about/license/">Лицензиялар</a></li>
            <li><a href="/kg/report/">Отчеттуулук</a></li>
            <li><a href="/kg/contacts/">Байланышуу</a></li>
            <li><a href="/kg/about/vacancy-list/">Вакансиялар</a></li>
            <li><a href="/kg/about/news/">Жаңылыктар</a></li>
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>Баалуу кагаздар</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/kg/bonds/">Облигациялар</a></li>
              <li><a href="/kg/shares/">Акциялар</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-center__block">
          <h4>Реквизиттери</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/kg/branch-network/?filter=all">Филиалдар</a></li>
              <li><a href="/kg/about/payment-methods/">Кредитти төлөөнүн ыкмалары</a></li>
              <li><a href="/kg/about/deposit/payment-methods/">Депозитти толуктоонун ыкмалары</a></li>
              <li><a href="/kg/bank-details/">Реквизиты оплаты кредита</a></li>
              <li><a href="/kg/bank-details/requisite/">Реквизиты пополнения депозита</a></li>
            </ul>
            <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/">Instagram</a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/">Facebook</a>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__content"><span>&quot;Салым Финанс&quot; МФК ААК © 2007-2022</span>
        
          <a href="https://salymfinance.kg/media/Prosedure_for_consideration_applications_KG.pdf" target="_blank"><span>Кайрылууларды кароо процедурасы</span></a>
        
        <a class="mitap" href="https://mitapp.pro/ru/">MITAPPта жасалган</a>

      </div>
    </div>
  </div>
</footer>

<script src="https://livechatv2.chat2desk.com/packs/ie-11-support.js"></script>

<script>
  window.chat24_token = "1d5e59d45f967ae224fbec78e1680a67";
  window.chat24_url = "https://livechatv2.chat2desk.com";
  window.chat24_socket_url ="wss://livechatv2.chat2desk.com/widget_ws_new";
  window.chat24_show_new_wysiwyg = "true";
  window.chat24_static_files_domain = "https://storage.chat2desk.com/";
  window.lang = "ru";
  window.fetch("".concat(window.chat24_url, "/packs/manifest.json?nocache=").concat(new Date().getTime())).then(function (res) {
    return res.json();
  }).then(function (data) {
    var chat24 = document.createElement("script");
    chat24.type = "text/javascript";
    chat24.async = true;
    chat24.src = "".concat(window.chat24_url).concat(data["application.js"]);
    document.body.appendChild(chat24);
  });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/vue/common.js"></script>
<script src="/static/js/libs.js"></script>
<script src="/static/libs/owl-carousel2/owl-carousel2.js"></script>
<script src="/static/libs/range-slider/ion.rangeSlider.min.js"></script>
<script src="/static/js/main.js"></script>

<script>
    $(document).ready(function () {
        $(".main-owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            nav: true,
            navContainerClass: 'owl-nav',

        });

    });
</script>
<script>
    function hideModal() {
        let elem = document.getElementById('finishmodal');
        elem.style.opacity = 0;
        elem.style.visibility = 'hidden';
    }
</script>

<script>
    grecaptcha.ready(function () {
        $('#indexForm').submit(function (e) {
            var form = this;
            e.preventDefault()
            grecaptcha.execute('6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd', {action: 'indexForm'}).then(function (token) {
                $('#recaptcha').val(token)
                form.submit()
            });
        })
    });
</script>
<script>
function load_nbkr() {
  $.ajax({
        url: '/kg/get_nbkr',
        method: 'get',
        success: function (data) {
            $('#nbkr_usd').text(data.usd)
            $('#nbkr_eur').text(data.eur)
            $('#nbkr_rub').text(data.rub)
            $('#nbkr_kzt').text(data.kzt)
        },
        error: function (request, errorThrown, errorObject) {
            console.log(errorObject);
        }
    });
}
load_nbkr()
</script>
<script>
      $('#selector-gallery').lightGallery({
          selector: '.card'
      });
      $(document).ready(function () {
          $(".main-owl-carousel").owlCarousel({
              items: 1,
              loop: true,
              nav: true,
              navContainerClass: 'owl-nav',

          });

      });
      $(document).ready(function () {
          var $range = $(".js-range-slider"),
              $input = $(".js-input"),
              instance,
              min = 1000,
              max = 100000;

          $range.ionRangeSlider({
              skin: "big",
              min: min,
              max: max,
              step: 1000,
              hide_min_max: true,
              hide_from_to: true,
              onStart: function (data) {
                  $input.prop("value", data.from);
              },
              onChange: function (data) {
                  $input.prop("value", data.from);
              }
          });

          instance = $range.data("ionRangeSlider");

          $input.on("change keyup", function () {
              var val = $(this).prop("value");

              if (val < min) {
                  val = min;
              } else if (val > max) {
                  val = max;
              }

              instance.update({
                  from: val
              });
          });

      });
      $(document).ready(function () {
          var $range = $(".js-range-slider2"),
              $input = $(".js-input2"),
              instance,
              min = 1,
              max = 36;

          $range.ionRangeSlider({
              skin: "big",
              min: min,
              max: max,
              step: 1,
              hide_min_max: true,
              hide_from_to: true,
              onStart: function (data) {
                  $input.prop("value", data.from);
              },
              onChange: function (data) {
                  $input.prop("value", data.from);
              }
          });

          instance = $range.data("ionRangeSlider");

          $input.on("change keyup", function () {
              var val = $(this).prop("value");

              if (val < min) {
                  val = min;
              } else if (val > max) {
                  val = max;
              }

              instance.update({
                  from: val
              });
          });

      });
    </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/static/js/vue/form_controller.js"></script>


</body>
</html>