{% extends 'base.html' %}
{% load static %}
{% block body %}
<main class="credit-detail" id="app">
  <div class="crumb">
    <div class="container">
      <div class="crumb-content"><a href="/static">Главная</a><a href="/financing_list">Финансирования</a><a href="#">{{ financing_detail.title }}</a></div>
    </div>
  </div>

    <section class="credit-detail__banner" style="background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 0%, rgb(7, 50, 148) 0%, rgb(1, 48, 89) 0%, rgb(1, 48, 89) 0%, rgb(87, 182, 219) 100%);">
    <div class="container">
      <div class="credit-detail__banner-img">
          <img src="{{financing_detail.image.url}}" alt="load img"/>
      </div>
      <div class="banner-description">
        <div>
          <h2 style="color: white">{{ financing_detail.title }}</h2>
          <p>{{ financing_detail.paragraph }}</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">

<section class="credit-detail__table">
 <div class="ck-editor">
     <p>{{financing_detail.text|safe}}</p>
</section>
</div>
</main>
{% endblock body %}
