{% extends 'base.html' %}
{% load static %}
{% block body %}

    <main class="credit">
      <div class="crumb">
        <div class="container">
          <div class="crumb-content">
              <a href="/static">Главная</a>
              <a>Финансирования</a>
          </div>
        </div>
      </div>
      <div class="container">
        <section class="credit-content">
          <h1>Финансирование</h1>
          <div class="card-all">
          {% for finance in financing %}
            <div class="card-credit-detail">
              <div class="credit-card__description">
                <h3>{{ finance.title }}</h3>
                <p class="dark">{{ finance.paragraph }}</p>
              </div>
              <div class="credit-card-but"><a href="{% url 'financing_list:financing_detail' id=finance.id %}">Подробнее</a></div>
              <div class="credit-card-img">
                  <img src="{{finance.image.url}}" style="background: #F2F3F7" alt="load img"/>
              </div>
            </div>
          {% endfor %}
          </div>
        </section>
      </div>
    </main>
{% endblock body %}
