<!DOCTYPE html>
<html lang="ru">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLBY00H8E3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GLBY00H8E3');
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(71709628, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
       });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/71709628" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '599827717918759');
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=599827717918759&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
<!-- /Yandex.Metrika counter -->
  <meta name="facebook-domain-verification" content="ok6b4dhnmdy33bx7n8kq1dldvbhrhi" />
  <meta charset="UTF-8"/>
  <meta name="description" content="None">
  <meta name="keywords" content="Депозит">
  <meta property="og:title" content="None"/>
  <meta property="og:image"
        content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content="https://salymfinance.kg/ru/deposit/deposit-salym/"/>
  <meta name="author" content="MITAPP"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="theme-color" content="#ffffff"/>
  <link rel="shortcut icon" href="/static/img/svg/icon.svg"/>
  <link rel="stylesheet" href="/static/fonts/Montserrat/stylesheet.css"/>
  <link rel="stylesheet" href="/static/libs/owl-carousel2/owl-carousel2.css"/>
  <link rel="stylesheet" href="/static/libs/range-slider/ion.rangeSlider.min.css"/>
  <link rel="stylesheet" href="/static/css/style.css"/>
  
  
  <title>Депозиты &quot;Салым&quot; и &quot;Салым Плюс&quot; - МФК Салым Финанс</title>





</head>
<body >
<style>
  .loan-purchase .guarantee-advantages .guarantee-card {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
  .navigation ul {
    margin-right: 20px;
}
</style>
<header class="header">
  <div class="header-desktop">
    <div class="nav-top">
      <div class="container">
        <div class="nav-top__content">
          <div class="nav-top-left">
            <a href="/ru/"><div class="logo"><img src="/static/img/svg/logo.svg" alt="load img"/></div></a>


            <div class="lang">
              <div class="lang-but open-dropdown">
                
                  <a class="ru">Русский</a>
                
              </div>
              <div class="lang-but__content content-dropdown">
                
                  
                  <a class="active">
                  
                    <a class="active">Русский</a>
                  
                
                  
                  <a class=""href="/kg/deposit/deposit-salym/">
                  
                    <a href="/kg/deposit/deposit-salym/">Кыргызча</a>
                  
                
                  
                  <a class=""href="/templates/en/deposit/deposit-salym/">
                  
                    <a href="/templates/en/deposit/deposit-salym/">English</a>
                  
                
              </div>
            </div>
          </div>
          <div class="nav-top-right">
            <div class="header-tel">
              <div class="tel-but open-dropdown"><a>0 (555) 781 556</a></div>
              <div id="phone-dropdown" class="tel-but__content content-dropdown">
                
                  <a href="tel:0 (555) 781 556">0 (555) 781 556</a><br>
                
                  <a href="tel:0 (700) 781 556">0 (700) 781 556</a><br>
                
                  <a href="tel:0 (777) 781 556">0 (777) 781 556</a><br>
                
              </div>
            </div>
            <div class="header-local"><a class="ru" href="/ru/branch-network/?filter=all">Филиальная сеть</a></div>
            <div class="dropdown">
              <div class="title">Обратная связь<span class="icon"></span></div>
              <div class="drop-content">
                
                  <a class="item" href="https://salymfinance.kg/contacts/">Обратная связь</a>
                
              </div>
            </div>
          <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/"></a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/"></a>
        </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-bottom">
      <div class="container">
        <div class="nav-bottom__content">
          <div class="navigation">
            <ul>
              
                


<li><a href="/ru/">Главная</a></li>
<li class="dropdown"><a >О компании</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/ru/about/company/">О нас</a></li>
            <li><a href="/ru/about/partners/">Партнеры</a></li>
            <li><a href="/ru/about/shareholders/">Акционеры</a></li>
          </ul>
          <ul>
            <li><a href="/ru/about/social/">Социальная ответственность</a></li>
            <li><a href="/ru/about/license/">Лицензии</a></li>
            <li><a href="/ru/about/vacancy-list/">Вакансии</a></li>
          </ul>
          <ul>
            <li><a href="/ru/about/news/">Новости</a></li>
            <li><a href="/ru/report/">Отчетность</a></li>
          </ul>
          <ul>
          </ul>
        </div>
      </div>
    </div>
</li>
<li class="dropdown"><a >Кредиты</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/ru/credit/">Все кредиты</a></li>
          </ul>
          <ul>
            
            <li><a href="/ru/credit/ipoteka">Ипотека</a></li>
            
            
            <li><a href="/ru/credit/credit-za-chas">Кредит за час</a></li>
            
            
            <li><a href="/ru/credit/credit-na-obrazovanie">Кредит на образование</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/ru/credit/teplo-i-comfort">Кредит &quot;Тепло и Комфорт&quot;</a></li>
            
            
            <li><a href="/ru/credit/potrebitelskij-kredit">Потребительский кредит</a></li>
            
            
            <li><a href="/ru/credit/agrocredit">Агрокредит</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/ru/credit/stroitelstvo-i-remont">Кредит &quot;Строительство и ремонт&quot;</a></li>
            
            
            <li><a href="/ru/credit/business-credit">На развитие бизнеса</a></li>
            
            
            <li><a href="/ru/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/ru/credit/credit-na-refinansirovanie">Кредит на рефинансирование</a></li>
            
            
          
        </div>
      </div>
    </div>
</li>





















<li><a class="active" href="/ru/deposit/deposit-salym/">Депозиты</a></li>

<li><a  href="/ru/money-transfer/">Переводы</a></li>
<li><a  href="/ru/guarantee/">Гарантии</a></li>
<li class="dropdown"><a >Ценные бумаги</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
              <li><a href="/ru/shares/">Акции</a></li>
              <li><a href="/ru/bonds/">Облигации</a></li>
          </ul>
        </div>
      </div>
    </div>
</li>



<li><a  href="/ru/payment-methods/">Способы оплаты</a></li>
<li><a  href="/ru/contacts/">Контакты</a></li>
              
            </ul>
          </div>
          <div class="header-search"><a href="/ru/search/"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-mobile">
    <div class="header-mobile__top">
      <div class="menu-hamburger">
        <div class="menu-hamburger__icon">
          <div class="icon-hamburger"><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <div class="logo"><a href="/ru/"><img src="/static/img/svg/logo.svg" alt="load img"/></a></div>
      <div class="header-search"><a href="/ru/search/"></a></div>
    </div>
    <div class="header-mobile-menu">
      <div class="navigation">
        <ul>
          

<li><a href="/ru/">Главная</a></li>
<li class="dropdown"><a href="#">Кредиты</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/ru/credit/">Кредиты</a></li>
        
        <li><a href="/ru/credit/ipoteka">Ипотека</a></li>
        
        <li><a href="/ru/credit/credit-za-chas">Кредит за час</a></li>
        
        <li><a href="/ru/credit/credit-na-obrazovanie">Кредит на образование</a></li>
        
        <li><a href="/ru/credit/teplo-i-comfort">Кредит &quot;Тепло и Комфорт&quot;</a></li>
        
        <li><a href="/ru/credit/potrebitelskij-kredit">Потребительский кредит</a></li>
        
        <li><a href="/ru/credit/agrocredit">Агрокредит</a></li>
        
        <li><a href="/ru/credit/stroitelstvo-i-remont">Кредит &quot;Строительство и ремонт&quot;</a></li>
        
        <li><a href="/ru/credit/business-credit">На развитие бизнеса</a></li>
        
        <li><a href="/ru/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
        
        <li><a href="/ru/credit/credit-na-refinansirovanie">Кредит на рефинансирование</a></li>
        
      </ul>
    </div>
</li>











<li><a href="/ru/deposit/deposit-salym/">Депозиты</a></li>


<li><a href="/ru/money-transfer/">Переводы</a></li>
<li><a href="/ru/guarantee/">Гарантии</a></li>
<li class="dropdown"><a href="#">Ценные бумаги</a>
    <div class="drop-down-hover">
      <ul>
          <li><a href="/ru/shares/">Акции</a></li>
          <li><a href="/ru/bonds/">Облигации</a></li>
      </ul>
    </div>
</li>

<li class="dropdown"><a href="#">О нас</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/ru/about/company/">О компании</a></li>
        <li><a href="/ru/about/partners/">Партнеры</a></li>
        <li><a href="/ru/about/shareholders/">Акционеры</a></li>
        <li><a href="/ru/about/social/">Социальная ответственность</a></li>

        <li><a href="/ru/about/license/">Лицензии</a></li>
        <li><a href="/ru/about/vacancy-list/">Вакансии</a></li>
        <li><a href="/ru/about/news/">Новости</a></li>

        <li><a href="/ru/report/">Отчетность</a></li>
      </ul>
    </div>
</li>

<li><a  href="/ru/payment-methods/">Способы оплаты</a></li>
<li><a href="/ru/contacts/">Контакты</a></li>
        </ul>
      </div>
      <div class="lang">
        <div class="lang-but">
          <div class="dropdown">
            
              <a class="ru">Русский</a>
            
            <div class="drop-content">
              
                
                
                  <a >Русский</a>
                
              
                
                
                  <a href="/kg/deposit/deposit-salym/">Кыргызча</a>
                
              
                
                
                  <a href="/templates/en/deposit/deposit-salym/">English</a>
                
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-tel">
        <div class="tel-but">
          <div class="dropdown"><a>0 (555) 781 556</a>
            <div class="drop-content">
              <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (700) 781 556">0 (700) 781 556</a>
              
                <a href="tel:0 (777) 781 556">0 (777) 781 556</a>
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-local"><a class="ru" href="/ru/branch-network/">Филиальная сеть</a></div>
    </div>
  </div>

</header>
<div class="modal-fixed">
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <h2>Оставить заявку</h2>
        <form action="">
          <div class="input-row">
            <div class="input">
              <input type="text" placeholder="Имя"/>
            </div>
            <div class="input">
              <input type="text" placeholder="Фамилия"/>
            </div>
          </div>
          <div class="input">
            <input type="text" placeholder="Отчество"/>
          </div>
          <div class="input">
            <input type="text" placeholder="E-mail"/>
          </div>
          <div class="input">
            <input type="text" placeholder="Телефон"/>
          </div>
          <div class="input">
            <textarea placeholder="Сообщение"></textarea>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="modal-checkbox"/>
            <label class="label" for="modal-checkbox"></label>
            <label>Я согласен с условиями передачи информации</label>
          </div>
          <button type="submit">Отправить</button>
        </form>
        <div class="modal-close closeBut"></div>
      </div>
      <!--==============финишная модалка==============-->
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Оставить заявку</h3>
          <p>В течении дня наши специалисты обработают ваши данные и отправят ответ на вашу почту.</p>
          <div class="modal-finish-close closeBut">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-fixed" id="finishmodal" >
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Обратная связь</h3>
          <p>В скором времени наши специалисты обработают ваш запрос и свяжутся с Вами.</p>
          <div class="modal-finish-close closeBut" onclick="hideModal()">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div id="credit_modal" class="modal-credit">
    <div class="modal-content">
      <div>
        <div class="modal-content__inner">
          <h2>Оформление заявки</h2>
          <form @submit.prevent="sendRequest">
            <input type="hidden" name="csrfmiddlewaretoken" value="h2d6A8j4yvSxrmX6z8QEOt8oC3HnhrDL8IwL6ccvOUap6aHCFR79NAQoCKBhqCQd">
            <div class="input-row">
              <div class="input">
                <input type="text" v-model="name" name="name" placeholder="Имя"/>
              </div>
              <div class="input">
                <input type="text" v-model="last_name" name="last_name" placeholder="Фамилия"/>
              </div>
            </div>
            <div class="input">
              <input type="text" v-model="middle_name" name="middle_name" placeholder="Отчество"/>
            </div>
            <div class="input">
              <input type="email" v-model="email" name="email" placeholder="E-mail"/>
            </div>
            <div class="input">
              <input type="number" v-model="phone" name="phone" placeholder="Телефон"/>
            </div>

            <div class="credit-select">
              <div class="select">
                <div class="styledSelect" v-bind:class="{active: regionSelectIsActive}"
                     @click="setRegionSelect">[[ selectedRegion.name ]]
                </div>
                <ul class="options" v-bind:style="{display: displayRegionSelect}" v-bind:class="{active: regionSelectIsActive}">
                  <li v-for="region in regions" v-on:click="selectRegion(region)"
                      v-bind:class="{active: selectedRegion.id === region.id}">[[ region.name ]]
                  </li>
                </ul>
              </div>
            </div>

            <div class="credit-select">
              <div class="select">
                <div class="styledSelect" v-bind:class="{active: districtSelectIsActive}"
                     @click="setDistrictSelect">[[ selectedDistrict.name ]]
                </div>
                <ul class="options" v-bind:style="{display: displayDistrictSelect}" v-bind:class="{active: districtSelectIsActive}">
                  <li v-for="district in districts" v-on:click="selectDistrict(district)"
                      v-bind:class="{active: selectedDistrict.id === district.id}">[[ district.name ]]
                  </li>
                </ul>
              </div>
            </div>

            <div class="input">
              <input type="text" v-model="address" name="address" maxlength="128" placeholder="Адрес"/>
            </div>

            <div class="range-slider">
              <div class="extra-controls"><span>Сумма кредита</span>
                <div>
                  <input class="js-input3" v-model="sum" type="number" name="sum" value="0"/>
                  <div class="sum">сом</div>
                </div>
              </div>
              <input class="js-range-slider3" type="text" value=""/>
            </div>

            <div class="checkbox">
              <input type="checkbox" :checked="isCheckbox" id="modal-checkbox"/>
              <label class="label" for="modal-checkbox" v-on:click="toggleCheckbox"></label>
              <label style="display:inline-block;">
                Я соглашаюсь с условиями обработки и использования моих персональных данных⠀
                
              </label>
            </div>
            <button type="submit" :style="{background: isCheckbox ? '#8B98A7' : '#d3d3d3'}"
                    :disabled="!isCheckbox">Отправить</button>
          </form>
          <div class="modal-close closeBut"></div>
        </div>
      </div>
    </div>
  </div>



















<main class="deposit">
  <div class="crumb">
    <div class="container">
      <div class="crumb-content"><a href="/ru/">Главная</a><a href="">Депозиты</a><a>Депозиты &quot;Салым&quot; и &quot;Салым Плюс&quot;</a></div>
    </div>
  </div>

  <section class="about-company-banner">
    <div class="banner-img"><img src="/media/%D0%B4%D0%B5%D0%BF%D0%BE%D0%B7%D0%B8%D1%82_20_2_G3qmZCa.png.1602x480_q85_box-0%2C0%2C3204%2C959_crop_detail.png" alt="load img">
      <div class="container">
        <div class="banner-description">
            <div>
              <h2>Депозиты &quot;Салым&quot; и &quot;Салым Плюс&quot;</h2>
              <div class="ck-editor">ОАО МФК &laquo;Салым Финанс&raquo; предлагает депозитные продукты<br />
&laquo;Салым&raquo; и &laquo;Салым Плюс&raquo; с высокой доходностью до 18% годовых!</div>
            </div>
            <div class="credit-detail__but">
              <a class="open-modal-credit" style="background: linear-gradient(90deg,#b1100e 0%,#dc0606 50%,#fd0001 100%);">Оформить заявку</a>
              <a class="but-link" href="#credit-calc">Рассчитать депозит</a>
            </div>
          </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="ck-editor">
      
    </div>
    <br>
    <section class="advantages-deposit">
      <h2>Основные преимущества</h2>
      <div class="card-all">
        
        <div class="card">
          <div class="advantages-deposit__icon"><img src="/media/icons/procent_uJSg1TS.png" alt="load img"/></div>
          <p>выгодные процентные ставки</p>
        </div>
        
        <div class="card">
          <div class="advantages-deposit__icon"><img src="/media/icons/moneybag-2_htbmNij.png" alt="load img"/></div>
          <p>возможность капитализации</p>
        </div>
        
        <div class="card">
          <div class="advantages-deposit__icon"><img src="/media/icons/%D1%89%D0%B8%D1%82.png" alt="load img"/></div>
          <p>депозиты защищены согласно Закона КР “О защите банковских вкладов”</p>
        </div>
        
        <div class="card">
          <div class="advantages-deposit__icon"><img src="/media/icons/like_qi8RxXw.png" alt="load img"/></div>
          <p>возможность досрочного полного или частичного изъятия</p>
        </div>
        
        <div class="card">
          <div class="advantages-deposit__icon"><img src="/media/icons/note-2_3ptPcVH.png" alt="load img"/></div>
          <p>возможность пополнения депозита</p>
        </div>
        
        <div class="card">
          <div class="advantages-deposit__icon"><img src="/media/icons/calendar_seLaTlh.png" alt="load img"/></div>
          <p>автоматическая пролонгация депозита</p>
        </div>
        
      </div>
    </section>

    <section class="terms-deposit">
      <div class="company-values">
        <h2>Условия</h2>
        <ul class="new-list">
          
        </ul>
      </div>
    </section>

    <section class="ck-editor-box">
      <div class="container">
        <div class="money-transfer">
          <div class="ck-editor">
            
            <div class="table"><table border="1" cellpadding="5" style="width:100%; border: 1px solid #f3f3f3;border-top: none;">
	<tbody>
		<tr style="background: linear-gradient(90deg,#b1100e 0%,#dc0606 50%,#fd0001 100%); color: white;">
			<th style="height:40px; width:40%; text-align:left; padding-left: 10px; border: 1px solid white;"> </th>
			<th style="height:40px; width:30%; border: 1px solid white;">Салым</th>
			<th style="height:40px; width:30%; border: 1px solid white;">Салым Плюс</th>
		</tr>
		<tr>
			<td style="background: #f3f3f3; height:40px; padding-left: 10px; border: 1px solid white;">Мин. сумма вклада</td>
			<td style="background: #f3f3f3; height:40px; text-align:center; border: 1px solid white;" colspan="2">От 1000 сом // 20 долларов США</td>
		</tr>
		<tr>
			<td style="background: #f3f3f3; height:40px; padding-left: 10px; border: 1px solid white;">Срок</td>
			<td style="background: #f3f3f3; height:40px; text-align:center; border: 1px solid white;" colspan="2">От 3 до 36 месяцев</td>
		</tr>
		<tr>
			<td style="background: #f3f3f3; height:40px; padding-left: 10px; border: 1px solid white;">Выплата процентов</td>
			<td style="background: #f3f3f3; height:40px; text-align:center; border: 1px solid white;" colspan="2">Ежемесячно либо с другой периодичностью по выбору клиента;</td>
		</tr>
		<tr>
			<td style="background-color:#dddddd; height:40px; padding-left: 10px; border: 1px solid white;">Частично-досрочное изъятие</td>
			<td style="background-color:#dddddd; height:40px; text-align:center; border: 1px solid white;">Да</td>
			<td style="background-color:#dddddd; height:40px; text-align:center; border: 1px solid white;">Нет</td>
		</tr>
		<tr>
			<td style="background: #f3f3f3; height:40px; padding-left: 10px; border: 1px solid white;">Мин. сумма пополнения</td>
			<td style="background: #f3f3f3; height:40px; text-align:center; border: 1px solid white;" colspan="2">От 1000 сом // 20 долларов США</td>
		</tr>
		<tr>
			<td style="background: #dddddd; height:40px; padding-left: 10px; border: 1px solid white;">Капитализация</td>
			<td style="background: #dddddd; height:40px; text-align:center; border: 1px solid white;">Нет</td>
			<td style="background: #dddddd; height:40px; text-align:center; border: 1px solid white;">По заявлению клиента — ежеквартально</td>
		</tr>
		<tr>
			<td style="background-color:#dddddd; height:40px; padding-left: 10px; border: 1px solid white;">Пополнение</td>
			<td style="background-color:#dddddd; height:40px; text-align:center; border: 1px solid white;">Нет</td>
			<td style="background-color:#dddddd; height:40px; text-align:center; border: 1px solid white;">Да</td>
		</tr>
		<tr>
			<td style="background: #f3f3f3; height:40px; padding-left: 10px; border: 1px solid white;">Полное досрочное изъятие</td>
			<td style="background: #f3f3f3; height:40px; text-align:center; border: 1px solid white;" colspan="2">Досрочное закрытие депозита в течении 3-х месяцев с даты вложения депозита осуществляется без выплаты процентов, свыше трех месяцев выплачивается 50% от суммы начисленных процентов.</td>
		</tr>
	</tbody>
</table></div>
          </div>
        </div>
      </div>
    </section>

    <section class="how-get-credit">
      <div class="how-get-credit__block">
        <h2>Процентные ставки</h2>
        <div class="grid-column">
          
          <div class="item-grid">
            <div class="large-title">Валюта: сом</div>
            <div class="small-grid">
              
              <div class="item">
                <div class="thing-title">3-8 месяцев</div>
                <div class="red-title">15%</div>
              </div>
              
              <div class="item">
                <div class="thing-title">9-17 месяцев</div>
                <div class="red-title">18%</div>
              </div>
              
              <div class="item">
                <div class="thing-title">18-36 месяцев</div>
                <div class="red-title">16%</div>
              </div>
              
            </div>
          </div>
          
          <div class="item-grid">
            <div class="large-title">Валюта: доллар США</div>
            <div class="small-grid">
              
              <div class="item">
                <div class="thing-title">3-8 месяцев</div>
                <div class="red-title">3%</div>
              </div>
              
              <div class="item">
                <div class="thing-title">9-17 месяцев</div>
                <div class="red-title">5%</div>
              </div>
              
              <div class="item">
                <div class="thing-title">18-36 месяцев</div>
                <div class="red-title">7%</div>
              </div>
              
            </div>
          </div>
          
        </div>
        <br>
        <p></p>
      </div>
    </section>

  
    <section class="calculate-credit" id="credit-calc">
      <div class="calculate-credit__heading">
        <h2>Рассчитать депозит</h2>

      </div>
      <div class="calculate-credit__content">
        <form class="calculate-credit__left" action="">
          <div class="input-credit-all">
            <div class="input-slider-all">
              <div class="input-slider">
                <h4>Сумма депозита</h4>
                <div class="range-slider">
                  <div class="extra-controls">
                    <input class="js-input" v-model="sum" v-on:keyup="checkSum" type="number" value="0"/>
                  </div>
                  <input class="js-range-slider" type="number" value=""/>
                </div>
              </div>
              <div class="credit-select">
                <h4>Валюта</h4>
                <div class="select">
                  <div class="styledSelect"
                    v-bind:class="{active: currencySelectIsActive}"
                    @click="toggleCurrency"
                    >[[ selectedCurrency.name ]]
                  </div>
                  <ul class="options" v-bind:style="{display: displayCurrency}">
                    <a style="color: black"
                      v-for="currency in currencies"
                      v-on:click="selectCurrency(currency)"
                      v-bind:href="'?currency=' + currency.value"
                      ><li rel>[[ currency.name ]]</li>
                    </a>
                </ul>
                </div>
              </div>
            </div>

              <div class="input-slider-all">
                  <div class="input-slider">
                      <h4>Срок депозита</h4>
                      <div class="range-slider">
                          <div class="extra-controls">
                              <input class="js-input2" v-on:keyup="checkMonth" v-model="month" type="number" value="0"/>
                          </div>
                          <input class="js-range-slider2" type="number" value=""/>
                      </div>
                  </div>
                  <div class="credit-select">
                      <h4>Процентная ставка</h4>
                      <div class="select">
                          <div style="text-align: center; padding: 17px; font-size: medium; font-weight: bold; color: red" class="percent-user">
                                --
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div class="info-credit" style="color:red;
                 font-weight: bold;">[[ error_msg ]]</div>
          <div class="info-credit" style="color:red; font-weight: bold;">[[ error_msg_month ]]</div>
          <div class="info-credit">Данный расчет является предварительным, для точного расчета обратитесь к специалисту.</div>
          <div class="submit-applications">
            <button v-bind:disabled="isDisableButton" type="button" @click="calculate">Рассчитать</button>
            <button type="button" class="open-modal-credit" style="background: #ACACAC;">Оформить депозит</button>
          </div>
        </form>
        <div class="calculate-credit__right">
          <div class="credit-right-info">
            <div class="info">Итого</div>
          </div>
          <div class="flex-info">
            <div class="credit-right-info">
              <h4>Сумма депозита</h4>
              <div class="info">[[ sum ]]</div>
            </div>
            <div class="credit-right-info">
              <h4>Ежемес. доход</h4>
              <div class="info">[[ monthly_pay ]]</div>
            </div>
            <div class="credit-right-info">
              <h4>Срок депозита</h4>
              <div class="info">[[ month ]] мес.</div>
            </div>
            <div class="credit-right-info">
              <h4>Общий доход</h4>
              <div class="info">[[ total_sum ]]</div>
            </div>
          </div>
      <div class="submit-applications"><span class="open-detail-info">Показать детальную информацию</span></div>
        </div>
      </div>
  


      <div class="modal-detail-info">
          <div class="modal-content">
            <div>
              <div class="modal-content__inner">
                <h2>Детальная информация</h2>
                <div class="modal-close closeBut"></div>
                <table>
                  <thead>
                    <tr>
                      <td>Месяцы</td>
                      <td>Основная сумма </td>
                      <td>Ежемесяч. доход</td>
                      <td>Сумма</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="detail in details">
                      <td>[[ detail.month ]]</td>
                      <td>[[ sum ]]</td>
                      <td>[[ detail.monthly_payment ]]</td>
                      <td>[[ detail.difference ]]</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </section>

    
      <section class="bonds-tabs">
        
          <div class="bonds-tabs__block">
            <div class="tabs-button">Что такое депозит?</div>
            <div class="tabs-content"><p><strong>Депозит (вклад)&nbsp;</strong>&ndash; это сумма денежных средств в национальной и иностранной валюте, полученная Компанией от вкладчика на договорных условиях.&nbsp;</p></div>
          </div>
        
          <div class="bonds-tabs__block">
            <div class="tabs-button">Чем отличаются друг от друга депозитные продукты «Салым» и «Салым Плюс»?</div>
            <div class="tabs-content"><p>В депозитном продукте &laquo;Салым&raquo; есть возможность частичного изъятия, но нет возможности пополнения, а в депозитном продукте &laquo;Салым Плюс&raquo; есть возможность пополнения, но нет возможности частичного изъятия.</p></div>
          </div>
        
          <div class="bonds-tabs__block">
            <div class="tabs-button">Можете ли перечислением отправлять начисленные проценты?</div>
            <div class="tabs-content"><p>Да, в нашей Компании предусмотрено перечисление процентов и основной суммы вклада на расчетный счет вкладчика. Для этого необходимо оставить заявку на перечисление средств на расчетный счет с указанием реквизитов.</p></div>
          </div>
        
          <div class="bonds-tabs__block">
            <div class="tabs-button">Какова сумма гарантии возврата депозитов?</div>
            <div class="tabs-content"><p>Государством гарантируется выплата 200 000 сомов включая проценты по депозитам при наступлении гарантийного случая.&nbsp;<u><strong>Выплата гарантийной суммы в случае наступления гарантийного случая будет произведена в разовом порядке в сумме 200 000 сомов, независимо от количества депозитных счетов в нашей Компании.</strong></u></p></div>
          </div>
        
          <div class="bonds-tabs__block">
            <div class="tabs-button">Как быстро зачисляются средства на депозитный счет, если пополняем через платежные терминалы и мобильные банкинги?</div>
            <div class="tabs-content"><p>При пополнении средств после 17:00 часов через мобильные приложения и терминалы, зачисление средств в &laquo;Операционный день&raquo; Компании будет производиться следующим днем.<br />
До 17:00 часов зачисление средств в &laquo;Операционный день&raquo; Компании будет производиться текущим днем.</p></div>
          </div>
        
          <div class="bonds-tabs__block">
            <div class="tabs-button">Рассчитываю открыть вклад на 5 месяцев, как будете рассчитывать капитализацию?</div>
            <div class="tabs-content"><p>Вклад&nbsp;&laquo;Салым Плюс&raquo; можно открыть с ежеквартальной капитализацией сроки которых можно разделить на кварталы, соответственно вклады со сроками 4-5-7-8-10 не могут открываться с капитализацией.</p></div>
          </div>
        
          <div class="bonds-tabs__block">
            <div class="tabs-button">Если у вкладчика «Салым Плюс» возникла необходимость частичного изъятия, можно ли снять часть средств?</div>
            <div class="tabs-content"><p>Так как в депозитном продукте &laquo;Салым Плюс&raquo; нет возможности частичного изъятия, то можно закрыть действующий депозитный договор, снять необходимую сумму и на остаток заключить новый депозитный договор</p></div>
          </div>
        
          <div class="bonds-tabs__block">
            <div class="tabs-button">Сохраняются ли проценты при досрочном расторжении договора?</div>
            <div class="tabs-content"><p>Досрочное изъятие депозита до истечения 3-х месяцев &ndash; без выплаты процентов. После истечения 3-х месяцев &ndash; выплата 50 % от суммы начисленных процентов&nbsp;<strong><u>от изымаемой суммы.</u></strong></p></div>
          </div>
        
      </section>
    

    <section class="instruction">
      <div class="payment-method-section">
        <div class="calculate-credit__heading">
          <h2>Способы пополнения депозита</h2>
          <p>Инструкции</p>
        </div>
        <div class="card-all">
          
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/cbk_637beW3.png"/></div>
                      <h3>MBank Online</h3>
                    </div><a href="https://salymfinance.kg/media/cr-dep-cbk.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/elcart_QbzYxXf.png"/></div>
                      <h3>Elcart Mobile</h3>
                    </div><a href="https://salymfinance.kg/media/cr-dep-elcart.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/elsom_AjCsseY.png"/></div>
                      <h3>Elsom</h3>
                    </div><a href="https://salymfinance.kg/media/cr-dep-elsom.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/umai_2tts9la.png"/></div>
                      <h3>UMAI</h3>
                    </div><a href="https://salymfinance.kg/media/cr-dep-umai.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/balance_1B9K0BO.png"/></div>
                      <h3>Balance</h3>
                    </div><a href="http://salymfinance.kg/media/cr-dep-balance.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/quickpay_AE5swcR.png"/></div>
                      <h3>QuickPay</h3>
                    </div><a href="https://salymfinance.kg/media/cr-quickpay.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/kompanion_7e7zazS.png"/></div>
                      <h3>Компаньон</h3>
                    </div><a href="https://salymfinance.kg/media/cr-dep-Kompanion-full.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/finca-tree_5aJUEAX.jpg"/></div>
                      <h3>FINCA</h3>
                    </div><a href="https://salymfinance.kg/media/Finca.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/megapay_sqak9kC.png"/></div>
                      <h3>MegaPay</h3>
                    </div><a href="http://salymfinance.kg/media/cr-dep-megapay.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/odengi_bozTVP4.png"/></div>
                      <h3>О!Деньги</h3>
                    </div><a href="http://salymfinance.kg/media/cr-dep-o.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/onoi_geRtyB9.png"/></div>
                      <h3>Оңой</h3>
                    </div><a href="http://salymfinance.kg/media/cr-dep-onoi.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/keremet_JSQB7Px.png"/></div>
                      <h3>Керемет Банк</h3>
                    </div><a href="http://salymfinance.kg/media/cr-dep-keremet.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/DCB_Z8HjrFo.png"/></div>
                      <h3>Дос-КредоБанк</h3>
                    </div><a href="http://salymfinance.kg/media/cr-dep-dcb.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/optimabank_7gp8J0a.png"/></div>
                      <h3>Оптима Банк</h3>
                    </div><a href="http://salymfinance.kg/media/cr-dep-optima.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/Pay_24_bJmIqqK.png"/></div>
                      <h3>Pay24</h3>
                    </div><a href="http://salymfinance.kg/media/Pay_24.pdf"></a>
                  </div>
              
                  <div class="card-bank">
                    <div class="card-bank__description">
                      <div class="payment-method-icon"><img src="/media/rskbank_JB2gUjJ.png"/></div>
                      <h3>РСК Банк</h3>
                    </div><a href="http://salymfinance.kg/media/RSK_24.pdf"></a>
                  </div>
              
          
        </div>
      </div>
    </section>

    <section class="contact-us">
      <h2>Мы проконсультируем вас по телефону:</h2>
      <div class="card-all">
        
        <div class="card">
          <div class="contact-us__icon"><img src="/static/img/svg/tell.svg"/></div>
          <div class="contact-us__info">
            <h4>Консультация</h4><span>+996550781501</span>
          </div><a href="tel:+996550781501"></a>
        </div>
        

        
        <div class="card">
          <div class="contact-us__icon"><img src="/media/Vector_gj8dq6u.png"/></div>
          <div class="contact-us__info">
            <h4>WhatsApp</h4><span>Написать нам</span>
          </div><a href="https://api.whatsapp.com/send?phone=+996550781501"></a>
        </div>
        
      </div>
    </section>

  </div>

</main>


<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__content">
        <div class="footer-top_contact">
          
            <div class="contact-block">
              <h4>Приемная</h4>
              <ul>
                
                  <li><a href="tel:0 (312) 610 513">0 (312) 610 513</a></li>
                
                  <li><a href="tel:0 (550) 781 537">0 (550) 781 537</a></li>
                
              </ul>
            </div>
          
            <div class="contact-block">
              <h4>По вопросам кредитования и депозитов</h4>
              <ul>
                
                  <li><a href="tel:0 (555) 781 556">0 (555) 781 556</a></li>
                
                  <li><a href="tel:0 (700) 781 556">0 (700) 781 556</a></li>
                
                  <li><a href="tel:0 (777) 781 556">0 (777) 781 556</a></li>
                
              </ul>
            </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="footer-center">
    <div class="container">
      <div class="footer-center__content">
        <div class="footer-center__block">
          <h4>Кредиты</h4>
          <ul>
            <li><a href="/ru/credit/">Все кредиты</a></li>
            
              <li><a href="/ru/credit/ipoteka">Ипотека</a></li>
            
              <li><a href="/ru/credit/credit-za-chas">Кредит за час</a></li>
            
              <li><a href="/ru/credit/credit-na-obrazovanie">Кредит на образование</a></li>
            
              <li><a href="/ru/credit/teplo-i-comfort">Кредит &quot;Тепло и Комфорт&quot;</a></li>
            
              <li><a href="/ru/credit/potrebitelskij-kredit">Потребительский кредит</a></li>
            
              <li><a href="/ru/credit/agrocredit">Агрокредит</a></li>
            
              <li><a href="/ru/credit/stroitelstvo-i-remont">Кредит &quot;Строительство и ремонт&quot;</a></li>
            
              <li><a href="/ru/credit/business-credit">На развитие бизнеса</a></li>
            
              <li><a href="/ru/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
            
              <li><a href="/ru/credit/credit-na-refinansirovanie">Кредит на рефинансирование</a></li>
            
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>О компании</h4>
          <ul>
            <li><a href="/ru/about/company/">О нас</a></li>
            <li><a href="/ru/about/partners/">Партнеры</a></li>
            <li><a href="/ru/about/shareholders/">Акционеры</a></li>
            <li><a href="/ru/about/social/">Социальная ответственность</a></li>

            <li><a href="/ru/about/license/">Лицензии</a></li>
            <li><a href="/ru/report/">Отчетность</a></li>
            <li><a href="/ru/contacts/">Контакты</a></li>
            <li><a href="/ru/about/vacancy-list/">Вакансии</a></li>
            <li><a href="/ru/about/news/">Новости</a></li>
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>Ценные бумаги</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/ru/bonds/">Облигации</a></li>
              <li><a href="/ru/shares/">Акции</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-center__block">
          <h4>Реквизиты</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/ru/branch-network/?filter=all">Филиальная сеть</a></li>
              <li><a href="/ru/about/payment-methods/">Способы погашения кредита</a></li>
              <li><a href="/ru/about/deposit/payment-methods/">Способы пополнения депозита</a></li>
              <li><a href="/ru/bank-details/">Реквизиты оплаты кредита</a></li>
              <li><a href="/ru/bank-details/requisite/">Реквизиты пополнения депозита</a></li>
            </ul>
            <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/">Instagram</a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/">Facebook</a>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__content"><span>ОАО МФК &quot;Салым Финанс&quot; © 2007-2022</span>
        
          <a href="https://salymfinance.kg/media/Prosedure_for_consideration_applications_RU.pdf" target="_blank"><span>Процедура рассмотрения обращения потребителей</span></a>
        
        <a class="mitap" href="https://mitapp.pro/ru/">Сделано в MITAPP</a>

      </div>
    </div>
  </div>
</footer>

<script src="https://livechatv2.chat2desk.com/packs/ie-11-support.js"></script>

<script>
  window.chat24_token = "1d5e59d45f967ae224fbec78e1680a67";
  window.chat24_url = "https://livechatv2.chat2desk.com";
  window.chat24_socket_url ="wss://livechatv2.chat2desk.com/widget_ws_new";
  window.chat24_show_new_wysiwyg = "true";
  window.chat24_static_files_domain = "https://storage.chat2desk.com/";
  window.lang = "ru";
  window.fetch("".concat(window.chat24_url, "/packs/manifest.json?nocache=").concat(new Date().getTime())).then(function (res) {
    return res.json();
  }).then(function (data) {
    var chat24 = document.createElement("script");
    chat24.type = "text/javascript";
    chat24.async = true;
    chat24.src = "".concat(window.chat24_url).concat(data["application.js"]);
    document.body.appendChild(chat24);
  });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/vue/common.js"></script>
<script src="/static/js/libs.js"></script>
<script src="/static/libs/owl-carousel2/owl-carousel2.js"></script>
<script src="/static/libs/range-slider/ion.rangeSlider.min.js"></script>
<script src="/static/js/main.js"></script>

<script>
    $(document).ready(function () {
        $(".main-owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            nav: true,
            navContainerClass: 'owl-nav',

        });

    });
</script>
<script>
    function hideModal() {
        let elem = document.getElementById('finishmodal');
        elem.style.opacity = 0;
        elem.style.visibility = 'hidden';
    }
</script>

<script>
    const DEPOSITS = [];
    
      DEPOSITS.push(
          {
            'id': 1,
            'name': 'Депозиты &quot;Салым&quot; и &quot;Салым Плюс&quot;'
          }
      )
    
    const RATES_KGS = []
    const RATES_USD = []
    const CURRENCIES = []
    const PERCENTS = []

    const REQUEST_PATH = '/ru/deposit/deposit-salym/'
    
        RATES_KGS.push({
                'id': 1,
                'credit_sum_from': '1000',
                'credit_sum_to': '10000000',
                'duration_from': '3',
                'duration_to': '8',
                'rate': '15,00',
            })
    
        RATES_KGS.push({
                'id': 2,
                'credit_sum_from': '1000',
                'credit_sum_to': '10000000',
                'duration_from': '9',
                'duration_to': '17',
                'rate': '18,00',
            })
    
        RATES_KGS.push({
                'id': 3,
                'credit_sum_from': '1000',
                'credit_sum_to': '10000000',
                'duration_from': '18',
                'duration_to': '36',
                'rate': '16,00',
            })
    
    
        
            PERCENTS.push({
                    'currency': 'сом',
                    'title': '3-8 месяцев',
                    'percent': '15%',
            })
        
            PERCENTS.push({
                    'currency': 'сом',
                    'title': '9-17 месяцев',
                    'percent': '18%',
            })
        
            PERCENTS.push({
                    'currency': 'сом',
                    'title': '18-36 месяцев',
                    'percent': '16%',
            })
        
    
        
            PERCENTS.push({
                    'currency': 'доллар США',
                    'title': '3-8 месяцев',
                    'percent': '3%',
            })
        
            PERCENTS.push({
                    'currency': 'доллар США',
                    'title': '9-17 месяцев',
                    'percent': '5%',
            })
        
            PERCENTS.push({
                    'currency': 'доллар США',
                    'title': '18-36 месяцев',
                    'percent': '7%',
            })
        
    

    
    
        RATES_USD.push({
                'id': 1,
                'credit_sum_from': '20',
                'credit_sum_to': '100000',
                'duration_from': '3',
                'duration_to': '8',
                'rate': '3,00',
            })
    
        RATES_USD.push({
                'id': 2,
                'credit_sum_from': '20',
                'credit_sum_to': '100000',
                'duration_from': '9',
                'duration_to': '17',
                'rate': '5,00',
            })
    
        RATES_USD.push({
                'id': 3,
                'credit_sum_from': '20',
                'credit_sum_to': '10000',
                'duration_from': '18',
                'duration_to': '36',
                'rate': '7,00',
            })
    
    

    
        CURRENCIES.push({name: 'Сом', value: 'KGS'})
    
    
        CURRENCIES.push({name: 'Доллар', value: 'USD'})
    

    let SUM_MIN = null
    let SUM_MAX = null
    let DATE_MIN = null
    let DATE_MAX = null

    let currency = 'KGS'
    console.log(currency)
    if (currency === 'USD') {
        SUM_MIN = 20
        DATE_MIN = 3
        SUM_MAX = 10000000
        DATE_MAX = 36
    } else {
        SUM_MIN = 1000
        DATE_MIN = 3
        SUM_MAX = 10000000
        DATE_MAX = 36
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/static/js/vue/deposit.js"></script>

<script>
  $(document).ready(function () {
      var $range = $(".js-range-slider3"),
          $input = $(".js-input3"),
          instance,
          min = 1000,
          max = 1000000;

      $range.ionRangeSlider({
          skin: "big",
          min: min,
          max: max,
          step: 1000,
          hide_min_max: true,
          hide_from_to: true,
          onStart: function (data) {
              $input.prop("value", data.from);
              deposit.sum = data.from
          },
          onChange: function (data) {
              $input.prop("value", data.from);
              deposit.sum = data.from
          }
      });

      instance = $range.data("ionRangeSlider");

      $input.on("change keyup", function () {
          var val = $(this).prop("value");

          if (val < min) {
              val = min;
          } else if (val > max) {
              val = max;
          }

          instance.update({
              from: val
          });
      });

  });
</script>

<script>
  $(document).ready(function () {

      $('.accordion').accordion({
          "transitionSpeed": 400
      });


      $(".credit-owl-carousel").owlCarousel({
          items: 1,
          loop: true,
          nav: true,
          margin: 32,
          navContainerClass: 'container owl-nav',
          responsive: {
              960: {
                  items: 2
              }
          }
      });

  });

  $(document).ready(function () {
      var $range = $(".js-range-slider"),
          $input = $(".js-input"),
          instance
          if (currency === 'USD') {
              min = 20
              max = 10000000
          }
          else {
              min = 1000
              max = 10000000
          }

      $range.ionRangeSlider({
          skin: "big",
          min: min,
          max: max,
          step: 1000,
          hide_min_max: true,
          hide_from_to: true,
          onStart: function (data) {
              $input.prop("value", data.from);
          },
          onChange: function (data) {
              $input.prop("value", data.from);
              app.changeSum(data.from);
          }
      });

      instance = $range.data("ionRangeSlider");

      $input.on("change keyup", function () {
          var val = $(this).prop("value");

          if (val < min) {
              val = min;
          } else if (val > max) {
              val = max;
          }

          instance.update({
              from: val
          });
      });

  });
  $(document).ready(function () {
      var $range = $(".js-range-slider2"),
          $input = $(".js-input2"),
          $percentUser = $(".percent-user"),
          instance

      const somCurrency = PERCENTS.filter(item => item.currency === 'сом').map(item => item.title.split(' ')[0]).map(item => item.split('-'))
      const somPercent = PERCENTS.filter(item => item.currency === 'сом').map(item => item.percent)
      const usdCurrency = PERCENTS.filter(item => item.currency !== 'сом').map(item => item.title.split(' ')[0]).map(item => item.split('-'))
      const usdPercent = PERCENTS.filter(item => item.currency !== 'сом').map(item => item.percent)

      if(currency === 'USD'){
          $percentUser[0].innerText = usdPercent[0]
      }

      if(currency === 'KGS'){
          $percentUser[0].innerText = somPercent[0]
      }

          if (currency === 'USD') {
              min = 3
              max = 36
          }
          else {
              min = 3
              max = 36
          }

      $range.ionRangeSlider({
          skin: "big",
          min: min,
          max: max,
          step: 1,
          hide_min_max: true,
          hide_from_to: true,
          onStart: function (data) {
              $input.prop("value", data.from);
          },
          onChange: function (data) {
              $input.prop("value", data.from);
              app.changeMonth(data.from)

              if(currency === 'USD'){
                  usdCurrency.forEach((item, index) => {
                    if(item[0] <= data.from && item[1] >= data.from){
                        $percentUser[0].innerText = usdPercent[index]
                    }
                  })
              }else if(currency === 'KGS'){
                    somCurrency.forEach((item, index) => {
                        if(item[0] <= data.from && item[1] >= data.from){
                            $percentUser[0].innerText = somPercent[index]
                        }
                    })
              }

          }
      });

      instance = $range.data("ionRangeSlider");

      $input.on("change keyup", function () {
          var val = $(this).prop("value");



          if(currency === 'USD'){
              usdCurrency.forEach((item, index) => {
                if(item[0] <= +val && item[1] >= +val){
                    $percentUser[0].innerText = usdPercent[index]
                }
              })
          }else if(currency === 'KGS'){
                somCurrency.forEach((item, index) => {
                    if(item[0] <= +val && item[1] >= +val){
                        $percentUser[0].innerText = somPercent[index]
                    }
                })
          }

          if (val < min) {
              val = min;
          } else if (val > max) {
              val = max;
          }

          instance.update({
              from: val
          });
      });

  });

  $(document).ready(function () {
      $(".but-link").on("click", function (event) {
          event.preventDefault();
          var id = $(this).attr('href'),
              top = $(id).offset().top;
          $('body,html').animate({scrollTop: top}, 1500);
      });
  });
</script>

<script>
  function openModal() {
      let el = document.getElementById('credit_modal');
      el.classList.add('show')
  }
</script>
<script>
      $(document).ready(function () {
          $(".main-owl-carousel").owlCarousel({
              items: 1,
              loop: true,
              nav: true,
              navContainerClass: ' owl-nav'
          });

          $(".bonds-tabs__block .tabs-button").click(function () {
              $(this).siblings(".tabs-content").slideToggle()
          })

      });
</script>

</body>
</html>