{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLBY00H8E3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GLBY00H8E3');
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(71709628, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
       });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/71709628" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '599827717918759');
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=599827717918759&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
<!-- /Yandex.Metrika counter -->
  <meta name="facebook-domain-verification" content="ok6b4dhnmdy33bx7n8kq1dldvbhrhi" />
  <meta charset="UTF-8"/>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:title" content=""/>
  <meta property="og:image"
        content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content=""/>
  <meta name="author" content="MITAPP"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="theme-color" content="#ffffff"/>
  <link rel="shortcut icon" href="{% static 'img/svg/icon.svg' %}"/>
  <link rel="stylesheet" href="{% static 'fonts/Montserrat/stylesheet.css' %}"/>
  <link rel="stylesheet" href="{% static 'libs/owl-carousel2/owl-carousel2.css' %}"/>
  <link rel="stylesheet" href="{% static 'libs/range-slider/ion.rangeSlider.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

  <title>Главная - МКК ИслаМиКо Финанс</title>

</head>
<body >
<style>
  .loan-purchase .guarantee-advantages .guarantee-card {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
  .navigation ul {
    margin-right: 20px;
}
</style>
<header class="header">
  <div class="header-desktop">
    <div class="nav-top">
      <div class="container">
        <div class="nav-top__content">
          <div class="nav-top-left">
{#            <a href="/ru/"><div class="logo"><img src="{% static 'img/jpg/logo.png' %}" alt="load img"/></div></a>#}
            <a href="/ru/"><div class="logo"><h2>LOGOTIP</h2></div></a>

            <div class="lang">
                <div class="lang-but open-dropdown">

                  <a class="ru">Русский</a>

                </div>
                <div class="lang-but__content content-dropdown">


                  <a class="active">

                    <a class="active">Русский</a>

                  <a class=""href="/kg/">

                    <a href="/kg/">Кыргызча</a>

                  <a class=""href="/templates/en/">

                    <a href="/templates/en/">English</a>


                </div>
            </div>
          </div>
          <div class="nav-top-right">
            <div class="header-tel">
              <div class="tel-but open-dropdown"><a>0 (555) 781 556</a></div>
              <div id="phone-dropdown" class="tel-but__content content-dropdown">

                  <a href="tel:0 (555) 781 556">0 (555) 781 556</a><br>

                  <a href="tel:0 (700) 781 556">0 (700) 781 556</a><br>

                  <a href="tel:0 (777) 781 556">0 (777) 781 556</a><br>

              </div>
            </div>
          <div class="social-link-all">
          <a class="whatsapp" href="https://www.instagram.com/salymfinancekg/"></a>
          <a class="insta" href="https://www.instagram.com/salymfinancekg/"></a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/"></a>
        </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-bottom">
      <div class="container">
        <div class="nav-bottom__content">
          <div class="navigation">
            <ul>

<li><a href="/static">Главная</a></li>
<li><a href="/about_us" >О нас</a></li>
<li><a href="/financing_list">Финансирования</a></li>
<li><a  href="/partners">Партнеры</a></li>
<li><a  href="/sharia_board">Шариатский совет</a></li>
<li><a  href="/news_list">Новости</a></li>
<li><a  href="/ru/contacts/">Контакты</a></li>

            </ul>
          </div>
          <div class="header-search"><a href="/ru/search/"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-mobile">
    <div class="header-mobile__top">
      <div class="menu-hamburger">
        <div class="menu-hamburger__icon">
          <div class="icon-hamburger"><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <div class="logo"><a href="/ru/"><img src="/img/svg/logo.svg" alt="load img"/></a></div>
      <div class="header-search"><a href="/ru/search/"></a></div>
    </div>
    </div>
</header>

<main class="news-detail">
  <div class="crumb">
    <div class="container">
      <div class="crumb-content"><a href="/static">Главная</a><a href="/news_list">Новости</a><a href="#">Открытие представительства в г. Талас</a></div>
    </div>
  </div>
  <div class="container">
    <section class="news-detail-content">
      
      <div class="content-ck-editor">
        <div class="date">21 июня 2021 г.</div>
        <h1>Открытие представительства в г. Талас</h1>
            <div class="ck-editor">
              <p><span style="font-size:14px">Рады объявить об открытии представительства</span></p>

<p><span style="font-size:14px">МФК &laquo;Салым Финанс&raquo; в г.Талас!</span></p>

<p><span style="font-size:14px">Теперь и жители Таласа могут&nbsp;&nbsp;получить консультацию по следующим услугам:</span></p>

<div class="custom_marker">
<p>&nbsp;</p>

<p><span style="font-size:14px">-Депозиты;</span></p>

<p><span style="font-size:14px">-Кредиты;</span></p>

<p><span style="font-size:14px">-Банковские гарантии.</span></p>

<p>&nbsp;</p>
</div>

<p><span style="font-size:14px">Первых 20 клиентов отделения ждут приятные подарки!</span></p>

<p><span style="font-size:14px">Будем рады видеть вас в числе наших новых клиентов в г.Талас!</span></p>

<p><span style="font-size:14px">Адрес: Сарыгулова, 59а</span></p>

<p><span style="font-size:14px">Режим работы: 8: 30-16: 30<br />
Телефон: +996 555 781506<br />
Суббота: 9: 00-13: 00<br />
Воскресенье: нерабочий день.</span></p>
            </div>
        
          <iframe width="100%" height="450" src="https://www.youtube.com/embed/S_94SP02qyg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        
        <div class="share">
            <span>Поделиться</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=salymfinance.kg/ru/about/news/otkrytie-predstavitelstva-v-g-talas/"><img src="/img/svg/soc1.svg"/></a>
            <a href="https://vk.com/share.php?title=Открытие представительства в г. Талас&url=salymfinance.kg/ru/about/news/otkrytie-predstavitelstva-v-g-talas/"><img src="/img/svg/soc2.svg"/></a>
            <a href="https://twitter.com/intent/tweet?text=Открытие представительства в г. Талас&url=salymfinance.kg/ru/about/news/otkrytie-predstavitelstva-v-g-talas/"><img src="/img/svg/soc3.svg"/></a>
            <a href="https://t.me/share/url?url=salymfinance.kg/ru/about/news/otkrytie-predstavitelstva-v-g-talas/&text=Открытие представительства в г. Талас"><img src="/img/svg/soc4.svg"/></a>
        </div>
      </div>
    </section>
  </div>
</main>

<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__content">
        <div class="footer-top_contact">

            <div class="contact-block">
              <h4>Приемная</h4>
              <ul>

                  <li><a href="tel:0 (312) 610 513">0 (312) 610 513</a></li>

                  <li><a href="tel:0 (550) 781 537">0 (550) 781 537</a></li>

              </ul>
            </div>

            <div class="contact-block">
              <h4>По вопросам кредитования и депозитов</h4>
              <ul>

                  <li><a href="tel:0 (555) 781 556">0 (555) 781 556</a></li>

                  <li><a href="tel:0 (700) 781 556">0 (700) 781 556</a></li>

                  <li><a href="tel:0 (777) 781 556">0 (777) 781 556</a></li>

              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-center">
    <div class="container">
      <div class="footer-center__content">
        <div class="footer-center__block">
          <h4>Кредиты</h4>
          <ul>
            <li><a href="/ru/credit/">Все кредиты</a></li>
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>О компании</h4>
          <ul>
            <li><a href="/ru/about/company/">О нас</a></li>
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>Ценные бумаги</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/ru/bonds/">Облигации</a></li>
              <li><a href="/ru/shares/">Акции</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-center__block">
          <h4>Реквизиты</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/ru/branch-network/?filter=all">Филиальная сеть</a></li>
            </ul>
            <div class="social-link-all">
          <a class="whatsapp" href="https://www.instagram.com/salymfinancekg/">Whatsapp</a>
          <a class="insta" href="https://www.instagram.com/salymfinancekg/">Instagram</a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/">Facebook</a>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__content"><span>ОАО МФК &quot;Салым Финанс&quot; © 2007-2022</span>

          <a href="https://salymfinance.kg/media/Prosedure_for_consideration_applications_RU.pdf" target="_blank"><span>Процедура рассмотрения обращения потребителей</span></a>

        <a class="mitap" href="https://mitapp.pro/ru/">Сделано в MITAPP</a>

      </div>
    </div>
  </div>
</footer>

<script src="https://livechatv2.chat2desk.com/packs/ie-11-support.js"></script>

<script>
  window.chat24_token = "1d5e59d45f967ae224fbec78e1680a67";
  window.chat24_url = "https://livechatv2.chat2desk.com";
  window.chat24_socket_url ="wss://livechatv2.chat2desk.com/widget_ws_new";
  window.chat24_show_new_wysiwyg = "true";
  window.chat24_static_files_domain = "https://storage.chat2desk.com/";
  window.lang = "ru";
  window.fetch("".concat(window.chat24_url, "/packs/manifest.json?nocache=").concat(new Date().getTime())).then(function (res) {
    return res.json();
  }).then(function (data) {
    var chat24 = document.createElement("script");
    chat24.type = "text/javascript";
    chat24.async = true;
    chat24.src = "".concat(window.chat24_url).concat(data["application.js"]);
    document.body.appendChild(chat24);
  });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/vue/common.js' %}"></script>
<script src="{% static 'js/libs.js' %}"></script>
<script src="{% static 'libs/owl-carousel2/owl-carousel2.js' %}"></script>
<script src="{% static 'libs/range-slider/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
    $(document).ready(function () {
        $(".main-owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            nav: true,
            navContainerClass: 'owl-nav',

        });

    });
</script>
<script>
    function hideModal() {
        let elem = document.getElementById('finishmodal');
        elem.style.opacity = 0;
        elem.style.visibility = 'hidden';
    }
</script>

<script>
    grecaptcha.ready(function () {
        $('#indexForm').submit(function (e) {
            var form = this;
            e.preventDefault()
            grecaptcha.execute('6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd', {action: 'indexForm'}).then(function (token) {
                $('#recaptcha').val(token)
                form.submit()
            });
        })
    });
</script>
<script>
function load_nbkr() {
  $.ajax({
        url: '/ru/get_nbkr',
        method: 'get',
        success: function (data) {
            $('#nbkr_usd').text(data.usd)
            $('#nbkr_eur').text(data.eur)
            $('#nbkr_rub').text(data.rub)
            $('#nbkr_kzt').text(data.kzt)
        },
        error: function (request, errorThrown, errorObject) {
            console.log(errorObject);
        }
    });
}
load_nbkr()
</script>
<script>
      $('#selector-gallery').lightGallery({
          selector: '.card'
      });
      $(document).ready(function () {
          $(".main-owl-carousel").owlCarousel({
              items: 1,
              loop: true,
              nav: true,
              navContainerClass: 'owl-nav',

          });

      });
      $(document).ready(function () {
          var $range = $(".js-range-slider"),
              $input = $(".js-input"),
              instance,
              min = 1000,
              max = 100000;

          $range.ionRangeSlider({
              skin: "big",
              min: min,
              max: max,
              step: 1000,
              hide_min_max: true,
              hide_from_to: true,
              onStart: function (data) {
                  $input.prop("value", data.from);
              },
              onChange: function (data) {
                  $input.prop("value", data.from);
              }
          });

          instance = $range.data("ionRangeSlider");

          $input.on("change keyup", function () {
              var val = $(this).prop("value");

              if (val < min) {
                  val = min;
              } else if (val > max) {
                  val = max;
              }

              instance.update({
                  from: val
              });
          });

      });
      $(document).ready(function () {
          var $range = $(".js-range-slider2"),
              $input = $(".js-input2"),
              instance,
              min = 1,
              max = 36;

          $range.ionRangeSlider({
              skin: "big",
              min: min,
              max: max,
              step: 1,
              hide_min_max: true,
              hide_from_to: true,
              onStart: function (data) {
                  $input.prop("value", data.from);
              },
              onChange: function (data) {
                  $input.prop("value", data.from);
              }
          });

          instance = $range.data("ionRangeSlider");

          $input.on("change keyup", function () {
              var val = $(this).prop("value");

              if (val < min) {
                  val = min;
              } else if (val > max) {
                  val = max;
              }

              instance.update({
                  from: val
              });
          });

      });
    </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="{% static 'js/vue/form_controller.js' %}"></script>

</body>
</html>