{% extends 'base.html' %}
{% load static %}
{% block body %}

<main class="news-detail">
  <div class="crumb">
    <div class="container">
      <div class="crumb-content"><a href="/static">Главная</a><a href="/news_list">Новости</a><a href="#">{{news_detail.title}}</a></div>
    </div>
  </div>
  <div class="container">
    <section class="news-detail-content">
      
      <div class="content-ck-editor">
        <div class="date">{{ news_detail.created_at }}</div>
        <h1>{{ news_detail.title }}</h1>
            <div class="ck-editor">
              <p>{{news_detail.text|safe}}</p>
            </div>

{#          <iframe width="100%" height="450" src="https://www.youtube.com/embed/S_94SP02qyg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>#}
          <div class="banner-img"><img src="{{news_detail.image.url}}" alt="load img" style="height: 480px">
      </div>
    </section>
  </div>
</main>

{% endblock body %}