<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLBY00H8E3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GLBY00H8E3');
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(71709628, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
       });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/71709628" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '599827717918759');
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=599827717918759&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
<!-- /Yandex.Metrika counter -->
  <meta name="facebook-domain-verification" content="ok6b4dhnmdy33bx7n8kq1dldvbhrhi" />
  <meta charset="UTF-8"/>
  <meta name="description" content="None">
  <meta name="keywords" content="None">
  <meta property="og:title" content="None"/>
  <meta property="og:image"
        content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content="https://salymfinance.kg/en/shares/"/>
  <meta name="author" content="MITAPP"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="theme-color" content="#ffffff"/>
  <link rel="shortcut icon" href="/img/svg/icon.svg"/>
  <link rel="stylesheet" href="/fonts/Montserrat/stylesheet.css"/>
  <link rel="stylesheet" href="/libs/owl-carousel2/owl-carousel2.css"/>
  <link rel="stylesheet" href="/libs/range-slider/ion.rangeSlider.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
  
  
  <title>Shares - MFC "Salym Finance"</title>





</head>
<body >
<style>
  .loan-purchase .guarantee-advantages .guarantee-card {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
  .navigation ul {
    margin-right: 20px;
}
</style>
<header class="header">
  <div class="header-desktop">
    <div class="nav-top">
      <div class="container">
        <div class="nav-top__content">
          <div class="nav-top-left">
            <a href="/templates/enmplates/en"><div class="logo"><img src="/img/svg/logo.svg" alt="load img"/></div></a>


            <div class="lang">
              <div class="lang-but open-dropdown">
                
                  <a class="en">English</a>
                
              </div>
              <div class="lang-but__content content-dropdown">
                
                  
                  <a class=""href="/ru/shares">
                  
                    <a href="/ru/shares">Русский</a>
                  
                
                  
                  <a class=""href="/kg/shares">
                  
                    <a href="/kg/shares">Кыргызча</a>
                  
                
                  
                  <a class="active">
                  
                    <a class="active">English</a>
                  
                
              </div>
            </div>
          </div>
          <div class="nav-top-right">
            <div class="header-tel">
              <div class="tel-but open-dropdown"><a>0 (555) 781 556</a></div>
              <div id="phone-dropdown" class="tel-but__content content-dropdown">
                
                  <a href="tel:0 (555) 781 556">0 (555) 781 556</a><br>
                
                  <a href="tel:0 (700) 781 556">0 (700) 781 556</a><br>
                
                  <a href="tel:0 (777) 781 556">0 (777) 781 556</a><br>
                
              </div>
            </div>
            <div class="header-local"><a class="ru" href="/templates/enmplates/en/branch-network?filter=all">Branches</a></div>
            <div class="dropdown">
              <div class="title">Обратная связь<span class="icon"></span></div>
              <div class="drop-content">
                
                  <a class="item" href="https://salymfinance.kg/contacts/">Обратная связь</a>
                
              </div>
            </div>
          <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/"></a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/"></a>
        </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-bottom">
      <div class="container">
        <div class="nav-bottom__content">
          <div class="navigation">
            <ul>
              
                


<li><a href="/templates/enmplates/en">Home</a></li>
<li class="dropdown"><a >About company</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/templates/enmplates/en/about/company">About us</a></li>
            <li><a href="/templates/enmplates/en/about/partners">Partners</a></li>
            <li><a href="/templates/enmplates/en/about/shareholders">Shareholders</a></li>
          </ul>
          <ul>
            <li><a href="/templates/enmplates/en/about/social">Social Responsibility</a></li>
            <li><a href="/templates/enmplates/en/about/license">Licenses</a></li>
            <li><a href="/templates/enmplates/en/about/vacancy-list">Vacancies</a></li>
          </ul>
          <ul>
            <li><a href="/templates/enmplates/en/about/news">News</a></li>
            <li><a href="/templates/enmplates/en/report">Reports</a></li>
          </ul>
          <ul>
          </ul>
        </div>
      </div>
    </div>
</li>
<li class="dropdown"><a >Loans</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/templates/enmplates/en/credit">All loans</a></li>
          </ul>
          <ul>
            
            <li><a href="/templates/en/credit/ipoteka">Mortgage</a></li>
            
            
            <li><a href="/templates/en/credit/credit-za-chas">Credit per hour</a></li>
            
            
            <li><a href="/templates/en/credit/credit-na-obrazovanie">Education loan</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/templates/en/credit/teplo-i-comfort">Credit &quot;Heat and comfort&quot;</a></li>
            
            
            <li><a href="/templates/en/credit/potrebitelskij-kredit">Consumer credit</a></li>
            
            
            <li><a href="/templates/en/credit/agrocredit">Agrocredit</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/templates/en/credit/stroitelstvo-i-remont">Credit &quot;Construction and repair&quot;</a></li>
            
            
            <li><a href="/templates/en/credit/business-credit">For business development</a></li>
            
            
            <li><a href="/templates/en/credit/Business-Mortgage">Business-Mortgage</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/templates/en/credit/credit-na-refinansirovanie">Refinancing loan</a></li>
            
            
          
        </div>
      </div>
    </div>
</li>





















<li><a  href="/templates/enmplates/en/deposit/deposit-salym">Deposits</a></li>

<li><a  href="/templates/enmplates/en/money-transfer">Money transfer</a></li>
<li><a  href="/templates/enmplates/en/guarantee">Guarantees</a></li>
<li class="dropdown"><a class="active">Stocks</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
              <li><a href="/templates/enmplates/en/shares">Shares</a></li>
              <li><a href="/templates/enmplates/en/bonds">Bonds</a></li>
          </ul>
        </div>
      </div>
    </div>
</li>



<li><a  href="/templates/enmplates/en/payment-methods">Payment methods</a></li>
<li><a  href="/templates/enmplates/en/contacts">Contacts</a></li>
              
            </ul>
          </div>
          <div class="header-search"><a href="/templates/enmplates/en/search"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-mobile">
    <div class="header-mobile__top">
      <div class="menu-hamburger">
        <div class="menu-hamburger__icon">
          <div class="icon-hamburger"><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <div class="logo"><a href="/templates/enmplates/en"><img src="/img/svg/logo.svg" alt="load img"/></a></div>
      <div class="header-search"><a href="/templates/enmplates/en/search"></a></div>
    </div>
    <div class="header-mobile-menu">
      <div class="navigation">
        <ul>
          

<li><a href="/templates/enmplates/en">Home</a></li>
<li class="dropdown"><a href="#">Loans</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/templates/enmplates/en/credit">Loans</a></li>
        
        <li><a href="/templates/en/credit/ipoteka">Mortgage</a></li>
        
        <li><a href="/templates/en/credit/credit-za-chas">Credit per hour</a></li>
        
        <li><a href="/templates/en/credit/credit-na-obrazovanie">Education loan</a></li>
        
        <li><a href="/templates/en/credit/teplo-i-comfort">Credit &quot;Heat and comfort&quot;</a></li>
        
        <li><a href="/templates/en/credit/potrebitelskij-kredit">Consumer credit</a></li>
        
        <li><a href="/templates/en/credit/agrocredit">Agrocredit</a></li>
        
        <li><a href="/templates/en/credit/stroitelstvo-i-remont">Credit &quot;Construction and repair&quot;</a></li>
        
        <li><a href="/templates/en/credit/business-credit">For business development</a></li>
        
        <li><a href="/templates/en/credit/Business-Mortgage">Business-Mortgage</a></li>
        
        <li><a href="/templates/en/credit/credit-na-refinansirovanie">Refinancing loan</a></li>
        
      </ul>
    </div>
</li>











<li><a href="/templates/enmplates/en/deposit/deposit-salym">Deposits</a></li>


<li><a href="/templates/enmplates/en/money-transfer">Money transfer</a></li>
<li><a href="/templates/enmplates/en/guarantee">Guarantees</a></li>
<li class="dropdown"><a href="#">Stocks</a>
    <div class="drop-down-hover">
      <ul>
          <li><a href="/templates/enmplates/en/shares">Shares</a></li>
          <li><a href="/templates/enmplates/en/bonds">Bonds</a></li>
      </ul>
    </div>
</li>

<li class="dropdown"><a href="#">About us</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/templates/enmplates/en/about/company">About company</a></li>
        <li><a href="/templates/enmplates/en/about/partners">Partners</a></li>
        <li><a href="/templates/enmplates/en/about/shareholders">Shareholders</a></li>
        <li><a href="/templates/enmplates/en/about/social">Social Responsibility</a></li>

        <li><a href="/templates/enmplates/en/about/license">Licenses</a></li>
        <li><a href="/templates/enmplates/en/about/vacancy-list">Vacancies</a></li>
        <li><a href="/templates/enmplates/en/about/news">News</a></li>

        <li><a href="/templates/enmplates/en/report">Reports</a></li>
      </ul>
    </div>
</li>

<li><a  href="/templates/enmplates/en/payment-methods">Payment methods</a></li>
<li><a href="/templates/enmplates/en/contacts">Contacts</a></li>
        </ul>
      </div>
      <div class="lang">
        <div class="lang-but">
          <div class="dropdown">
            
              <a class="en">English</a>
            
            <div class="drop-content">
              
                
                
                  <a href="/ru/shares">Русский</a>
                
              
                
                
                  <a href="/kg/shares">Кыргызча</a>
                
              
                
                
                  <a >English</a>
                
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-tel">
        <div class="tel-but">
          <div class="dropdown"><a>0 (555) 781 556</a>
            <div class="drop-content">
              <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (700) 781 556">0 (700) 781 556</a>
              
                <a href="tel:0 (777) 781 556">0 (777) 781 556</a>
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-local"><a class="ru" href="/templates/enmplates/en/branch-network">Branches</a></div>
    </div>
  </div>

</header>
<div class="modal-fixed">
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <h2>Submit your application</h2>
        <form action="">
          <div class="input-row">
            <div class="input">
              <input type="text" placeholder="Имя"/>
            </div>
            <div class="input">
              <input type="text" placeholder="Фамилия"/>
            </div>
          </div>
          <div class="input">
            <input type="text" placeholder="Отчество"/>
          </div>
          <div class="input">
            <input type="text" placeholder="E-mail"/>
          </div>
          <div class="input">
            <input type="text" placeholder="Телефон"/>
          </div>
          <div class="input">
            <textarea placeholder="Сообщение"></textarea>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="modal-checkbox"/>
            <label class="label" for="modal-checkbox"></label>
            <label>I agree to the terms of information transfer</label>
          </div>
          <button type="submit">Send</button>
        </form>
        <div class="modal-close closeBut"></div>
      </div>
      <!--==============финишная модалка==============-->
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Submit your application</h3>
          <p>During the day, our specialists will process your data and will send an answer to your e-mail.</p>
          <div class="modal-finish-close closeBut">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-fixed" id="finishmodal" >
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Feedback</h3>
          <p>Soon our specialists will process your request and contact you.</p>
          <div class="modal-finish-close closeBut" onclick="hideModal()">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>





<main class="shares">
  <div class="crumb">
    <div class="container">
      <div class="crumb-content"><a href="/templates/enmplates/en">Home</a><a href="">Stocks</a><a href="">Shares</a></div>
    </div>
  </div>
  <div class="container">
    <section class="shares-content">
      <h1>Shares (IPO)</h1>
      <div class="shares-main-info">
        <div class="shares-text">
            <p style="text-align:justify"><span style="font-size:14px"><strong>OJSC Salym Finance MFC</strong> &nbsp;is one of the few financial and credit organizations that actively operates in the securities market and shows timely fulfillment of its obligations, dynamic development and transparency of its activities. In September 2020, a landmark event took place &ndash; for the first time in Kyrgyzstan, the issue and public offering of preferred shares was carried out. The issuer was our company, which previously had the experience of successfully placing 5 bond issues. As a result of the placement of preferred shares, the number of new shareholders was 47, including 2 legal entities.</span></p>
        </div>
        <div class="shares-documentation">
          <h3>Documentation</h3>
          <ul>
            
                <li><a href="/media/Условия-предложения_JxA0dmx.pdf">Terms of the offer</a></li>
            
                <li><a href="/media/Проспект-ОАО-МФК-Салым-Финанс_qtyzdTC.pdf">Offering prospectus</a></li>
            
          </ul>
        </div>
      </div>
    </section>
    <section class="bonds-table">
      <h2>Main parameters of the public offering of preferred shares:</h2>
      <div class="shareholders-table">
        <div class="shareholders-table-inner">
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Issue volume</div>
            <div class="shareholders-table-column">50 000 000 soms</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Number of preferred shares</div>
            <div class="shareholders-table-column">50 000 copies</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Nominal value</div>
            <div class="shareholders-table-column">1000 soms</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">The offer price</div>
            <div class="shareholders-table-column">1100 soms</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Fixed income</div>
            <div class="shareholders-table-column">160 soms in a year</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Payment of dividends</div>
            <div class="shareholders-table-column">After the end of the financial year, within the time frame established by the General Meeting of Shareholders</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Minimum sale package</div>
            <div class="shareholders-table-column">25 copies</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Liquidation value</div>
            <div class="shareholders-table-column">1000 soms</div>
          </div>
          
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Issue underwriter</div>
            <div class="shareholders-table-column">LLC Financial company «Senti»</div>
          </div>
          
        </div>
      </div>
      <div class="info-for-shareholders"><p>Shareholders &mdash; <strong>owners of preferred shares</strong> &mdash; have the <strong>advantage </strong>expressed in their right to receive an annual fixed amount of dividends, regardless of the size of the company&rsquo;s profit, and also have <strong>restrictions</strong> on the right to vote at the general meeting of shareholders on management issues.</p></div>
    </section>
    <section class="mission-company">
      <h2>OJSC MFC Salym Finance is the largest microfinance organization with domestic capital:</h2>
    <ul>
	<li>Assets &mdash;&nbsp;<u>3&nbsp;billion soms;</u></li>
	<li>Borrowers, depositors, and bondholders &mdash;&nbsp;<u>18,000;</u></li>
	<li>Branches throughout Kyrgyzstan &mdash;&nbsp;<u>23 offices;</u></li>
	<li><u>The number of staff &mdash; 170 employees.</u></li>
</ul>

<p><em>For questions regarding the activities of OJSC MFC Salym Finance and the acquisition of preferred shares, please call:&nbsp;<a href="tel:+996558550809">+996(558)550809</a></em></p>
    </section>
    <section class="shares-tabs">
      <h2>Frequently asked questions:</h2>
      <div class="bonds-tabs">
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">What are Preferred Shares?</div>
          <div class="tabs-content">A share is a security that gives the right of its holder (shareholder) to receive part of the profit in the form of dividends, to participate in the management of affairs, and to part of the property upon liquidation. Preferred shares - give the right to receive a fixed amount of dividends annually, and to part of the property, upon liquidation - and this is their privilege. For these shares, there are restrictions on the management of the company - for example, they cannot elect the governing bodies and determine the budget.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">How much is one preferred share worth?</div>
          <div class="tabs-content">The placement price (sale) is 1100 soms, and the par value of one preferred share is 1000 soms (for accounting purposes).</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">How much is the dividend per preferred share?</div>
          <div class="tabs-content">The amount of dividend per preferred share is 160 soms per year or 16% per annum.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">What do you need to buy preferred shares?</div>
          <div class="tabs-content">Come with your passport to the office of the &quot;SENTI&quot; company, at 219 Chui Ave., 9th floor. Phone numbers +996 (312) 61 45 89; +996 (700) 61 00 25; +996 (559) 61 00 25.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">What is an IPO?</div>
          <div class="tabs-content">This is a public offering of shares, i.e. the company&#39;s shares are offered to be bought by all interested parties.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">What is the Salym Finance company?</div>
          <div class="tabs-content">This is a microfinance company engaged in lending and attracting deposits:

- 13 years of experience in the market;
- one of the largest microfinance organizations in the country, with assets of 3 billion soms;
- serves over 18,000 clients;
- has 23 branches across the country and 170 employees in the state;
cooperates with international funds, has an international financial rating.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">What are the guarantees for the return of funds invested in Salym Finance shares?</div>
          <div class="tabs-content">When investing in shares of companies, including Salym Finance shares, the buyer needs to rely on information about the history and public reputation, as well as the financial condition of the company. To maintain the liquidity of its shares, Salym Finance plans to buy back up to 10% (up to 30 million soms) of all placed shares, i.e. this will allow the owners of shares to have the opportunity for a prompt return of the invested funds (if necessary). Also, according to the law, the issues of returning the funds invested in shares are determined during the liquidation of organizations - the owners of preferred shares have a priority right of priority to receive property over the owners of ordinary shares.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">Where can I see the history of creation, financial statements of OJSC MFC Salym Finance?</div>
          <div class="tabs-content">The history of creation, the financial statements of the Company can be found on the Company&#39;s website www.salymfinance.kg, as well as on the website of the underwriter www.senti.kg.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">When will dividend payments be made?</div>
          <div class="tabs-content">Payment of dividends on preferred shares will be made annually, at the end of the financial year after the General Meeting of Shareholders.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">Where can I get my dividends?</div>
          <div class="tabs-content">Payment of dividends on preferred shares is carried out in the office of MFC Salym Finance OJSC at 40 Manas ave.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">If it turns out that I buy preferred shares by the end of the placement period, how will the dividends be calculated?</div>
          <div class="tabs-content">Despite the fact that the first dividend period is shorter, you receive dividends in full in the amount of 160 KGS per share.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">In what form are preferred shares issued?</div>
          <div class="tabs-content">Preferred shares are issued in non-documentary form, in the form of entries on accounts.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">What is the liquidation value of one preferred share?</div>
          <div class="tabs-content">The liquidation value of one preferred share is 1000 soms.</div>
        </div>
        
        <div class="bonds-tabs__block">
          <div class="tabs-button">What are the rights of holders of preferred shares?</div>
          <div class="tabs-content">A shareholder has the following property rights:
- receive part of the profit (dividends) from the activities of the company and part of the - property of the company in the event of its liquidation;
- bequeath, sell, transfer (pledge) shares or part of them to citizens, legal entities, and other persons;
- in accordance with the charter of the company, to acquire the shares issued by the joint-stock company on a priority basis.

A shareholder has the following non-property rights:
- participate in managing the affairs of a joint-stock company in the manner prescribed by the Law of the Kyrgyz Republic “On joint-stock companies” and the charter of the company;
- defend in court their rights, challenge decisions made by the company, challenge in court the validity of the issue;
- receive information about the company&#39;s activities in the manner prescribed by the Law of the Kyrgyz Republic “On Joint Stock Companies” and the company&#39;s charter.</div>
        </div>
        
      </div>
    </section>
  </div>
</main>


<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__content">
        <div class="footer-top_contact">
          
            <div class="contact-block">
              <h4>Reception</h4>
              <ul>
                
                  <li><a href="tel:0 (312) 610 513">0 (312) 610 513</a></li>
                
                  <li><a href="tel:0 (550) 781 537">0 (550) 781 537</a></li>
                
              </ul>
            </div>
          
            <div class="contact-block">
              <h4>For lending</h4>
              <ul>
                
                  <li><a href="tel:0 (555) 781 556">0 (555) 781 556</a></li>
                
                  <li><a href="tel:0 (700) 781 556">0 (700) 781 556</a></li>
                
                  <li><a href="tel:0 (777) 781 556">0 (777) 781 556</a></li>
                
              </ul>
            </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="footer-center">
    <div class="container">
      <div class="footer-center__content">
        <div class="footer-center__block">
          <h4>Loans</h4>
          <ul>
            <li><a href="/templates/enmplates/en/credit">All loans</a></li>
            
              <li><a href="/templates/en/credit/ipoteka">Mortgage</a></li>
            
              <li><a href="/templates/en/credit/credit-za-chas">Credit per hour</a></li>
            
              <li><a href="/templates/en/credit/credit-na-obrazovanie">Education loan</a></li>
            
              <li><a href="/templates/en/credit/teplo-i-comfort">Credit &quot;Heat and comfort&quot;</a></li>
            
              <li><a href="/templates/en/credit/potrebitelskij-kredit">Consumer credit</a></li>
            
              <li><a href="/templates/en/credit/agrocredit">Agrocredit</a></li>
            
              <li><a href="/templates/en/credit/stroitelstvo-i-remont">Credit &quot;Construction and repair&quot;</a></li>
            
              <li><a href="/templates/en/credit/business-credit">For business development</a></li>
            
              <li><a href="/templates/en/credit/Business-Mortgage">Business-Mortgage</a></li>
            
              <li><a href="/templates/en/credit/credit-na-refinansirovanie">Refinancing loan</a></li>
            
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>About company</h4>
          <ul>
            <li><a href="/templates/enmplates/en/about/company">About us</a></li>
            <li><a href="/templates/enmplates/en/about/partners">Partners</a></li>
            <li><a href="/templates/enmplates/en/about/shareholders">Shareholders</a></li>
            <li><a href="/templates/enmplates/en/about/social">Social Responsibility</a></li>

            <li><a href="/templates/enmplates/en/about/license">Licenses</a></li>
            <li><a href="/templates/enmplates/en/report">Reports</a></li>
            <li><a href="/templates/enmplates/en/contacts">Contacts</a></li>
            <li><a href="/templates/enmplates/en/about/vacancy-list">Vacancies</a></li>
            <li><a href="/templates/enmplates/en/about/news">News</a></li>
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>Stocks</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/templates/enmplates/en/bonds">Bonds</a></li>
              <li><a href="/templates/enmplates/en/shares">Shares</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-center__block">
          <h4>Details</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/templates/enmplates/en/branch-network?filter=all">Branches</a></li>
              <li><a href="/templates/enmplates/en/about/payment-methods">Loan repayment methods</a></li>
              <li><a href="/templates/enmplates/en/about/deposit/payment-methods">Deposit replenishment methods</a></li>
              <li><a href="/templates/enmplates/en/bank-details">Реквизиты оплаты кредита</a></li>
              <li><a href="/templates/enmplates/en/bank-details/requisite">Реквизиты пополнения депозита</a></li>
            </ul>
            <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/">Instagram</a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/">Facebook</a>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__content"><span>OJSC MFC &quot;Salym Finance&quot; © 2007-2022</span>
        
          <a href="https://salymfinance.kg/media/Prosedure_for_consideration_applications_RU.pdf" target="_blank"><span>Prosedure for consideration applications</span></a>
        
        <a class="mitap" href="https://mitapp.pro/ru/">Made in MITAPP</a>

      </div>
    </div>
  </div>
</footer>

<script src="https://livechatv2.chat2desk.com/packs/ie-11-support.js"></script>

<script>
  window.chat24_token = "1d5e59d45f967ae224fbec78e1680a67";
  window.chat24_url = "https://livechatv2.chat2desk.com";
  window.chat24_socket_url ="wss://livechatv2.chat2desk.com/widget_ws_new";
  window.chat24_show_new_wysiwyg = "true";
  window.chat24_static_files_domain = "https://storage.chat2desk.com/";
  window.lang = "ru";
  window.fetch("".concat(window.chat24_url, "/packs/manifest.json?nocache=").concat(new Date().getTime())).then(function (res) {
    return res.json();
  }).then(function (data) {
    var chat24 = document.createElement("script");
    chat24.type = "text/javascript";
    chat24.async = true;
    chat24.src = "".concat(window.chat24_url).concat(data["application.js"]);
    document.body.appendChild(chat24);
  });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/vue/common.js"></script>
<script src="/js/libs.js"></script>
<script src="/libs/owl-carousel2/owl-carousel2.js"></script>
<script src="/libs/range-slider/ion.rangeSlider.min.js"></script>
<script src="/js/main.js"></script>

<script>
    $(document).ready(function () {
        $(".main-owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            nav: true,
            navContainerClass: 'owl-nav',

        });

    });
</script>
<script>
    function hideModal() {
        let elem = document.getElementById('finishmodal');
        elem.style.opacity = 0;
        elem.style.visibility = 'hidden';
    }
</script>

<script>
  $(document).ready(function () {
    $(".bonds-tabs__block .tabs-button").click(function () {
      $(this).siblings(".tabs-content").slideToggle()
    })
  })
</script>

</body>
</html>