{% extends 'base.html' %}
{% load static %}
{% block body %}
  {% for about in aboutus %}
  <main class="about-company">
    <div class="crumb">
      <div class="container">
        <div class="crumb-content"><a href="/static">Главная</a><a
            href="#">О нас</a></div>
      </div>
    </div>
    <section class="about-company-banner">
      <div class="banner-img"><img src="{{about.image.url}}" alt="load img" style="height: 480px">
        <div class="container">
          <div class="banner-description">
            <div class="ck-editor">
              <h3><h1>{{about.title}}</h1>
                  <p></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <section class="about-company__info">
        <div class="ck-editor">
          <p>{{about.text|safe}}</p>
        </div>
      </section>
    </div>
  </main>
  {% endfor %}
{% endblock body %}