{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLBY00H8E3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GLBY00H8E3');
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(71709628, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
       });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/71709628" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '599827717918759');
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=599827717918759&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
<!-- /Yandex.Metrika counter -->
  <meta name="facebook-domain-verification" content="ok6b4dhnmdy33bx7n8kq1dldvbhrhi" />
  <meta charset="UTF-8"/>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:title" content=""/>
  <meta property="og:image"
        content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content=""/>
  <meta name="author" content="MITAPP"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="theme-color" content="#ffffff"/>
  <link rel="shortcut icon" href="{% static 'img/svg/icon.svg' %}"/>
  <link rel="stylesheet" href="{% static 'fonts/Montserrat/stylesheet.css' %}"/>
  <link rel="stylesheet" href="{% static 'libs/owl-carousel2/owl-carousel2.css' %}"/>
  <link rel="stylesheet" href="{% static 'libs/range-slider/ion.rangeSlider.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

  <title>Главная - МКК ИслаМиКо Финанс</title>

</head>
<body >
<style>
  .loan-purchase .guarantee-advantages .guarantee-card {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
  .navigation ul {
    margin-right: 20px;
}
</style>
<header class="header">
  <div class="header-desktop">
    <div class="nav-top">
      <div class="container">
        <div class="nav-top__content">
          <div class="nav-top-left">
{#            <a href="/ru/"><div class="logo"><img src="{% static 'img/jpg/logo.png' %}" alt="load img"/></div></a>#}
            <a href="/ru/"><div class="logo"><h2>LOGOTIP</h2></div></a>

            <div class="lang">
                <div class="lang-but open-dropdown">
                
                  <a class="ru">Русский</a>
                
                </div>
                <div class="lang-but__content content-dropdown">
                
                  
                  <a class="active">
                  
                    <a class="active">Русский</a>

                  <a class=""href="/kg/">
                  
                    <a href="/kg/">Кыргызча</a>

                  <a class=""href="/templates/en/">
                  
                    <a href="/templates/en/">English</a>
                  
                
                </div>
            </div>
          </div>
          <div class="nav-top-right">
            <div class="header-tel">
              <div class="tel-but open-dropdown"><a>0 (555) 781 556</a></div>
              <div id="phone-dropdown" class="tel-but__content content-dropdown">
                
                  <a href="tel:0 (555) 781 556">0 (555) 781 556</a><br>
                
                  <a href="tel:0 (700) 781 556">0 (700) 781 556</a><br>
                
                  <a href="tel:0 (777) 781 556">0 (777) 781 556</a><br>
                
              </div>
            </div>
          <div class="social-link-all">
          <a class="whatsapp" href="https://www.instagram.com/salymfinancekg/"></a>
          <a class="insta" href="https://www.instagram.com/salymfinancekg/"></a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/"></a>
        </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-bottom">
      <div class="container">
        <div class="nav-bottom__content">
          <div class="navigation">
            <ul>

<li><a href="/ru/">Главная</a></li>
<li class="dropdown"><a >О компании</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/ru/about/company/">О нас</a></li>
            <li><a href="/ru/about/partners/">Партнеры</a></li>
            <li><a href="/ru/about/shareholders/">Акционеры</a></li>
          </ul>
          <ul>
            <li><a href="/ru/about/social/">Социальная ответственность</a></li>
            <li><a href="/ru/about/license/">Лицензии</a></li>
            <li><a href="/ru/about/vacancy-list/">Вакансии</a></li>
          </ul>
          <ul>
            <li><a href="/ru/about/news/">Новости</a></li>
            <li><a href="/ru/report/">Отчетность</a></li>
          </ul>
          <ul>
          </ul>
        </div>
      </div>
    </div>
</li>
<li class="dropdown"><a >Кредиты</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/ru/credit/">Все кредиты</a></li>
          </ul>
          <ul>
            
            <li><a href="/ru/credit/ipoteka">Ипотека</a></li>
            
            
            <li><a href="/ru/credit/credit-za-chas">Кредит за час</a></li>
            
            
            <li><a href="/ru/credit/credit-na-obrazovanie">Кредит на образование</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/ru/credit/teplo-i-comfort">Кредит &quot;Тепло и Комфорт&quot;</a></li>
            
            
            <li><a href="/ru/credit/potrebitelskij-kredit">Потребительский кредит</a></li>
            
            
            <li><a href="/ru/credit/agrocredit">Агрокредит</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/ru/credit/stroitelstvo-i-remont">Кредит &quot;Строительство и ремонт&quot;</a></li>
            
            
            <li><a href="/ru/credit/business-credit">На развитие бизнеса</a></li>
            
            
            <li><a href="/ru/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/ru/credit/credit-na-refinansirovanie">Кредит на рефинансирование</a></li>
            
            
          
        </div>
      </div>
    </div>
</li>

<li><a  href="/ru/deposit/deposit-salym/">Депозиты</a></li>

<li><a  href="/ru/money-transfer/">Переводы</a></li>
<li><a  href="/ru/guarantee/">Гарантии</a></li>
<li class="dropdown"><a >Ценные бумаги</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
              <li><a href="/ru/shares/">Акции</a></li>
              <li><a href="/ru/bonds/">Облигации</a></li>
          </ul>
        </div>
      </div>
    </div>
</li>



<li><a  href="/ru/payment-methods/">Способы оплаты</a></li>
<li><a  href="/ru/contacts/">Контакты</a></li>
              
            </ul>
          </div>
          <div class="header-search"><a href="/ru/search/"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-mobile">
    <div class="header-mobile__top">
      <div class="menu-hamburger">
        <div class="menu-hamburger__icon">
          <div class="icon-hamburger"><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <div class="logo"><a href="/ru/"><img src="/static/img/svg/logo.svg" alt="load img"/></a></div>
      <div class="header-search"><a href="/ru/search/"></a></div>
    </div>
    <div class="header-mobile-menu">
      <div class="navigation">
        <ul>
          

<li><a href="/ru/">Главная</a></li>
<li class="dropdown"><a href="#">Кредиты</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/ru/credit/">Кредиты</a></li>
        
        <li><a href="/ru/credit/ipoteka">Ипотека</a></li>
        
        <li><a href="/ru/credit/credit-za-chas">Кредит за час</a></li>
        
        <li><a href="/ru/credit/credit-na-obrazovanie">Кредит на образование</a></li>
        
        <li><a href="/ru/credit/teplo-i-comfort">Кредит &quot;Тепло и Комфорт&quot;</a></li>
        
        <li><a href="/ru/credit/potrebitelskij-kredit">Потребительский кредит</a></li>
        
        <li><a href="/ru/credit/agrocredit">Агрокредит</a></li>
        
        <li><a href="/ru/credit/stroitelstvo-i-remont">Кредит &quot;Строительство и ремонт&quot;</a></li>
        
        <li><a href="/ru/credit/business-credit">На развитие бизнеса</a></li>
        
        <li><a href="/ru/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
        
        <li><a href="/ru/credit/credit-na-refinansirovanie">Кредит на рефинансирование</a></li>
        
      </ul>
    </div>
</li>

<li><a href="/ru/deposit/deposit-salym/">Депозиты</a></li>


<li><a href="/ru/money-transfer/">Переводы</a></li>
<li><a href="/ru/guarantee/">Гарантии</a></li>
<li class="dropdown"><a href="#">Ценные бумаги</a>
    <div class="drop-down-hover">
      <ul>
          <li><a href="/ru/shares/">Акции</a></li>
          <li><a href="/ru/bonds/">Облигации</a></li>
      </ul>
    </div>
</li>

<li class="dropdown"><a href="#">О нас</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/ru/about/company/">О компании</a></li>
        <li><a href="/ru/about/partners/">Партнеры</a></li>
        <li><a href="/ru/about/shareholders/">Акционеры</a></li>
        <li><a href="/ru/about/social/">Социальная ответственность</a></li>

        <li><a href="/ru/about/license/">Лицензии</a></li>
        <li><a href="/ru/about/vacancy-list/">Вакансии</a></li>
        <li><a href="/ru/about/news/">Новости</a></li>

        <li><a href="/ru/report/">Отчетность</a></li>
      </ul>
    </div>
</li>

<li><a  href="/ru/payment-methods/">Способы оплаты</a></li>
<li><a href="/ru/contacts/">Контакты</a></li>
        </ul>
      </div>
      <div class="lang">
        <div class="lang-but">
          <div class="dropdown">
            
              <a class="ru">Русский</a>
            
            <div class="drop-content">

                  <a >Русский</a>

                  <a href="/kg/">Кыргызча</a>

                  <a href="/templates/en/">English</a>

            </div>
          </div>
        </div>
      </div>
      <div class="header-tel">
        <div class="tel-but">
          <div class="dropdown"><a>0 (555) 781 556</a>
            <div class="drop-content">
              <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (700) 781 556">0 (700) 781 556</a>
              
                <a href="tel:0 (777) 781 556">0 (777) 781 556</a>
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-local"><a class="ru" href="/ru/branch-network/">Филиальная сеть</a></div>
    </div>
  </div>

</header>
<div class="modal-fixed">
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <h2>Оставить заявку</h2>
        <form action="">
          <div class="input-row">
            <div class="input">
              <input type="text" placeholder="Имя"/>
            </div>
            <div class="input">
              <input type="text" placeholder="Фамилия"/>
            </div>
          </div>
          <div class="input">
            <input type="text" placeholder="Отчество"/>
          </div>
          <div class="input">
            <input type="text" placeholder="E-mail"/>
          </div>
          <div class="input">
            <input type="text" placeholder="Телефон"/>
          </div>
          <div class="input">
            <textarea placeholder="Сообщение"></textarea>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="modal-checkbox"/>
            <label class="label" for="modal-checkbox"></label>
            <label>Я согласен с условиями передачи информации</label>
          </div>
          <button type="submit">Отправить</button>
        </form>
        <div class="modal-close closeBut"></div>
      </div>
      <!--==============финишная модалка==============-->
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Оставить заявку</h3>
          <p>В течении дня наши специалисты обработают ваши данные и отправят ответ на вашу почту.</p>
          <div class="modal-finish-close closeBut">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-fixed" id="finishmodal" >
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Обратная связь</h3>
          <p>В скором времени наши специалисты обработают ваш запрос и свяжутся с Вами.</p>
          <div class="modal-finish-close closeBut" onclick="hideModal()">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>

    <main class="main">
      <section class="main-slider">
        <div class="owl-carousel main-owl-carousel">

            <div class="slider-img"><img src="{%  static 'img/jpg/mn1.jpg' %}" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Финансирование</h2>
                                <p class="dark">Мурабаха – это продажа в рассрочку с наценкой Банком какого-либо определенного актива Клиенту, ранее приобретенного самим Банком.
                                                Пример расчета дохода от сделки мурабаха!
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                </ul>
                                </p>
                        </div>
                            <div><a href="#">Подробнее</a></div>
                    </div>
                </div>
            </div>


            <div class="slider-img"><img src="{%  static 'img/jpg/mn1.jpg' %}" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>Финансирование</h2>
                                <p class="dark">Мудараба — это партнерство, где Банк участвует в обеспечении инвестиционного финансирования проекта (специального предприятия) определенного Клиента...

                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                </ul>
                                </p>
                        </div>
                            <div><a href="#">Подробнее</a></div>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <div class="container">
        <section class="view-card">
          <div class="row">
            <div class="card large-card" style="background-image: url(/media/%D0%BA%D1%80%D0%B5%D0%B4%D0%B8%D1%82%D1%8B_ohccQH7.jpg.904x420_q85_box-0%2C0%2C902%2C420_crop_detail.jpg)">
              <h3>«ИслаМиКо Финанс»</h3>
                <h4><span style="color: #777777"> Исла́мский банкинг (англ. islamic banking, араб. مصرفية إسلامية‎) — банковская деятельность, соответствующая принципам шариата, и её практическое применение посредством развития исламской экономики. Более корректный термин для исламского банкинга — финансовая деятельность, основанная на принципах шариата.
                    Шариат запрещает получение установленного процента или вознаграждения за предоставление займа (известного как «риба» или ростовщичество), независимо от того, были платежи по займу фиксированные или плавающие. Инвестиции в предприятия, которые предоставляют товары или услуги, противоречащие исламским принципам (напр., свинина или алкоголь) также «грешны и запрещены» (харам). Несмотря на то, что эти запреты исторически применялись в той или иной степени в мусульманских странах и общинах для предотвращения неисламской практики, только в конце XX века были основаны несколько банков для применения таких принципов к частным или получастным коммерческим институтам в мусульманском обществе.
                    </span>
                </h4>
{#              <ul class="grid">#}
{#                #}
{#                <li><a href="/ru/credit/ipoteka">Ипотека</a></li>#}
{#                #}
{#                <li><a href="/ru/credit/credit-za-chas">Кредит за час</a></li>#}
{#                #}
{#                <li><a href="/ru/credit/credit-na-obrazovanie">Кредит на образование</a></li>#}
{#                #}
{#                <li><a href="/ru/credit/teplo-i-comfort">Кредит &quot;Тепло и Комфорт&quot;</a></li>#}
{#                #}
{#                <li><a href="/ru/credit/potrebitelskij-kredit">Потребительский кредит</a></li>#}
{#                #}
{#                <li><a href="/ru/credit/agrocredit">Агрокредит</a></li>#}
{#                #}
{#                <li><a href="/ru/credit/stroitelstvo-i-remont">Кредит &quot;Строительство и ремонт&quot;</a></li>#}
{#                #}
{#                <li><a href="/ru/credit/business-credit">На развитие бизнеса</a></li>#}
{#                #}
{#                <li><a href="/ru/credit/Business-Mortgage">Бизнес-Ипотека</a></li>#}
{#                #}
{#                <li><a href="/ru/credit/credit-na-refinansirovanie">Кредит на рефинансирование</a></li>#}
{#                #}
{#              </ul>#}
{#              <div class="btn-group">#}
{#                  <a class="btn-red button" href="https://salymfinance.kg/ru/credit/#credit-calc">Подробнее</a>#}
{#                  <a class="btn-black button" href="/ru/about/payment-methods/">Способы погашения</a>#}
{#              </div>#}
            </div>


            <div class="card small-card" style="background-image: url(/media/%D0%B3%D0%B0%D1%80%D0%B0%D0%BD%D1%82%D0%B8%D0%B8-%D0%B4%D0%BB%D1%8F-%D1%81%D0%B0%D0%B9%D1%82%D0%B0-%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9-2_dKpAdW8.webp.280x420_q85_box-0%2C60%2C1120%2C1743_crop_detail.jpg)"><a href="https://salymfinance.kg/ru/guarantee/"></a>
              <h3><center>Cвяжитесь с нами!</center></h3>
              <center>
              <ul class="row-list">
              <li> 0555 000 000</li>
              <li> 0700 000 000</li>
              <li> 0777 000 000</li>
              <li> islamicofinance@gmail.com</li>
              </ul>
              </center>
            </div>
          </div>
          <div class="row">
{#            <div class="card large-card" style="background-image: url(/media/%D0%B4%D0%B5%D0%BF%D0%BE%D0%B7%D0%B8%D1%82_18_%D0%BB%D0%B8%D1%81%D1%82%D0%BE%D0%B2%D0%BA%D0%B8.png.592x450_q85_box-0%2C0%2C592%2C450_crop_detail.png)">#}
{#              <h3>Депозиты</h3>#}
{#              <ul class="row-list">#}
{##}
{#                <li><a style="text-decoration: none">Самые выгодные процентные ставки;</a></li>#}
{##}
{#                <li><a style="text-decoration: none">Срок до 36 месяцев;</a></li>#}
{##}
{#                <li><a style="text-decoration: none">Досрочное закрытие;</a></li>#}
{##}
{#                <li><a style="text-decoration: none">Система защиты в соответствии с Законом КР.</a></li>#}
{##}
{#              </ul>#}
{#              <div class="btn-group">#}
{#                  <a class="btn-red button" href="https://salymfinance.kg/ru/deposit/deposit-salym/">Подробнее</a>#}
{#                  <a class="btn-black button" href="/ru/about/deposit/payment-methods/">Способы пополнения</a>#}
{#              </div>#}
{#            </div>#}
            <div class="card small-card" style="background-image: url(/media/%D0%B0%D0%BA%D1%86%D0%B8%D0%B8_LW8G7AF.jpg.280x450_q85_box-008391350_crop_detail.webp.280x450_q85_box-0%2C0%2C280%2C450_crop_detail.jpg)"><a href="https://salymfinance.kg/ru/shares/"></a>
              <h3>Акции</h3>
              <p>Публичное предложение привилегированных акций (IPO)</p>
            </div>
            <div class="card small-card" style="background-image: url(/media/%D0%B0%D0%BA%D1%86%D0%B8%D0%B8_LW8G7AF.jpg.280x450_q85_box-008391350_crop_detail.webp.280x450_q85_box-0%2C0%2C280%2C450_crop_detail.jpg)"><a href="https://salymfinance.kg/ru/shares/"></a>
              <h3>Акции</h3>
              <p>Публичное предложение привилегированных акций (IPO)</p>
            </div>
            <div class="card small-card" style="background-image: url(/media/%D0%B0%D0%BA%D1%86%D0%B8%D0%B8_LW8G7AF.jpg.280x450_q85_box-008391350_crop_detail.webp.280x450_q85_box-0%2C0%2C280%2C450_crop_detail.jpg)"><a href="https://salymfinance.kg/ru/shares/"></a>
              <h3>Акции</h3>
              <p>Публичное предложение привилегированных акций (IPO)</p>
            </div>
            <div class="card small-card" style="background-image: url(/media/%D0%BE%D0%B1%D0%BB%D0%B8%D0%B3%D0%B0%D1%86%D0%B8%D1%8F_%D0%B8_%D0%B0%D0%BA%D1%86%D0%B8%D1%8F_a9oWHa3.png.280x450_q85_box-0%2C0%2C839%2C1350_crop_detail.png)"><a href="https://salymfinance.kg/ru/bonds/"></a>
              <h3>Облигации</h3>
              <p>Именные высокодоходные процентные облигации</p>
            </div>
          </div>
        </section>

<section class="news-section">
  <div class="news-section__heading">
    <h2>Новости</h2>
    <div class="button"><a href="/ru/about/news/">Все новости</a></div>
  </div>
  <div class="card-all">

    <div class="card">
      <div class="news-section__card">
        <div class="date">27 июля 2022 г.</div>
        <p>Филиал “Бишкек-Восток” переехал в новый офис по адресу: пр. Чуй 26/ул. 7 апреля.</p><a href="/ru/about/news/filial-bishkek-vostok-pereehal-v-novyj-ofis-po-adr/"></a>
      </div>
    </div>

    <div class="card">
      <div class="news-section__card">
        <div class="date">18 июля 2022 г.</div>
        <p>Открытие нового представительства в с. Ат-Башы</p><a href="/ru/about/news/otkrytie-novogo-predstavitelstva-v-s-bashy/"></a>
      </div>
    </div>

    <div class="card">
      <div class="news-section__card">
        <div class="date">7 июля 2022 г.</div>
        <p>График работы в предстоящий праздник.</p><a href="/ru/about/news/grafik-raboty-v-predstoyashij-prazdnik/"></a>
      </div>
    </div>

    <div class="card">
      <div class="news-section__card">
        <div class="date">24 июня 2022 г.</div>
        <p>Официальное открытие нового представительства МФК «Салым Финанс» в г. Кочкор-Ата.</p><a href="/ru/about/news/oficialnoe-otkrytie-novogo-predstavitelstva-mfk-sa/"></a>
      </div>
    </div>

  </div>
</section>
<section class="exchange-rates" id="checkboxForm">
<div class="exchange-rates__content">

<div class="exchange-rates__tabs">
  <div class="calculate-credit__heading">
    <h2>Курсы</h2>
    <p>Курс актуален на 23 августа 2022 г. 8:55</p>
  </div>
  <div class="exchange-rates__but-all">
{#    <div class="exchange-rates__but tabs-button-js">Наличные</div>#}
{#      <div class="exchange-rates__but tabs-button-js">Безналичные</div>#}
    <div class="exchange-rates__but tabs-button-js">Курсы НБКР</div>
  </div>
  <div class="exchange-rates__tabs-con-all">
{#    <div class="exchange-rates__tabs-con tabs-content-js">#}
{#      <div class="exchange-rates__row">#}
{#        <div class="currency">Валюта</div>#}
{#        <div class="buy">Покупка</div>#}
{#        <div class="sale">Продажа</div>#}
{#      </div>#}
{#      <div class="exchange-rates__row">#}
{#        <div class="currency">USD</div>#}
{#        <div class="buy">81,5000</div>#}
{#        <div class="sale">82,5000</div>#}
{#      </div>#}
{#      <div class="exchange-rates__row">#}
{#        <div class="currency">EUR</div>#}
{#        <div class="buy">83,0000</div>#}
{#        <div class="sale">84,0000</div>#}
{#      </div>#}
{#      <div class="exchange-rates__row">#}
{#        <div class="currency">RUB</div>#}
{#        <div class="buy">1,3000</div>#}
{#        <div class="sale">1,3700</div>#}
{#      </div>#}
{#      <div class="exchange-rates__row">#}
{#        <div class="currency">KZT</div>#}
{#        <div class="buy">0,1100</div>#}
{#        <div class="sale">0,1900</div>#}
{#      </div>#}
{#    </div>#}

{#      <div class="exchange-rates__tabs-con tabs-content-js">#}
{#      <div class="exchange-rates__row">#}
{#        <div class="currency">Валюта</div>#}
{#        <div class="buy">Покупка</div>#}
{#        <div class="sale">Продажа</div>#}
{#      </div>#}
{#      <div class="exchange-rates__row">#}
{#        <div class="currency">USD</div>#}
{#        <div class="buy">81,5000</div>#}
{#        <div class="sale">82,5000</div>#}
{#      </div>#}
{#      <div class="exchange-rates__row">#}
{#        <div class="currency">EUR</div>#}
{#        <div class="buy">83,0000</div>#}
{#        <div class="sale">84,0000</div>#}
{#      </div>#}
{#      <div class="exchange-rates__row">#}
{#        <div class="currency">RUB</div>#}
{#        <div class="buy">1,3000</div>#}
{#        <div class="sale">1,3700</div>#}
{#      </div>#}
{#      <div class="exchange-rates__row">#}
{#        <div class="currency">KZT</div>#}
{#        <div class="buy">0,1100</div>#}
{#        <div class="sale">0,1900</div>#}
{#      </div>#}
{#    </div>#}
    <div class="exchange-rates__tabs-con tabs-content-js">
      <div class="exchange-rates__row">
        <div class="currency">Валюта</div>
        <div class="buy">Курс</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">USD</div>
        <div class="buy" id="nbkr_usd">0</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">EUR</div>
        <div class="buy" id="nbkr_eur">0</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">RUB</div>
        <div class="buy" id="nbkr_rub">0</div>
      </div>
      <div class="exchange-rates__row">
        <div class="currency">KZT</div>
        <div class="buy" id="nbkr_kzt">0</div>
      </div>
    </div>
  </div>
    <div class="exchange-rates-wrapper">
            <p>
                ОАО МФК &quot;Салым Финанс&quot; оставляет за собой право устанавливать индивидуальные курсы для клиентов Компании.
            </p>
    </div>
</div>
            <div class="exchange-rates__right">
              <div class="calculate-credit__heading">
                <h2>Обратная связь</h2>
                <p>Вы можете задать вопрос или оставить заявку, и мы ответим вам</p>
              </div>
              <form id="indexForm" method="POST" action="/ru/f/">
                <input type="hidden" name="csrfmiddlewaretoken" value="wgemoIUZ6b3jSza8UIqVwVwBygOYIsiqnWx1UMNqmAlbxnUE0rHqv2eByXISRDvS">
                <div class="grid">
                  <div class="form-control">
                    <label>Имя</label>
                    <input required placeholder="Введите имя" name="name"/>
                  </div>
                  <div class="form-control">
                    <label>Фамилия</label>
                    <input required placeholder="Введите фамилию" name="surname"/>
                  </div>
                </div>
                <div class="form-control">
                  <label>Телефон</label>
                  <input required type="number" placeholder="+996 (000) 000 - 000" name="number"/>
                </div>
                <div class="form-control">
                  <label>Вопрос</label>
                  <input required placeholder="Задайте вопрос" name="message"/>
                </div>

                  <div class="checkbox" style="display:flex;">
                    <input type="checkbox" v-on:click="toggleCheckbox" :checked="isCheckbox" id="modal-checkbox-1"/>
                    <label class="label" for="modal-checkbox-1">
                      <div style="display:inline-block; margin-left: 5px; margin-bottom: 10px;">
                        Я соглашаюсь с условиями обработки и использования моих персональных данных⠀
                      </div>
                    </label>
                  </div>
                <input id="recaptcha" type="hidden" name="g-recaptcha-response" />
                <button type="submit" :style="{background: isCheckbox ? '#8B98A7' : '#d3d3d3'}"
                    :disabled="!isCheckbox">Отправить</button>
              </form>
            </div>
</div>
</section>


{#        <section class="mortgage">#}
{#          <div class="mortgage-banner" style="background-image: url(/media/%D0%BD%D0%B8%D0%B6%D0%BD%D0%B8%D0%B9_%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80.png.1216x420_q85_box-0%2C0%2C5079%2C1762_crop_detail.png)">#}
{#            <h2>Депозиты &quot;Салым&quot; и &quot;Салым Плюс&quot;</h2>#}
{#            <p>Приумножьте свой капитал с высокодоходными депозитами от &quot;Салым Финанс&quot;!#}
{#Доходность до 18% в сомах!#}
{#До 7% в долларах США! #}
{#Возможность капитализации.</p>#}
{#            <div class="grid">#}
{#              #}
{#            </div><a href="https://salymfinance.kg/ru/deposit/deposit-salym/">Подробнее</a>#}
{#          </div>#}
{#        </section>#}



{#        <section class="our-awards">#}
{#          <div class="calculate-credit__heading">#}
{#            <h2>Наши сертификаты</h2>#}
{#            <p>Подтверждения о соответствии</p>#}
{#          </div>#}
{#          <div class="our-awards__content">#}
{#            <div class="card-all" id="selector-gallery">#}
{#              #}
{#              <div class="card" data-src="/media/FR-certificate-Salym-Finance-Kyrgyz-republic-Sep19-1-1024x709_Q1gMo8c_YlpkNEH.webp">#}
{#                <div class="our-awards-img"><img src="/media/FR-certificate-Salym-Finance-Kyrgyz-republic-Sep19-1-1024x709_Q1gMo8c_YlpkNEH.webp" alt="load img"/></div>#}
{#              </div>#}
{#              #}
{#              <div class="card" data-src="/media/certificate_deposit_2xkobvB_J6TtQe8_SXiU8xI.webp">#}
{#                <div class="our-awards-img"><img src="/media/certificate_deposit_2xkobvB_J6TtQe8_SXiU8xI.webp" alt="load img"/></div>#}
{#              </div>#}
{#              #}
{#              <div class="card" data-src="/media/certificate-1024x778_OnJxVbx_QlvGTTF_yTuzdUy.webp">#}
{#                <div class="our-awards-img"><img src="/media/certificate-1024x778_OnJxVbx_QlvGTTF_yTuzdUy.webp" alt="load img"/></div>#}
{#              </div>#}
{#              #}
{#            </div>#}
{#          </div>#}
{#        </section>#}

      </div>
    </main>


<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__content">
        <div class="footer-top_contact">
          
            <div class="contact-block">
              <h4>Приемная</h4>
              <ul>
                
                  <li><a href="tel:0 (312) 610 513">0 (312) 610 513</a></li>
                
                  <li><a href="tel:0 (550) 781 537">0 (550) 781 537</a></li>
                
              </ul>
            </div>
          
            <div class="contact-block">
              <h4>По вопросам кредитования и депозитов</h4>
              <ul>
                
                  <li><a href="tel:0 (555) 781 556">0 (555) 781 556</a></li>
                
                  <li><a href="tel:0 (700) 781 556">0 (700) 781 556</a></li>
                
                  <li><a href="tel:0 (777) 781 556">0 (777) 781 556</a></li>
                
              </ul>
            </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="footer-center">
    <div class="container">
      <div class="footer-center__content">
        <div class="footer-center__block">
          <h4>Кредиты</h4>
          <ul>
            <li><a href="/ru/credit/">Все кредиты</a></li>
            
              <li><a href="/ru/credit/ipoteka">Ипотека</a></li>
            
              <li><a href="/ru/credit/credit-za-chas">Кредит за час</a></li>
            
              <li><a href="/ru/credit/credit-na-obrazovanie">Кредит на образование</a></li>
            
              <li><a href="/ru/credit/teplo-i-comfort">Кредит &quot;Тепло и Комфорт&quot;</a></li>
            
              <li><a href="/ru/credit/potrebitelskij-kredit">Потребительский кредит</a></li>
            
              <li><a href="/ru/credit/agrocredit">Агрокредит</a></li>
            
              <li><a href="/ru/credit/stroitelstvo-i-remont">Кредит &quot;Строительство и ремонт&quot;</a></li>
            
              <li><a href="/ru/credit/business-credit">На развитие бизнеса</a></li>
            
              <li><a href="/ru/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
            
              <li><a href="/ru/credit/credit-na-refinansirovanie">Кредит на рефинансирование</a></li>
            
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>О компании</h4>
          <ul>
            <li><a href="/ru/about/company/">О нас</a></li>
            <li><a href="/ru/about/partners/">Партнеры</a></li>
            <li><a href="/ru/about/shareholders/">Акционеры</a></li>
            <li><a href="/ru/about/social/">Социальная ответственность</a></li>

            <li><a href="/ru/about/license/">Лицензии</a></li>
            <li><a href="/ru/report/">Отчетность</a></li>
            <li><a href="/ru/contacts/">Контакты</a></li>
            <li><a href="/ru/about/vacancy-list/">Вакансии</a></li>
            <li><a href="/ru/about/news/">Новости</a></li>
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>Ценные бумаги</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/ru/bonds/">Облигации</a></li>
              <li><a href="/ru/shares/">Акции</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-center__block">
          <h4>Реквизиты</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/ru/branch-network/?filter=all">Филиальная сеть</a></li>
              <li><a href="/ru/about/payment-methods/">Способы погашения кредита</a></li>
              <li><a href="/ru/about/deposit/payment-methods/">Способы пополнения депозита</a></li>
              <li><a href="/ru/bank-details/">Реквизиты оплаты кредита</a></li>
              <li><a href="/ru/bank-details/requisite/">Реквизиты пополнения депозита</a></li>
            </ul>
            <div class="social-link-all">
          <a class="whatsapp" href="https://www.instagram.com/salymfinancekg/">Whatsapp</a>
          <a class="insta" href="https://www.instagram.com/salymfinancekg/">Instagram</a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/">Facebook</a>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__content"><span>ОАО МФК &quot;Салым Финанс&quot; © 2007-2022</span>
        
          <a href="https://salymfinance.kg/media/Prosedure_for_consideration_applications_RU.pdf" target="_blank"><span>Процедура рассмотрения обращения потребителей</span></a>
        
        <a class="mitap" href="https://mitapp.pro/ru/">Сделано в MITAPP</a>

      </div>
    </div>
  </div>
</footer>

<script src="https://livechatv2.chat2desk.com/packs/ie-11-support.js"></script>

<script>
  window.chat24_token = "1d5e59d45f967ae224fbec78e1680a67";
  window.chat24_url = "https://livechatv2.chat2desk.com";
  window.chat24_socket_url ="wss://livechatv2.chat2desk.com/widget_ws_new";
  window.chat24_show_new_wysiwyg = "true";
  window.chat24_static_files_domain = "https://storage.chat2desk.com/";
  window.lang = "ru";
  window.fetch("".concat(window.chat24_url, "/packs/manifest.json?nocache=").concat(new Date().getTime())).then(function (res) {
    return res.json();
  }).then(function (data) {
    var chat24 = document.createElement("script");
    chat24.type = "text/javascript";
    chat24.async = true;
    chat24.src = "".concat(window.chat24_url).concat(data["application.js"]);
    document.body.appendChild(chat24);
  });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/vue/common.js' %}"></script>
<script src="{% static 'js/libs.js' %}"></script>
<script src="{% static 'libs/owl-carousel2/owl-carousel2.js' %}"></script>
<script src="{% static 'libs/range-slider/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
    $(document).ready(function () {
        $(".main-owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            nav: true,
            navContainerClass: 'owl-nav',

        });

    });
</script>
<script>
    function hideModal() {
        let elem = document.getElementById('finishmodal');
        elem.style.opacity = 0;
        elem.style.visibility = 'hidden';
    }
</script>

<script>
    grecaptcha.ready(function () {
        $('#indexForm').submit(function (e) {
            var form = this;
            e.preventDefault()
            grecaptcha.execute('6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd', {action: 'indexForm'}).then(function (token) {
                $('#recaptcha').val(token)
                form.submit()
            });
        })
    });
</script>
<script>
function load_nbkr() {
  $.ajax({
        url: '/ru/get_nbkr',
        method: 'get',
        success: function (data) {
            $('#nbkr_usd').text(data.usd)
            $('#nbkr_eur').text(data.eur)
            $('#nbkr_rub').text(data.rub)
            $('#nbkr_kzt').text(data.kzt)
        },
        error: function (request, errorThrown, errorObject) {
            console.log(errorObject);
        }
    });
}
load_nbkr()
</script>
<script>
      $('#selector-gallery').lightGallery({
          selector: '.card'
      });
      $(document).ready(function () {
          $(".main-owl-carousel").owlCarousel({
              items: 1,
              loop: true,
              nav: true,
              navContainerClass: 'owl-nav',

          });

      });
      $(document).ready(function () {
          var $range = $(".js-range-slider"),
              $input = $(".js-input"),
              instance,
              min = 1000,
              max = 100000;

          $range.ionRangeSlider({
              skin: "big",
              min: min,
              max: max,
              step: 1000,
              hide_min_max: true,
              hide_from_to: true,
              onStart: function (data) {
                  $input.prop("value", data.from);
              },
              onChange: function (data) {
                  $input.prop("value", data.from);
              }
          });

          instance = $range.data("ionRangeSlider");

          $input.on("change keyup", function () {
              var val = $(this).prop("value");

              if (val < min) {
                  val = min;
              } else if (val > max) {
                  val = max;
              }

              instance.update({
                  from: val
              });
          });

      });
      $(document).ready(function () {
          var $range = $(".js-range-slider2"),
              $input = $(".js-input2"),
              instance,
              min = 1,
              max = 36;

          $range.ionRangeSlider({
              skin: "big",
              min: min,
              max: max,
              step: 1,
              hide_min_max: true,
              hide_from_to: true,
              onStart: function (data) {
                  $input.prop("value", data.from);
              },
              onChange: function (data) {
                  $input.prop("value", data.from);
              }
          });

          instance = $range.data("ionRangeSlider");

          $input.on("change keyup", function () {
              var val = $(this).prop("value");

              if (val < min) {
                  val = min;
              } else if (val > max) {
                  val = max;
              }

              instance.update({
                  from: val
              });
          });

      });
    </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="{% static 'js/vue/form_controller.js' %}"></script>


</body>
</html>