{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block body %}

<main class="main">
    <section class="main-slider">
        <div class="owl-carousel main-owl-carousel">
            {% for carousel in carousel_list%}
            <div class="slider-img"><img src="{{carousel.image.url}}" alt="load img">
                <div class="container">
                    <div class="banner-description">
                        <div class="ck-editor">
                            <h2>{{carousel.title}}</h2>
                            <p class="dark">{{carousel.paragraph}}
{#                            <ul>#}
{#                                <li>{{carousel.text}}</li>#}
{#                            </ul>#}
                            </p>
                        </div>
                        <div><a href="#">{% trans 'Подробнее' %}</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}


{#            <div class="slider-img"><img src="{% static 'img/jpg/mn1.jpg' %}" alt="load img">#}
{#                <div class="container">#}
{#                    <div class="banner-description">#}
{#                        <div class="ck-editor">#}
{#                            <h2>Финансирование</h2>#}
{#                            <p class="dark">Мудараба — это партнерство, где Банк участвует в обеспечении инвестиционного#}
{#                                финансирования проекта (специального предприятия) определенного Клиента...#}
{##}
{#                            <ul>#}
{#                                <li>1</li>#}
{#                                <li>2</li>#}
{#                                <li>3</li>#}
{#                            </ul>#}
{#                            </p>#}
{#                        </div>#}
{#                        <div><a href="#">Подробнее</a></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </section>

    <div class="container">
        <section class="view-card">
            <div class="row">
                <div class="card large-card" style="background-image: url({% static 'img/jpg/mn1.jpg' %})">
                    <h3>{% trans '«ИслаМиКо Финанс»' %}</h3>
                    <h4><span style="color: #777777">{% trans 'Текст' %}
                    </span>
                    </h4>
                </div>


                            <div class="card small-card" style="background-image: url({% static 'img/jpg/mn1.jpg' %})">
                              <h3><center>{% trans 'Свяжитесь с нами!' %}</center></h3>
                              <center>
                              <ul class="row-list">
                              <li> 0555 000 000</li>
                              <li> 0700 000 000</li>
                              <li> 0777 000 000</li>
                              <li> islamicofinance@gmail.com</li>
                              </ul>
                              </center>
                            </div>
            </div>
            <div class="row">

                <div class="card small-card"
                     style="background-image: url({% static 'img/jpg/mn1.jpg' %}); margin-left: 0;"><a
                        href="#"></a>
                    <h3>Мурабаха на потребительские цели</h3>
                    <p>Потребительское финансирования на приобретение различных товаров повседневного использования:
                       бытовая техника, мебель, компьютерная техника, средства связи и т.п.</p>
                </div>
                <div class="card small-card" style="background-image: url({% static 'img/jpg/mn1.jpg' %})"><a
                        href="#"></a>
                    <h3>Мурабаха-Универсал</h3>
                    <p>развития бизнеса(предпринимательское дело), которым недостаточно
                        собственных средств, для расширения собственного бизнеса</p>
                </div>
                <div class="card small-card" style="background-image: url({% static 'img/jpg/mn1.jpg' %})"><a
                        href="#"></a>
                    <h3>Мурабаха-Универсал</h3>
                    <p>строительство (покупка строительных материалов для личного пользования)</p>
                </div>
                <div class="card small-card" style="background-image: url({% static 'img/jpg/mn1.jpg' %})"><a
                        href="#"></a>
                    <h3>Мурабаха-Универсал</h3>
                    <p>развития сельского хозяйство (животноводство и растениеводство)</p>
                </div>
            </div>
        </section>

        <section class="news-section">
            <div class="news-section__heading">
                <h2>{% trans 'Новости' %}</h2>
                <div class="button"><a href="/ru/about/news/">{% trans 'Все новости' %}</a></div>
            </div>
            <div class="card-all">

                <div class="card">
                    <div class="news-section__card">
                        <div class="date">27 июля 2022 г.</div>
                        <p>Филиал “Бишкек-Восток” переехал в новый офис по адресу: пр. Чуй 26/ул. 7 апреля.</p><a
                            href="/ru/about/news/filial-bishkek-vostok-pereehal-v-novyj-ofis-po-adr/"></a>
                    </div>
                </div>

                <div class="card">
                    <div class="news-section__card">
                        <div class="date">18 июля 2022 г.</div>
                        <p>Открытие нового представительства в с. Ат-Башы</p><a
                            href="/ru/about/news/otkrytie-novogo-predstavitelstva-v-s-bashy/"></a>
                    </div>
                </div>

                <div class="card">
                    <div class="news-section__card">
                        <div class="date">7 июля 2022 г.</div>
                        <p>График работы в предстоящий праздник.</p><a
                            href="/ru/about/news/grafik-raboty-v-predstoyashij-prazdnik/"></a>
                    </div>
                </div>

                <div class="card">
                    <div class="news-section__card">
                        <div class="date">24 июня 2022 г.</div>
                        <p>Официальное открытие нового представительства МФК «Салым Финанс» в г. Кочкор-Ата.</p><a
                            href="/ru/about/news/oficialnoe-otkrytie-novogo-predstavitelstva-mfk-sa/"></a>
                    </div>
                </div>

            </div>
        </section>
        <section class="exchange-rates" id="checkboxForm">
            <div class="exchange-rates__content">

                <div class="exchange-rates__tabs">
                    <div class="calculate-credit__heading">
                        <h2>{% trans 'Курсы' %}</h2>
                        <p>Курс актуален {{ date }} г.</p>
                    </div>
                    <div class="exchange-rates__but-all">
                        <div class="exchange-rates__but tabs-button-js">{% trans 'Курсы НБКР' %}</div>
                    </div>
                    <div class="exchange-rates__tabs-con-all">
                        <div class="exchange-rates__tabs-con tabs-content-js">
                            <div class="exchange-rates__row">
                                <div class="currency">{% trans 'Валюта' %}</div>
                                <div class="buy">{% trans 'Курс' %}</div>
                            </div>
                            <div class="exchange-rates__row">
                                <div class="currency">USD</div>
                                <div class="buy" id="nbkr_usd">{{ exrate }}</div>
                            </div>
                            <div class="exchange-rates__row">
                                <div class="currency">EUR</div>
                                <div class="buy" id="nbkr_eur">{{ exrate1 }}</div>
                            </div>
                            <div class="exchange-rates__row">
                                <div class="currency">RUB</div>
                                <div class="buy" id="nbkr_rub">{{ exrate2 }}</div>
                            </div>
                            <div class="exchange-rates__row">
                                <div class="currency">KZT</div>
                                <div class="buy" id="nbkr_kzt">{{ exrate3 }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="exchange-rates__right">
                    <div class="calculate-credit__heading">
                        <h2>{% trans 'Обратная связь' %}</h2>
                        <p>{% trans 'Вы можете задать вопрос, и мы ответим вам' %}</p>
                    </div>
                    <form id="indexForm" method="POST" action="#">
                        {% csrf_token %}
                        <div class="grid">
                            <div class="form-control">
                                <label>{% trans 'Имя' %}</label>
                                <input required="required" placeholder="{% trans 'Введите имя' %}" name="name" type="text" id="name"/>
                            </div>
                            <div class="form-control">
                                <label>{% trans 'Фамилия' %}</label>
                                <input required="required" placeholder="{% trans 'Введите фамилию' %}" name="surname" type="text" id="surname"/>
                            </div>
                        </div>
                        <div class="form-control">
                            <label>{% trans 'Телефон' %}</label>
                            <input required="required" type="number" placeholder="+996 (000) 000 - 000" name="phone" id="phone"/>
                        </div>
                        <div class="form-control">
                            <label>{% trans 'Вопрос' %}</label>
                            <input required="required" placeholder="{% trans 'Задайте вопрос' %}" name="question" type="text" id="question"/>
                        </div>

                        <div class="checkbox" style="display:flex;">
                            <input type="checkbox" v-on:click="toggleCheckbox" :checked="isCheckbox"
                                   id="modal-checkbox-1"/>
                            <label class="label" for="modal-checkbox-1">
                                <div style="display:inline-block; margin-left: 5px; margin-bottom: 10px;">
                                    {% trans 'Я соглашаюсь с условиями обработки и использования моих персональных данных' %}⠀
                                </div>
                            </label>
                        </div>
                        <input id="recaptcha" type="hidden" name="g-recaptcha-response"/>
                        <button type="submit" :style="{background: isCheckbox ? '#8B98A7' : '#d3d3d3'}"
                                :disabled="!isCheckbox">{% trans 'Отправить' %}
                        </button>
                    </form>
                </div>
            </div>
        </section>

    </div>
</main>

{% endblock body %}