{% extends 'base.html' %}
{% load static %}
{% block body %}
<main class="shareholders">
  <div class="crumb">
    <div class="container">
      <div class="crumb-content"><a href="/static">Главная</a><a>Шариатский совет</a></div>
    </div>
  </div>
  <section class="about-company-banner">
    
    <div class="banner-img"><img src="/media/1254_rQyeGqO.jpg.1600x440_q85_box-0,201,15068,4342_crop_detail.jpg" alt="load img">
    
      <div class="container">
        <div class="banner-description">
          <h3>Акционеры</h3>
          <p>Акционеры ОАО МФК «Салым Финанс» представляют собой объединение отечественных бизнесменов и финансистов с целью создания и развития финансового учреждения представленного на микрофинансовом рынке.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="main-shareholders">
      
      <div class="shareholders-card-all">
        <div class="card-all">
          
          
          
          
          
          
          
          
          
        </div>
      </div>

      
      <div class="shareholders-table">
        <div class="shareholders-table-inner">
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">ФИО акционера</div>
            <div class="shareholders-table-column">Сфера деятельности</div>
          </div>
        
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Беделбаева Роза</div>
            <div class="shareholders-table-column">Частный предприниматель – деятельность на торговых рынках и в сельском хозяйстве</div>
          </div>
        
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Джумалиева Роза</div>
            <div class="shareholders-table-column">Частное предпринимательство в Кыргызстане. С 2010 года сотрудник ОАО МФК «Салым Финанс»</div>
          </div>
        
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Конушбаева Арууке</div>
            <div class="shareholders-table-column">Многоотраслевая компания «Байтур» — СПА-Услуги, Торговля, Строительство, Производство строительных материалов и мебели. Полная информации об истории компании «Байтур» на сайте www.baytur.kg</div>
          </div>
        
          <div class="shareholders-table-row">
            <div class="shareholders-table-column">Кыдырмаев Бакытбек</div>
            <div class="shareholders-table-column">Один из начинателей транзитной международной торговли: Китай – Кыргызстан — Казахстан, Россия — на рынке Дордой, является заместителем Председателя Профсоюзного комитета рынка «Дордой»</div>
          </div>
        
        </div>
      </div>
    
    </section>
  </div>
</main>
{% endblock body %}