{% extends 'base.html' %}
{% load static %}
{% block body %}

    <main class="credit">
      <div class="crumb">
        <div class="container">
          <div class="crumb-content">
              <a href="/ru/">Главная</a>
              <a>Кредиты</a>
          </div>
        </div>
      </div>
      <div class="container">
        <section class="credit-content">
          <h1> Кредиты</h1>
          <div class="card-all">
              
            <div class="card-credit-detail">
              <div class="credit-card__description">
                <h3>Ипотека</h3>
                <p class="dark">Ипотека от МФК &quot;Салым Финанс&quot; - недвижимость теперь доступней!</p>
                <ul>
	<li>Быстрое рассмотрение заявок;</li>
	<li>Досрочное погашение без предупреждения и без комиссий.</li>
</ul>
              </div>
              <div class="credit-card-but"><a href="/ru/credit/ipoteka">Подробнее</a></div>
              <div class="credit-card-img">
                  
                  <img src="/media/credit/%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B8%D0%B8_%D0%B8%D0%BF%D0%BE%D1%82%D0%B5%D0%BA%D0%B0.png.250x400_q85_box-128%2C0%2C1388%2C2014_crop_detail.png" alt="load img"/>
                  
              </div>
            </div>
            
            <div class="card-credit-detail">
              <div class="credit-card__description">
                <h3>Кредит за час</h3>
                <p class="dark">Без залога, без поручительства! 
Для тех, кто ценит свое время!</p>
                <ul>
	<li>Кредиты на любые цели;</li>
	<li>Срок рассмотрения от 1 часа;</li>
	<li>Сумма - до 200 тыс. сом.</li>
</ul>
              </div>
              <div class="credit-card-but"><a href="/ru/credit/credit-za-chas">Подробнее</a></div>
              <div class="credit-card-img">
                  
                  <img src="/media/credit/%D0%BA%D1%80%D0%B5%D0%B4%D0%B8%D1%82_%D0%B7%D0%B0_%D1%87%D0%B0%D1%81_NQ0w6iM.png.250x400_q85_box-1342713782014_crop_detail_WDLhBnS.png.250x400_q85_box-1%2C0%2C250%2C399_crop_detail.png" alt="load img"/>
                  
              </div>
            </div>
            
            <div class="card-credit-detail">
              <div class="credit-card__description">
                <h3>Кредит на образование</h3>
                <p class="dark">Начните уже сегодня приобретать новые знания и навыки вместе с кредитом на образование от МФК &quot;Салым Финанс&quot;!</p>
                <ul>
	<li>Сниженные процентные ставки;</li>
	<li>До 1.5 млн.&nbsp;сом;</li>
	<li>Досрочное погашение без предупреждений и комиссий!</li>
</ul>
              </div>
              <div class="credit-card-but"><a href="/ru/credit/credit-na-obrazovanie">Подробнее</a></div>
              <div class="credit-card-img">
                  
                  <img src="/media/credit/%D1%88%D0%B0%D0%BF%D0%BA%D0%B0_y6XT3Hh.png.250x400_q85_box-108%2C0%2C1368%2C2014_crop_detail.png" alt="load img"/>
                  
              </div>
            </div>
            
            <div class="card-credit-detail">
              <div class="credit-card__description">
                <h3>Кредит &quot;Тепло и Комфорт&quot;</h3>
                <p class="dark">Желаете утеплить свое жилье? Перейти на энергосберегающие виды отопления или пристроить благоустроенный санузел в дом? Заменить окна и двери? С кредитом &quot;Тепло и комфорт&quot; от МФК &quot;Салым Финанс&quot; ваши планы осуществятся!</p>
                <ul>
	<li>Быстрое рассмотрение заявок;</li>
	<li>До 500 тыс. сом без залога;</li>
	<li>Возможность поэтапного финансирования.</li>
</ul>
              </div>
              <div class="credit-card-but"><a href="/ru/credit/teplo-i-comfort">Подробнее</a></div>
              <div class="credit-card-img">
                  
                  <img src="/media/credit/%D0%B8%D0%BF%D0%BE%D1%82%D0%B5%D0%BA%D0%B0_%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B8%D0%B8_XVYDQoC.png.250x400_q85_box-0%2C0%2C375%2C600_crop_detail.png" alt="load img"/>
                  
              </div>
            </div>
            
            <div class="card-credit-detail">
              <div class="credit-card__description">
                <h3>Потребительский кредит</h3>
                <p class="dark">Не откладывайте мечту на завтра! С потребительским кредитом от МФК &quot;Салым Финанс&quot; вы можете осуществлять необходимые покупки быстрее!</p>
                <ul>
	<li>Быстрые сроки рассмотрения;</li>
	<li>Сумма - до 500 тыс.&nbsp;сом без залога;</li>
	<li>Досрочное погашение без предупреждения и без комиссий.</li>
</ul>
              </div>
              <div class="credit-card-but"><a href="/ru/credit/potrebitelskij-kredit">Подробнее</a></div>
              <div class="credit-card-img">
                  
                  <img src="/media/credit/%D0%BF%D0%BE%D1%82%D1%80%D0%B5%D0%B1_%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B8%D0%B9_MXs3WG4.png.250x400_q85_box-229027424017_crop_detail.png.250x400_q85_box-0%2C0%2C249%2C400_crop_detail.png" alt="load img"/>
                  
              </div>
            </div>
            
            <div class="card-credit-detail">
              <div class="credit-card__description">
                <h3>Агрокредит</h3>
                <p class="dark">С каникулами по платежам!</p>
                <ul>
	<li>Быстрое рассмотрение заявок;</li>
	<li>Сумма от 10 тыс. до 14 млн. сом;</li>
	<li>Индивидуальный график погашения, с каникулами по выплатам.</li>
</ul>
              </div>
              <div class="credit-card-but"><a href="/ru/credit/agrocredit">Подробнее</a></div>
              <div class="credit-card-img">
                  
                  <img src="/media/credit/%D0%B0%D0%B3%D1%80%D0%BE_YTh4Yl1_1QylURa.png.250x400_q85_box-430%2C0%2C5471%2C8056_crop_detail.png" alt="load img"/>
                  
              </div>
            </div>
            
            <div class="card-credit-detail">
              <div class="credit-card__description">
                <h3>Кредит &quot;Строительство и ремонт&quot;</h3>
                <p class="dark">Поэтапное финансирование строительства и ремонта жилья!</p>
                <ul>
	<li>Быстрое рассмотрение заявок;</li>
	<li>Сумма - до 14 млн. сом;</li>
	<li>Возможность поэтапного финансирования.</li>
</ul>
              </div>
              <div class="credit-card-but"><a href="/ru/credit/stroitelstvo-i-remont">Подробнее</a></div>
              <div class="credit-card-img">
                  
                  <img src="/media/credit/%D1%81%D1%82%D1%80%D0%BE%D0%B9_%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B8%D0%B9_35dbjcA.png.250x400_q85_box-2%2C0%2C376%2C598_crop_detail.png" alt="load img"/>
                  
              </div>
            </div>
            
            <div class="card-credit-detail">
              <div class="credit-card__description">
                <h3>На развитие бизнеса</h3>
                <p class="dark">Кредиты на действующий и стартовый бизнес!</p>
                &nbsp;
<ul>
	<li>Быстрое рассмотрение;</li>
	<li>Сумма до 14 млн.&nbsp;сом;</li>
	<li>Досрочное погашение кредита без предупреждения и комиссий!</li>
</ul>
              </div>
              <div class="credit-card-but"><a href="/ru/credit/business-credit">Подробнее</a></div>
              <div class="credit-card-img">
                  
                  <img src="/media/credit/%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81_%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B8%D0%B8_vHzgyn9.png.250x400_q85_box-108%2C0%2C1368%2C2014_crop_detail.png" alt="load img"/>
                  
              </div>
            </div>
            
            <div class="card-credit-detail">
              <div class="credit-card__description">
                <h3>Бизнес-Ипотека</h3>
                <p class="dark">Приобретайте помещения и земли для бизнеса в короткие сроки!</p>
                <ul>
	<li>Быстрое рассмотрение;</li>
	<li>Досрочное погашение кредита без предупреждения и комиссий;</li>
	<li>Сниженные проценты.</li>
</ul>
              </div>
              <div class="credit-card-but"><a href="/ru/credit/Business-Mortgage">Подробнее</a></div>
              <div class="credit-card-img">
                  
                  <img src="/media/credit/commercial_mortgage_ggMqCIZ.png.250x400_q85_box-457%2C0%2C5498%2C8056_crop_detail.png" alt="load img"/>
                  
              </div>
            </div>
            
            <div class="card-credit-detail">
              <div class="credit-card__description">
                <h3>Кредит на рефинансирование</h3>
                <p class="dark">Уменьшите размер ежемесячных платежей или получите дополнительные деньги на необходимые нужды!</p>
                <ul>
	<li>Рефинансирование параллельных кредитов и долгов;</li>
	<li>Объединение нескольких кредитов в один;</li>
	<li>Возможность получить дополнительные денежные средства.</li>
</ul>
              </div>
              <div class="credit-card-but"><a href="/ru/credit/credit-na-refinansirovanie">Подробнее</a></div>
              <div class="credit-card-img">
                  
                  <img src="/media/credit/%D1%834%D0%BA%D1%83%D0%B5%D1%83.png.250x400_q85_box-430%2C0%2C5471%2C8056_crop_detail.png" alt="load img"/>
                  
              </div>
            </div>
            
          </div>
        </section>
      </div>
    </main>
{% endblock body %}
