<!DOCTYPE html>
<html lang="ru">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLBY00H8E3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GLBY00H8E3');
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(71709628, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
       });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/71709628" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '599827717918759');
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=599827717918759&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
<!-- /Yandex.Metrika counter -->
  <meta name="facebook-domain-verification" content="ok6b4dhnmdy33bx7n8kq1dldvbhrhi" />
  <meta charset="UTF-8"/>
  <meta name="description" content="None">
  <meta name="keywords" content="None">
  <meta property="og:title" content="None"/>
  <meta property="og:image"
        content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content="https://salymfinance.kg/ru/contacts/"/>
  <meta name="author" content="MITAPP"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="theme-color" content="#ffffff"/>
  <link rel="shortcut icon" href="/img/svg/icon.svg"/>
  <link rel="stylesheet" href="/fonts/Montserrat/stylesheet.css"/>
  <link rel="stylesheet" href="/libs/owl-carousel2/owl-carousel2.css"/>
  <link rel="stylesheet" href="/libs/range-slider/ion.rangeSlider.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
  
  
  <title>Контакты - МФК Салым Финанс</title>





</head>
<body >
<style>
  .loan-purchase .guarantee-advantages .guarantee-card {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
  .navigation ul {
    margin-right: 20px;
}
</style>
<header class="header">
  <div class="header-desktop">
    <div class="nav-top">
      <div class="container">
        <div class="nav-top__content">
          <div class="nav-top-left">
            <a href="/ru"><div class="logo"><img src="/img/svg/logo.svg" alt="load img"/></div></a>


            <div class="lang">
              <div class="lang-but open-dropdown">
                
                  <a class="ru">Русский</a>
                
              </div>
              <div class="lang-but__content content-dropdown">
                
                  
                  <a class="active">
                  
                    <a class="active">Русский</a>
                  
                
                  
                  <a class=""href="/kg/contacts">
                  
                    <a href="/kg/contacts">Кыргызча</a>
                  
                
                  
                  <a class=""href="/templates/en/contacts">
                  
                    <a href="/templates/en/contacts">English</a>
                  
                
              </div>
            </div>
          </div>
          <div class="nav-top-right">
            <div class="header-tel">
              <div class="tel-but open-dropdown"><a>0 (555) 781 556</a></div>
              <div id="phone-dropdown" class="tel-but__content content-dropdown">
                
                  <a href="tel:0 (555) 781 556">0 (555) 781 556</a><br>
                
                  <a href="tel:0 (700) 781 556">0 (700) 781 556</a><br>
                
                  <a href="tel:0 (777) 781 556">0 (777) 781 556</a><br>
                
              </div>
            </div>
            <div class="header-local"><a class="ru" href="/ru/branch-network?filter=all">Филиальная сеть</a></div>
            <div class="dropdown">
              <div class="title">Обратная связь<span class="icon"></span></div>
              <div class="drop-content">
                
                  <a class="item" href="https://salymfinance.kg/contacts/">Обратная связь</a>
                
              </div>
            </div>
          <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/"></a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/"></a>
        </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-bottom">
      <div class="container">
        <div class="nav-bottom__content">
          <div class="navigation">
            <ul>
              
                


<li><a href="/ru">Главная</a></li>
<li class="dropdown"><a >О компании</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/ru/about/company">О нас</a></li>
            <li><a href="/ru/about/partners">Партнеры</a></li>
            <li><a href="/ru/about/shareholders">Акционеры</a></li>
          </ul>
          <ul>
            <li><a href="/ru/about/social">Социальная ответственность</a></li>
            <li><a href="/ru/about/license">Лицензии</a></li>
            <li><a href="/ru/about/vacancy-list">Вакансии</a></li>
          </ul>
          <ul>
            <li><a href="/ru/about/news">Новости</a></li>
            <li><a href="/ru/report">Отчетность</a></li>
          </ul>
          <ul>
          </ul>
        </div>
      </div>
    </div>
</li>
<li class="dropdown"><a >Кредиты</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
            <li><a href="/ru/credit">Все кредиты</a></li>
          </ul>
          <ul>
            
            <li><a href="/ru/credit/ipoteka">Ипотека</a></li>
            
            
            <li><a href="/ru/credit/credit-za-chas">Кредит за час</a></li>
            
            
            <li><a href="/ru/credit/credit-na-obrazovanie">Кредит на образование</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/ru/credit/teplo-i-comfort">Кредит &quot;Тепло и Комфорт&quot;</a></li>
            
            
            <li><a href="/ru/credit/potrebitelskij-kredit">Потребительский кредит</a></li>
            
            
            <li><a href="/ru/credit/agrocredit">Агрокредит</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/ru/credit/stroitelstvo-i-remont">Кредит &quot;Строительство и ремонт&quot;</a></li>
            
            
            <li><a href="/ru/credit/business-credit">На развитие бизнеса</a></li>
            
            
            <li><a href="/ru/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
            
                </ul>
                <ul>
            
            
            <li><a href="/ru/credit/credit-na-refinansirovanie">Кредит на рефинансирование</a></li>
            
            
          
        </div>
      </div>
    </div>
</li>





















<li><a  href="/ru/deposit/deposit-salym">Депозиты</a></li>

<li><a  href="/ru/money-transfer">Переводы</a></li>
<li><a  href="/ru/guarantee">Гарантии</a></li>
<li class="dropdown"><a >Ценные бумаги</a>
    <div class="drop-down-hover">
      <div class="container">
        <div class="flex">
          <ul>
              <li><a href="/ru/shares">Акции</a></li>
              <li><a href="/ru/bonds">Облигации</a></li>
          </ul>
        </div>
      </div>
    </div>
</li>



<li><a  href="/ru/payment-methods">Способы оплаты</a></li>
<li><a class="active" href="/ru/contacts/">Контакты</a></li>
              
            </ul>
          </div>
          <div class="header-search"><a href="/ru/search"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-mobile">
    <div class="header-mobile__top">
      <div class="menu-hamburger">
        <div class="menu-hamburger__icon">
          <div class="icon-hamburger"><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <div class="logo"><a href="/ru"><img src="/img/svg/logo.svg" alt="load img"/></a></div>
      <div class="header-search"><a href="/ru/search"></a></div>
    </div>
    <div class="header-mobile-menu">
      <div class="navigation">
        <ul>
          

<li><a href="/ru">Главная</a></li>
<li class="dropdown"><a href="#">Кредиты</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/ru/credit">Кредиты</a></li>
        
        <li><a href="/ru/credit/ipoteka">Ипотека</a></li>
        
        <li><a href="/ru/credit/credit-za-chas">Кредит за час</a></li>
        
        <li><a href="/ru/credit/credit-na-obrazovanie">Кредит на образование</a></li>
        
        <li><a href="/ru/credit/teplo-i-comfort">Кредит &quot;Тепло и Комфорт&quot;</a></li>
        
        <li><a href="/ru/credit/potrebitelskij-kredit">Потребительский кредит</a></li>
        
        <li><a href="/ru/credit/agrocredit">Агрокредит</a></li>
        
        <li><a href="/ru/credit/stroitelstvo-i-remont">Кредит &quot;Строительство и ремонт&quot;</a></li>
        
        <li><a href="/ru/credit/business-credit">На развитие бизнеса</a></li>
        
        <li><a href="/ru/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
        
        <li><a href="/ru/credit/credit-na-refinansirovanie">Кредит на рефинансирование</a></li>
        
      </ul>
    </div>
</li>











<li><a href="/ru/deposit/deposit-salym">Депозиты</a></li>


<li><a href="/ru/money-transfer">Переводы</a></li>
<li><a href="/ru/guarantee">Гарантии</a></li>
<li class="dropdown"><a href="#">Ценные бумаги</a>
    <div class="drop-down-hover">
      <ul>
          <li><a href="/ru/shares">Акции</a></li>
          <li><a href="/ru/bonds">Облигации</a></li>
      </ul>
    </div>
</li>

<li class="dropdown"><a href="#">О нас</a>
    <div class="drop-down-hover">
      <ul>
        <li><a href="/ru/about/company">О компании</a></li>
        <li><a href="/ru/about/partners">Партнеры</a></li>
        <li><a href="/ru/about/shareholders">Акционеры</a></li>
        <li><a href="/ru/about/social">Социальная ответственность</a></li>

        <li><a href="/ru/about/license">Лицензии</a></li>
        <li><a href="/ru/about/vacancy-list">Вакансии</a></li>
        <li><a href="/ru/about/news">Новости</a></li>

        <li><a href="/ru/report">Отчетность</a></li>
      </ul>
    </div>
</li>

<li><a  href="/ru/payment-methods">Способы оплаты</a></li>
<li><a href="/ru/contacts/">Контакты</a></li>
        </ul>
      </div>
      <div class="lang">
        <div class="lang-but">
          <div class="dropdown">
            
              <a class="ru">Русский</a>
            
            <div class="drop-content">
              
                
                
                  <a >Русский</a>
                
              
                
                
                  <a href="/kg/contacts">Кыргызча</a>
                
              
                
                
                  <a href="/templates/en/contacts">English</a>
                
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-tel">
        <div class="tel-but">
          <div class="dropdown"><a>0 (555) 781 556</a>
            <div class="drop-content">
              <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (555) 781 556">0 (555) 781 556</a>
              
                <a href="tel:0 (700) 781 556">0 (700) 781 556</a>
              
                <a href="tel:0 (777) 781 556">0 (777) 781 556</a>
              
            </div>
          </div>
        </div>
      </div>
      <div class="header-local"><a class="ru" href="/ru/branch-network">Филиальная сеть</a></div>
    </div>
  </div>

</header>
<div class="modal-fixed">
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <h2>Оставить заявку</h2>
        <form action="">
          <div class="input-row">
            <div class="input">
              <input type="text" placeholder="Имя"/>
            </div>
            <div class="input">
              <input type="text" placeholder="Фамилия"/>
            </div>
          </div>
          <div class="input">
            <input type="text" placeholder="Отчество"/>
          </div>
          <div class="input">
            <input type="text" placeholder="E-mail"/>
          </div>
          <div class="input">
            <input type="text" placeholder="Телефон"/>
          </div>
          <div class="input">
            <textarea placeholder="Сообщение"></textarea>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="modal-checkbox"/>
            <label class="label" for="modal-checkbox"></label>
            <label>Я согласен с условиями передачи информации</label>
          </div>
          <button type="submit">Отправить</button>
        </form>
        <div class="modal-close closeBut"></div>
      </div>
      <!--==============финишная модалка==============-->
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Оставить заявку</h3>
          <p>В течении дня наши специалисты обработают ваши данные и отправят ответ на вашу почту.</p>
          <div class="modal-finish-close closeBut">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-fixed" id="finishmodal" >
  <div class="modal-content">
    <div>
      <div class="modal-content__inner">
        <div class="modal-finish">
          <div class="modal-icon"></div>
          <h3>Обратная связь</h3>
          <p>В скором времени наши специалисты обработают ваш запрос и свяжутся с Вами.</p>
          <div class="modal-finish-close closeBut" onclick="hideModal()">ок</div>
        </div>
      </div>
    </div>
  </div>
</div>





<main class="contact"></main>
<div class="crumb">
  <div class="container">
  </div>
</div>
<div class="container">
  <section class="contact-content">
    <h1>Контакты</h1>
    <div class="card-all">
      
      <div class="card">
        <div class="ck-editor">
          <h3>Уважаемые клиенты!</h3>
          <p>Вы можете оставить отзыв о качестве предоставляемых услуг, обратиться с жалобой и внести предложения по улучшению деятельности Компании.</p>

<p>&nbsp;</p>

<p><strong>Свои обращения можете оставить:</strong></p>

<p>&nbsp; &nbsp; &nbsp; &bull; В книге отзывов и предложений</p>

<p>&nbsp; &nbsp; &nbsp; &bull; В ящике для жалоб и предложений</p>

<p>&nbsp; &nbsp; &nbsp; &bull; Позвонив по номеру 0555 781 503</p>

<p>&nbsp; &nbsp; &nbsp; &bull; На сайте&nbsp;<a href="http://www.salymfinance.kg/">www.salymfinance.kg</a></p>

<p>&nbsp; &nbsp; &nbsp; &bull; Обратиться в головной офис по адресу: г.Бишкек пр.Манаса 40 кабинет №1</p>

<p>&nbsp; &nbsp; &nbsp; &bull; Обратиться в отдел по защите прав потребителей Национального банка КР, г.Бишкек, ул. Уметалиева 101, 0312 614578</p>

<p>&nbsp;</p>

<p><strong>МФК &laquo;Салым Финанс&raquo; гарантирует своим клиентам оперативное и справедливое рассмотрение обращений и жалоб.&nbsp;</strong></p>
          <br>
        </div>
        
      </div>
      
      <div class="card">
        <div class="ck-editor">
          <h3>Адрес</h3>
          <p>Кыргызская Республика, г. Бишкек 720001<br />
Проспект Манаса 40 / Проспект Чуй 164</p>

<p>&nbsp;</p>

<p><span style="color:#c80000"><strong>Приемная:</strong></span><br />
0 (312) 610&nbsp;513<br />
0 (550) 781&nbsp;537</p>

<p><span style="color:#c80000"><strong>По вопросам кредитования:</strong></span><br />
0 (555) 781 556<br />
0 (700) 781 556<br />
0 (777) 781 556</p>

<p><span style="color:#c80000"><strong>По депозитам и облигациям:</strong></span><br />
0 (550) 781 501</p>
          <br>
        </div>
        
      </div>
      
    </div>
  </section>
  <section class="feedback" id="checkboxForm">
    <div class="feedback-heading">
      <h2>Обратная связь</h2>
      <p>Вы можете оставить отзыв о качестве предоставляемых услуг, обратиться с жалобой и внести предложения по улучшению деятельности Компании. Свои обращения можете оставить:</p>
    </div>
    <div class="feedback-form">
      <form id="contactForm" action="/ru/apply/contact-us/" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="vRbKbV4e1UXbHSHIProt1RnZHHhRaUKXmxupHZXFhjf3mGreVaFY0Y5ZHobLj5Xp">
        <div class="input"><span>Имя</span>
          <input type="text" name="name" required placeholder="Как вас зовут?"/>
        </div>
        <div class="input"><span>E-mail</span>
          <input type="email" name="email" required placeholder="Укажите ваш электронный адрес"/>
        </div>

        <div class="input"><span>Номер</span>
          <input type="tel" name="number" required placeholder="Укажите ваш номер телефона"/>
        </div>
        <div class="input"><span>Тема</span>
          <select name="theme">
            <option value="Не указана">Выберите тему обращения</option>
            
            <option value="Кредиты">Кредиты</option>
            
            <option value="Депозиты и облигации">Депозиты и облигации</option>
            
            <option value="Другое">Другое</option>
            
          </select>
        </div>
        <div class="input"><span>Сообщения</span>
          <textarea name="message" required placeholder="Напишите комментарий"></textarea>
        </div>
        <div class="checkbox" style="display:flex;">
          <input type="checkbox" v-on:click="toggleCheckbox" :checked="isCheckbox" id="modal-checkbox-1"/>
          <label class="label" for="modal-checkbox-1">
            <div style="display:inline-block; margin-left: 5px; margin-bottom: 10px;">
              Я соглашаюсь с условиями обработки и использования моих персональных данных⠀
            </div>
          </label>
        </div>
        <input id="recaptcha" type="hidden" name="g-recaptcha-response" />
        <button type="submit" :style="{background: isCheckbox ? '#8B98A7' : '#d3d3d3'}"
                    :disabled="!isCheckbox">Отправить</button>
      </form>
    </div>
  </section>
</div>


<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__content">
        <div class="footer-top_contact">
          
            <div class="contact-block">
              <h4>Приемная</h4>
              <ul>
                
                  <li><a href="tel:0 (312) 610 513">0 (312) 610 513</a></li>
                
                  <li><a href="tel:0 (550) 781 537">0 (550) 781 537</a></li>
                
              </ul>
            </div>
          
            <div class="contact-block">
              <h4>По вопросам кредитования и депозитов</h4>
              <ul>
                
                  <li><a href="tel:0 (555) 781 556">0 (555) 781 556</a></li>
                
                  <li><a href="tel:0 (700) 781 556">0 (700) 781 556</a></li>
                
                  <li><a href="tel:0 (777) 781 556">0 (777) 781 556</a></li>
                
              </ul>
            </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="footer-center">
    <div class="container">
      <div class="footer-center__content">
        <div class="footer-center__block">
          <h4>Кредиты</h4>
          <ul>
            <li><a href="/ru/credit">Все кредиты</a></li>
            
              <li><a href="/ru/credit/ipoteka">Ипотека</a></li>
            
              <li><a href="/ru/credit/credit-za-chas">Кредит за час</a></li>
            
              <li><a href="/ru/credit/credit-na-obrazovanie">Кредит на образование</a></li>
            
              <li><a href="/ru/credit/teplo-i-comfort">Кредит &quot;Тепло и Комфорт&quot;</a></li>
            
              <li><a href="/ru/credit/potrebitelskij-kredit">Потребительский кредит</a></li>
            
              <li><a href="/ru/credit/agrocredit">Агрокредит</a></li>
            
              <li><a href="/ru/credit/stroitelstvo-i-remont">Кредит &quot;Строительство и ремонт&quot;</a></li>
            
              <li><a href="/ru/credit/business-credit">На развитие бизнеса</a></li>
            
              <li><a href="/ru/credit/Business-Mortgage">Бизнес-Ипотека</a></li>
            
              <li><a href="/ru/credit/credit-na-refinansirovanie">Кредит на рефинансирование</a></li>
            
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>О компании</h4>
          <ul>
            <li><a href="/ru/about/company">О нас</a></li>
            <li><a href="/ru/about/partners">Партнеры</a></li>
            <li><a href="/ru/about/shareholders">Акционеры</a></li>
            <li><a href="/ru/about/social">Социальная ответственность</a></li>

            <li><a href="/ru/about/license">Лицензии</a></li>
            <li><a href="/ru/report">Отчетность</a></li>
            <li><a href="/ru/contacts/">Контакты</a></li>
            <li><a href="/ru/about/vacancy-list">Вакансии</a></li>
            <li><a href="/ru/about/news">Новости</a></li>
          </ul>
        </div>
        <div class="footer-center__block">
          <h4>Ценные бумаги</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/ru/bonds">Облигации</a></li>
              <li><a href="/ru/shares">Акции</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-center__block">
          <h4>Реквизиты</h4>
          <div class="mitap-block">
            <ul>
              <li><a href="/ru/branch-network?filter=all">Филиальная сеть</a></li>
              <li><a href="/ru/about/payment-methods">Способы погашения кредита</a></li>
              <li><a href="/ru/about/deposit/payment-methods">Способы пополнения депозита</a></li>
              <li><a href="/ru/bank-details">Реквизиты оплаты кредита</a></li>
              <li><a href="/ru/bank-details/requisite">Реквизиты пополнения депозита</a></li>
            </ul>
            <div class="social-link-all">
          <a class="insta" href="https://www.instagram.com/salymfinancekg/">Instagram</a>
          <a class="facebook" href="https://www.facebook.com/salymfinance/">Facebook</a>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__content"><span>ОАО МФК &quot;Салым Финанс&quot; © 2007-2022</span>
        
          <a href="https://salymfinance.kg/media/Prosedure_for_consideration_applications_RU.pdf" target="_blank"><span>Процедура рассмотрения обращения потребителей</span></a>
        
        <a class="mitap" href="https://mitapp.pro/ru/">Сделано в MITAPP</a>

      </div>
    </div>
  </div>
</footer>

<script src="https://livechatv2.chat2desk.com/packs/ie-11-support.js"></script>

<script>
  window.chat24_token = "1d5e59d45f967ae224fbec78e1680a67";
  window.chat24_url = "https://livechatv2.chat2desk.com";
  window.chat24_socket_url ="wss://livechatv2.chat2desk.com/widget_ws_new";
  window.chat24_show_new_wysiwyg = "true";
  window.chat24_static_files_domain = "https://storage.chat2desk.com/";
  window.lang = "ru";
  window.fetch("".concat(window.chat24_url, "/packs/manifest.json?nocache=").concat(new Date().getTime())).then(function (res) {
    return res.json();
  }).then(function (data) {
    var chat24 = document.createElement("script");
    chat24.type = "text/javascript";
    chat24.async = true;
    chat24.src = "".concat(window.chat24_url).concat(data["application.js"]);
    document.body.appendChild(chat24);
  });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/vue/common.js"></script>
<script src="/js/libs.js"></script>
<script src="/libs/owl-carousel2/owl-carousel2.js"></script>
<script src="/libs/range-slider/ion.rangeSlider.min.js"></script>
<script src="/js/main.js"></script>

<script>
    $(document).ready(function () {
        $(".main-owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            nav: true,
            navContainerClass: 'owl-nav',

        });

    });
</script>
<script>
    function hideModal() {
        let elem = document.getElementById('finishmodal');
        elem.style.opacity = 0;
        elem.style.visibility = 'hidden';
    }
</script>

    <script src="/js/vue/form_controller.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    grecaptcha.ready(function () {
        $('#contactForm').submit(function (e) {
            var form = this;
            e.preventDefault()
            grecaptcha.execute('6Lcaa0UaAAAAAHjn8Wr5k3PZrx2Pfz-l33EDKtFd', {action: 'contactForm'}).then(function (token) {
                $('#recaptcha').val(token)
                form.submit()
            });
        })
    });
</script>

</body>
</html>